In [40]:
%matplotlib inline

import pandas

import matplotlib.pyplot as plt

import numpy

pandas.__version__

u'0.17.0'

In [41]:
pandas.read_csv("Subsidiesnonfuel.csv")

,ID,Cnumber,RegionID,RegionName,Type,SubType,Category,ReEst_Subsidy2009,NewData,Developed,HDI_2005,Countries,%SSFsubsidies_assessed,weighted_by_sectorsize,Data_group,%SSF_totalCatch_EEZ,%SSF_totalCatch_Country,SSF_USD_1000
0,1418,608,2,Asia,A1,Fisheries mangt.,Good,150317.400345,False,Developing,0.771,Philippines,28.662420,TRUE,3,28.662420,25.475502,43084.605195
1,1419,608,2,Asia,A2,Fishery R&D,Good,106929.633393,False,Developing,0.771,Philippines,25.475502,TRUE,3,28.662420,25.475502,27240.860867
2,1420,608,2,Asia,A3,MPAs,Good,14325.450291,False,Developing,0.771,Philippines,28.662420,TRUE,3,28.662420,25.475502,4106.020784
3,1421,608,2,Asia,B1,Boat constsruct. & renov.,Bad,291723.649784,False,Developing,0.771,Philippines,25.475502,TRUE,3,28.662420,25.475502,74318.064163
4,1422,608,2,Asia,B2,Fisheries dev. projects,Bad,5987.405124,True,Developing,0.771,Philippines,25.475502,TRUE,3,28.662420,25.475502,1525.321511
5,1423,608,2,Asia,B3,Fishing port develop.,Bad,0.000000,False,Developing,0.771,Philippines,NaN,NaN,NaN,28.662420,25.475502,NaN
6,1424,608,2,Asia,B4,Markt. & storage infrast.,Bad,2305.468110,False,Developing,0.771,Philippines,20.000000,FALSE,1,28.662420,25.475502,461.093622
7,1425,608,2,Asia,B5,Tax exemption,Bad,92663.171127,False,Developing,0.771,Philippines,0.000000,FALSE,2,28.662420,25.475502,0.000000
8,1426,608,2,Asia,B6,Fishing access,Bad,0.000000,False,Developing,0.771,Philippines,NaN,NaN,NaN,28.662420,25.475502,NaN
9,1428,608,2,Asia,C1,Fisher assistance,Ugly,35605.265432,True,Developing,0.771,Philippines,100.000000,FALSE,1,28.662420,25.475502,35605.265432
10,1429,608,2,Asia,C2,Vessel buyback,Ugly,0.000000,False,Developing,0.771,Philippines,NaN,NaN,NaN,28.662420,25.475502,NaN
11,1430,608,2,Asia,C3,Rural fisher communities,Ugly,21737.044519,False,Developing,0.771,Philippines,100.000000,FALSE,1,28.662420,25.475502,21737.044519
12,820,356,2,Asia,A1,Fisheries mangt.,Good,6450.238140,True,Developing,0.619,India,42.381331,TRUE,3,42.381331,41.498407,2733.696798
13,821,356,2,Asia,A2,Fishery R&D,Good,2179.113474,True,Developing,0.619,India,41.498407,TRUE,3,42.381331,41.498407,904.297382
14,822,356,2,Asia,A3,MPAs,Good,1781.843735,False,Developing,0.619,India,42.381331,TRUE,3,42.381331,41.498407,755.169097
15,823,356,2,Asia,B1,Boat constsruct. & renov.,Bad,4035.395412,True,Developing,0.619,India,0.000000,FALSE,2,42.381331,41.498407,0.000000
16,824,356,2,Asia,B2,Fisheries dev. projects,Bad,3751.334747,True,Developing,0.619,India,20.000000,FALSE,1,42.381331,41.498407,750.266949
17,825,356,2,Asia,B3,Fishing port develop.,Bad,4062.029933,True,Developing,0.619,India,17.000000,FALSE,1,42.381331,41.498407,690.545089
18,826,356,2,Asia,B4,Markt. & storage infrast.,Bad,4035.395412,True,Developing,0.619,India,25.000000,FALSE,1,42.381331,41.498407,1008.848853
19,827,356,2,Asia,B5,Tax exemption,Bad,123957.406261,False,Developing,0.619,India,20.000000,FALSE,1,42.381331,41.498407,24791.481252
20,828,356,2,Asia,B6,Fishing access,Bad,0.000000,False,Developing,0.619,India,NaN,NaN,NaN,42.381331,41.498407,NaN
21,830,356,2,Asia,C1,Fisher assistance,Ugly,5084.598507,True,Developing,0.619,India,41.498407,TRUE,3,42.381331,41.498407,2110.027391
22,831,356,2,Asia,C2,Vessel buyback,Ugly,0.000000,False,Developing,0.619,India,NaN,NaN,NaN,42.381331,41.498407,NaN
23,832,356,2,Asia,C3,Rural fisher communities,Ugly,2905.485033,True,Developing,0.619,India,100.000000,FALSE,1,42.381331,41.498407,2905.485033
24,1756,764,2,Asia,A1,Fisheries mangt.,Good,18538.640909,False,Developing,0.781,Thailand,42.279905,TRUE,3,42.279905,13.560304,7838.119773
25,1757,764,2,Asia,A2,Fishery R&D,Good,2067.787646,False,Developing,0.781,Thailand,13.560304,TRUE,3,42.279905,13.560304,280.398288
26,1758,764,2,Asia,A3,MPAs,Good,2884.411251,False,Developing,0.781,Thailand,42.279905,TRUE,3,42.279905,13.560304,1219.526338
27,1759,764,2,Asia,B1,Boat constsruct. & renov.,Bad,58456.068748,False,Developing,0.781,Thailand,25.000000,FALSE,1,42.279905,13.560304,14614.017187
28,1760,764,2,Asia,B2,Fisheries dev. projects,Bad,242.934986,True,Developing,0.781,Thailand,13.560304,TRUE,3,42.279905,13.560304,32.942722
29,1761,764,2,Asia,B3,Fishing port develop.,Bad,8015.852723,True,Developing,0.781,Thailand,0.000000,FALSE,2,42.279905,13.560304,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
774,1502,642,1,Europe,B4,Markt. & storage infrast.,Bad,25694.478873,True,Developing,0.813,Romania,1.300000,1,3,91.666667,1.269394,334.028225
775,1503,642,1,Europe,B5,Tax exemption,Bad,47.431407,False,Developing,0.813,Romania,1.300000,1,3,91.666667,1.269394,0.616608
776,1504,642,1,Europe,B6,Fishing access,Bad,0.000000,False,Developing,0.813,Romania,NaN,NaN,NaN,91.666667,1.269394,NaN
777,1506,642,1,Europe,C1,Fisher assistance,Ugly,10.566188,True,Developing,0.813,Romania,1.300000,1,3,91.666667,1.269394,0.137360
778,1507,642,1,Europe,C2,Vessel buyback,Ugly,0.000000,False,Developing,0.813,Romania,NaN,NaN,NaN,91.666667,1.269394,NaN
779,1508,642,1,Europe,C3,Rural fisher communities,Ugly,0.000000,False,Developing,0.813,Romania,NaN,NaN,NaN,91.666667,1.269394,NaN
780,1860,804,1,Europe,A1,Fisheries mangt.,Good,9039.338360,False,Developing,0.788,Ukraine,10.300000,1,3,10.292729,3.028619,931.051851
781,1861,804,1,Europe,A2,Fishery R&D,Good,0.000000,False,Developing,0.788,Ukraine,NaN,NaN,NaN,10.292729,3.028619,NaN
782,1862,804,1,Europe,A3,MPAs,Good,815.509180,False,Developing,0.788,Ukraine,10.300000,1,3,10.292729,3.028619,83.997446
783,1863,804,1,Europe,B1,Boat constsruct. & renov.,Bad,16357.036931,False,Developing,0.788,Ukraine,3.000000,1,3,10.292729,3.028619,490.711108
784,1864,804,1,Europe,B2,Fisheries dev. projects,Bad,6.506637,True,Developing,0.788,Ukraine,3.000000,1,3,10.292729,3.028619,0.195199
785,1865,804,1,Europe,B3,Fishing port develop.,Bad,0.000000,False,Developing,0.788,Ukraine,NaN,NaN,NaN,10.292729,3.028619,NaN
786,1866,804,1,Europe,B4,Markt. & storage infrast.,Bad,0.000000,False,Developing,0.788,Ukraine,NaN,NaN,NaN,10.292729,3.028619,NaN
787,1867,804,1,Europe,B5,Tax exemption,Bad,0.000000,False,Developing,0.788,Ukraine,NaN,NaN,NaN,10.292729,3.028619,NaN
788,1868,804,1,Europe,B6,Fishing access,Bad,0.000000,False,Developing,0.788,Ukraine,NaN,NaN,NaN,10.292729,3.028619,NaN
789,1870,804,1,Europe,C1,Fisher assistance,Ugly,0.000000,False,Developing,0.788,Ukraine,NaN,NaN,NaN,10.292729,3.028619,NaN
790,1871,804,1,Europe,C2,Vessel buyback,Ugly,0.000000,False,Developing,0.788,Ukraine,NaN,NaN,NaN,10.292729,3.028619,NaN
791,1872,804,1,Europe,C3,Rural fisher communities,Ugly,1218.802917,False,Developing,0.788,Ukraine,100.000000,0,3,10.292729,3.028619,1218.802917
792,469,208,1,Europe,A1,Fisheries mangt.,Good,27710.195182,True,Developed,0.949,Denmark,7.800000,1,3,7.759108,6.799901,2161.395224
793,470,208,1,Europe,A2,Fishery R&D,Good,12472.157835,True,Developed,0.949,Denmark,7.800000,1,3,7.759108,6.799901,972.828311
794,471,208,1,Europe,A3,MPAs,Good,27261.643121,False,Developed,0.949,Denmark,7.800000,1,3,7.759108,6.799901,2126.408163
795,472,208,1,Europe,B1,Boat constsruct. & renov.,Bad,26508.544867,True,Developed,0.949,Denmark,6.800000,1,3,7.759108,6.799901,1802.581051
796,473,208,1,Europe,B2,Fisheries dev. projects,Bad,0.000000,True,Developed,0.949,Denmark,NaN,NaN,NaN,7.759108,6.799901,NaN
797,474,208,1,Europe,B3,Fishing port develop.,Bad,0.000000,False,Developed,0.949,Denmark,NaN,NaN,NaN,7.759108,6.799901,NaN
798,475,208,1,Europe,B4,Markt. & storage infrast.,Bad,18192.846849,True,Developed,0.949,Denmark,18.300000,0,2,7.759108,6.799901,3329.290973
799,476,208,1,Europe,B5,Tax exemption,Bad,0.000000,False,Developed,0.949,Denmark,NaN,NaN,NaN,7.759108,6.799901,NaN
800,477,208,1,Europe,B6,Fishing access,Bad,2867.290462,True,Developed,0.949,Denmark,0.000000,1,3,7.759108,6.799901,0.000000
801,479,208,1,Europe,C1,Fisher assistance,Ugly,23594.021906,True,Developed,0.949,Denmark,5.100000,0,2,7.759108,6.799901,1203.295117
802,480,208,1,Europe,C2,Vessel buyback,Ugly,7601.016403,True,Developed,0.949,Denmark,0.000000,0,3,7.759108,6.799901,0.000000
803,481,208,1,Europe,C3,Rural fisher communities,Ugly,0.000000,False,Developed,0.949,Denmark,NaN,NaN,NaN,7.759108,6.799901,NaN

In [79]:
subdata = pandas.read_csv("Subsidiesnonfuel.csv")

subdata.head()

,ID,Cnumber,RegionID,RegionName,Type,SubType,Category,ReEst_Subsidy2009,NewData,Developed,HDI_2005,Countries,%SSFsubsidies_assessed,weighted_by_sectorsize,Data_group,%SSF_totalCatch_EEZ,%SSF_totalCatch_Country,SSF_USD_1000
0,1418,608,2,Asia,A1,Fisheries mangt.,Good,150317.400345,False,Developing,0.771,Philippines,28.662420,TRUE,3,28.66242,25.475502,43084.605195
1,1419,608,2,Asia,A2,Fishery R&D,Good,106929.633393,False,Developing,0.771,Philippines,25.475502,TRUE,3,28.66242,25.475502,27240.860867
2,1420,608,2,Asia,A3,MPAs,Good,14325.450291,False,Developing,0.771,Philippines,28.662420,TRUE,3,28.66242,25.475502,4106.020784
3,1421,608,2,Asia,B1,Boat constsruct. & renov.,Bad,291723.649784,False,Developing,0.771,Philippines,25.475502,TRUE,3,28.66242,25.475502,74318.064163
4,1422,608,2,Asia,B2,Fisheries dev. projects,Bad,5987.405124,True,Developing,0.771,Philippines,25.475502,TRUE,3,28.66242,25.475502,1525.321511

In [53]:
subdata1 = subdata.loc[:,['RegionName', 'Countries', 'Type','ReEst_Subsidy2009','%SSFsubsidies_assessed', 'SSF_USD_1000','weighted_by_sectorsize', 'Data_group','%SSF_totalCatch_EEZ','%SSF_totalCatch_Country']]

In [54]:
subdata1

,RegionName,Countries,Type,ReEst_Subsidy2009,%SSFsubsidies_assessed,SSF_USD_1000,weighted_by_sectorsize,Data_group,%SSF_totalCatch_EEZ,%SSF_totalCatch_Country
0,Asia,Philippines,A1,150317.400345,28.662420,43084.605195,TRUE,3,28.662420,25.475502
1,Asia,Philippines,A2,106929.633393,25.475502,27240.860867,TRUE,3,28.662420,25.475502
2,Asia,Philippines,A3,14325.450291,28.662420,4106.020784,TRUE,3,28.662420,25.475502
3,Asia,Philippines,B1,291723.649784,25.475502,74318.064163,TRUE,3,28.662420,25.475502
4,Asia,Philippines,B2,5987.405124,25.475502,1525.321511,TRUE,3,28.662420,25.475502
5,Asia,Philippines,B3,0.000000,NaN,NaN,NaN,NaN,28.662420,25.475502
6,Asia,Philippines,B4,2305.468110,20.000000,461.093622,FALSE,1,28.662420,25.475502
7,Asia,Philippines,B5,92663.171127,0.000000,0.000000,FALSE,2,28.662420,25.475502
8,Asia,Philippines,B6,0.000000,NaN,NaN,NaN,NaN,28.662420,25.475502
9,Asia,Philippines,C1,35605.265432,100.000000,35605.265432,FALSE,1,28.662420,25.475502
10,Asia,Philippines,C2,0.000000,NaN,NaN,NaN,NaN,28.662420,25.475502
11,Asia,Philippines,C3,21737.044519,100.000000,21737.044519,FALSE,1,28.662420,25.475502
12,Asia,India,A1,6450.238140,42.381331,2733.696798,TRUE,3,42.381331,41.498407
13,Asia,India,A2,2179.113474,41.498407,904.297382,TRUE,3,42.381331,41.498407
14,Asia,India,A3,1781.843735,42.381331,755.169097,TRUE,3,42.381331,41.498407
15,Asia,India,B1,4035.395412,0.000000,0.000000,FALSE,2,42.381331,41.498407
16,Asia,India,B2,3751.334747,20.000000,750.266949,FALSE,1,42.381331,41.498407
17,Asia,India,B3,4062.029933,17.000000,690.545089,FALSE,1,42.381331,41.498407
18,Asia,India,B4,4035.395412,25.000000,1008.848853,FALSE,1,42.381331,41.498407
19,Asia,India,B5,123957.406261,20.000000,24791.481252,FALSE,1,42.381331,41.498407
20,Asia,India,B6,0.000000,NaN,NaN,NaN,NaN,42.381331,41.498407
21,Asia,India,C1,5084.598507,41.498407,2110.027391,TRUE,3,42.381331,41.498407
22,Asia,India,C2,0.000000,NaN,NaN,NaN,NaN,42.381331,41.498407
23,Asia,India,C3,2905.485033,100.000000,2905.485033,FALSE,1,42.381331,41.498407
24,Asia,Thailand,A1,18538.640909,42.279905,7838.119773,TRUE,3,42.279905,13.560304
25,Asia,Thailand,A2,2067.787646,13.560304,280.398288,TRUE,3,42.279905,13.560304
26,Asia,Thailand,A3,2884.411251,42.279905,1219.526338,TRUE,3,42.279905,13.560304
27,Asia,Thailand,B1,58456.068748,25.000000,14614.017187,FALSE,1,42.279905,13.560304
28,Asia,Thailand,B2,242.934986,13.560304,32.942722,TRUE,3,42.279905,13.560304
29,Asia,Thailand,B3,8015.852723,0.000000,0.000000,FALSE,2,42.279905,13.560304
...,...,...,...,...,...,...,...,...,...,...
774,Europe,Romania,B4,25694.478873,1.300000,334.028225,1,3,91.666667,1.269394
775,Europe,Romania,B5,47.431407,1.300000,0.616608,1,3,91.666667,1.269394
776,Europe,Romania,B6,0.000000,NaN,NaN,NaN,NaN,91.666667,1.269394
777,Europe,Romania,C1,10.566188,1.300000,0.137360,1,3,91.666667,1.269394
778,Europe,Romania,C2,0.000000,NaN,NaN,NaN,NaN,91.666667,1.269394
779,Europe,Romania,C3,0.000000,NaN,NaN,NaN,NaN,91.666667,1.269394
780,Europe,Ukraine,A1,9039.338360,10.300000,931.051851,1,3,10.292729,3.028619
781,Europe,Ukraine,A2,0.000000,NaN,NaN,NaN,NaN,10.292729,3.028619
782,Europe,Ukraine,A3,815.509180,10.300000,83.997446,1,3,10.292729,3.028619
783,Europe,Ukraine,B1,16357.036931,3.000000,490.711108,1,3,10.292729,3.028619
784,Europe,Ukraine,B2,6.506637,3.000000,0.195199,1,3,10.292729,3.028619
785,Europe,Ukraine,B3,0.000000,NaN,NaN,NaN,NaN,10.292729,3.028619
786,Europe,Ukraine,B4,0.000000,NaN,NaN,NaN,NaN,10.292729,3.028619
787,Europe,Ukraine,B5,0.000000,NaN,NaN,NaN,NaN,10.292729,3.028619
788,Europe,Ukraine,B6,0.000000,NaN,NaN,NaN,NaN,10.292729,3.028619
789,Europe,Ukraine,C1,0.000000,NaN,NaN,NaN,NaN,10.292729,3.028619
790,Europe,Ukraine,C2,0.000000,NaN,NaN,NaN,NaN,10.292729,3.028619
791,Europe,Ukraine,C3,1218.802917,100.000000,1218.802917,0,3,10.292729,3.028619
792,Europe,Denmark,A1,27710.195182,7.800000,2161.395224,1,3,7.759108,6.799901
793,Europe,Denmark,A2,12472.157835,7.800000,972.828311,1,3,7.759108,6.799901
794,Europe,Denmark,A3,27261.643121,7.800000,2126.408163,1,3,7.759108,6.799901
795,Europe,Denmark,B1,26508.544867,6.800000,1802.581051,1,3,7.759108,6.799901
796,Europe,Denmark,B2,0.000000,NaN,NaN,NaN,NaN,7.759108,6.799901
797,Europe,Denmark,B3,0.000000,NaN,NaN,NaN,NaN,7.759108,6.799901
798,Europe,Denmark,B4,18192.846849,18.300000,3329.290973,0,2,7.759108,6.799901
799,Europe,Denmark,B5,0.000000,NaN,NaN,NaN,NaN,7.759108,6.799901
800,Europe,Denmark,B6,2867.290462,0.000000,0.000000,1,3,7.759108,6.799901
801,Europe,Denmark,C1,23594.021906,5.100000,1203.295117,0,2,7.759108,6.799901
802,Europe,Denmark,C2,7601.016403,0.000000,0.000000,0,3,7.759108,6.799901
803,Europe,Denmark,C3,0.000000,NaN,NaN,NaN,NaN,7.759108,6.799901

In [57]:
subdata1.groupby('Countries').mean()

,ReEst_Subsidy2009,%SSFsubsidies_assessed,SSF_USD_1000,Data_group,%SSF_totalCatch_EEZ,%SSF_totalCatch_Country
Countries,,,,,,
Angola,10237.880012,46.600420,6109.903975,2.444444,44.575137,46.050702
Argentina,15979.380763,6.634602,611.834535,2.333333,16.685018,17.343202
Australia,35837.897925,28.869204,11879.476657,2.833333,19.461492,17.146119
Brazil,45608.799719,41.769922,22155.662561,2.222222,51.260412,52.316106
Cameroon,990.648636,59.840000,863.139366,NaN,74.771689,82.493703
Canada,91007.679915,4.643931,8063.195950,2.857143,6.131213,3.991331
Chile,11351.295369,35.358258,1709.074080,2.000000,69.392954,75.615910
China,210190.868001,17.032798,41477.915756,2.727273,35.600970,23.241135
Costa Rica,1073.009658,35.827459,845.831718,2.800000,25.350318,28.436658
Cuba,1346.602773,87.330906,4823.427914,3.000000,90.100000,81.792717
Denmark,12183.976386,6.700000,1449.474855,2.750000,7.759108,6.799901
Ecuador,4932.331802,14.998022,2178.627775,2.200000,21.900000,15.595055
Egypt,1127.413503,17.144118,518.710874,2.400000,27.060440,20.563674
France,34127.767835,19.513450,7426.333288,2.500000,40.432985,22.117134
Gabon,652.323399,58.671429,545.499090,2.428571,27.942422,63.461538
Ghana,4624.453590,65.787314,3360.967781,2.250000,56.467555,51.549627
Greece,16242.584746,38.352000,6414.687254,2.700000,59.786667,51.024124
Guinea,3288.542253,34.714286,1436.631677,2.285714,21.500000,75.952478
Guyana,5122.745877,50.739556,3592.673992,2.000000,51.700000,51.355662
Iceland,11101.947357,2.688381,624.343314,2.833333,3.534304,3.020560
India,13186.903388,34.975948,3664.981784,1.900000,42.381331,41.498407
Indonesia,35228.434495,28.834670,8011.045486,2.000000,22.323870,10.800000
Iran,18273.395463,63.648061,21317.400888,2.166667,58.052126,57.892057
Italy,22854.271894,10.847683,4740.709816,3.000000,14.656489,11.655200
Jamaica,1723.885137,100.000000,3447.770273,2.000000,100.000000,100.000000
Japan,374127.513827,23.394121,102663.265541,2.454545,23.586724,11.800000
Korea Rep,64341.036597,8.450000,10496.490943,2.200000,16.380902,17.293921
Madagascar,943.662988,57.175000,973.066951,2.250000,73.744951,83.311604
Malaysia,14868.794981,21.706250,4169.263199,2.125000,22.118858,29.133010
Mauritania,2172.164258,44.287500,1932.395514,2.125000,4.300000,38.465310
...,...,...,...,...,...,...
New Zealand,6236.045610,13.938178,5215.147006,3.000000,13.938178,22.236906
Nicaragua,1620.591055,30.421414,798.869744,2.333333,31.500000,21.800000
Nigeria,4318.805580,60.739052,5286.356928,2.250000,66.616027,68.156207
Norway,22984.137388,13.150000,4156.356467,2.625000,10.098171,8.287195
Panama,4079.933333,26.641002,1377.571636,2.333333,16.400000,13.523007
Papua N Guin,50869.420079,4.305707,1028.671581,2.125000,9.400476,15.640194
Peru,21497.898870,20.471699,6678.957072,2.125000,8.596049,9.334413
Philippines,60132.874011,39.305705,23119.808455,2.222222,28.662420,25.475502
Poland,32761.333460,4.737049,2291.121790,2.875000,11.944444,3.748910
Romania,4793.924519,35.200000,2592.223556,3.000000,91.666667,1.269394
Russian Fed,105606.848385,6.296975,6460.175954,2.375000,15.181599,16.068940
Saudi Arabia,2737.823284,65.783333,1892.328823,2.500000,64.926740,71.688574
Senegal,655.593497,48.016667,521.876046,2.166667,44.073841,50.575668
Seychelles,346.603044,26.600000,88.652629,2.200000,11.111111,8.970976
Sierra Leone,1433.326612,64.850000,1719.008575,2.250000,76.444043,80.769231
South Africa,2793.865418,8.143379,682.545162,3.000000,8.143379,8.143379
Spain,87672.317557,5.581822,3244.714927,2.300000,7.788784,2.664720
Sri Lanka,15658.776182,34.360000,17172.380793,2.200000,49.069849,52.457786
Suriname,1949.716690,73.877486,2982.741417,2.400000,51.891892,65.603645
Sweden,13316.042310,4.564919,845.201161,3.000000,5.259676,6.863597
Taiwan,19641.616463,15.050000,4181.085542,2.125000,23.400309,7.867387
Thailand,20751.304339,30.582302,5947.252696,2.222222,42.279905,13.560304
Tunisia,503.747685,23.678512,292.792155,2.800000,26.210526,26.433121
Turkey,8611.960294,27.066667,2148.807551,2.833333,16.188242,14.977017
UK,27065.342389,4.484090,1293.287501,2.800000,3.603992,8.057232
USA,333834.087210,17.028063,89570.155273,3.000000,26.719067,19.473750
Ukraine,2286.432835,25.320000,544.951704,3.000000,10.292729,3.028619
Vanuatu,5507.010832,14.072941,1951.440046,3.000000,21.301775,6.844106
Venezuela,3865.063680,66.219926,5447.439804,2.333333,94.310345,75.698865
Viet Nam,54213.987808,22.979514,18100.874352,2.666667,31.833732,37.108916

In [73]:
subdata.loc[:,['RegionName','Countries', 'Type' ,'ReEst_Subsidy2009','SSF_USD_1000']]

    RegionName    Countries Type  ReEst_Subsidy2009  SSF_USD_1000
0         Asia  Philippines   A1      150317.400345  43084.605195
1         Asia  Philippines   A2      106929.633393  27240.860867
2         Asia  Philippines   A3       14325.450291   4106.020784
3         Asia  Philippines   B1      291723.649784  74318.064163
4         Asia  Philippines   B2        5987.405124   1525.321511
5         Asia  Philippines   B3           0.000000           NaN
6         Asia  Philippines   B4        2305.468110    461.093622
7         Asia  Philippines   B5       92663.171127      0.000000
8         Asia  Philippines   B6           0.000000           NaN
9         Asia  Philippines   C1       35605.265432  35605.265432
10        Asia  Philippines   C2           0.000000           NaN
11        Asia  Philippines   C3       21737.044519  21737.044519
12        Asia        India   A1        6450.238140   2733.696798
13        Asia        India   A2        2179.113474    904.297382
14        Asia        India   A3        1781.843735    755.169097
15        Asia        India   B1        4035.395412      0.000000
16        Asia        India   B2        3751.334747    750.266949
17        Asia        India   B3        4062.029933    690.545089
18        Asia        India   B4        4035.395412   1008.848853
19        Asia        India   B5      123957.406261  24791.481252
20        Asia        India   B6           0.000000           NaN
21        Asia        India   C1        5084.598507   2110.027391
22        Asia        India   C2           0.000000           NaN
23        Asia        India   C3        2905.485033   2905.485033
24        Asia     Thailand   A1       18538.640909   7838.119773
25        Asia     Thailand   A2        2067.787646    280.398288
26        Asia     Thailand   A3        2884.411251   1219.526338
27        Asia     Thailand   B1       58456.068748  14614.017187
28        Asia     Thailand   B2         242.934986     32.942722
29        Asia     Thailand   B3        8015.852723      0.000000
..         ...          ...  ...                ...           ...
774     Europe      Romania   B4       25694.478873    334.028225
775     Europe      Romania   B5          47.431407      0.616608
776     Europe      Romania   B6           0.000000           NaN
777     Europe      Romania   C1          10.566188      0.137360
778     Europe      Romania   C2           0.000000           NaN
779     Europe      Romania   C3           0.000000           NaN
780     Europe      Ukraine   A1        9039.338360    931.051851
781     Europe      Ukraine   A2           0.000000           NaN
782     Europe      Ukraine   A3         815.509180     83.997446
783     Europe      Ukraine   B1       16357.036931    490.711108
784     Europe      Ukraine   B2           6.506637      0.195199
785     Europe      Ukraine   B3           0.000000           NaN
786     Europe      Ukraine   B4           0.000000           NaN
787     Europe      Ukraine   B5           0.000000           NaN
788     Europe      Ukraine   B6           0.000000           NaN
789     Europe      Ukraine   C1           0.000000           NaN
790     Europe      Ukraine   C2           0.000000           NaN
791     Europe      Ukraine   C3        1218.802917   1218.802917
792     Europe      Denmark   A1       27710.195182   2161.395224
793     Europe      Denmark   A2       12472.157835    972.828311
794     Europe      Denmark   A3       27261.643121   2126.408163
795     Europe      Denmark   B1       26508.544867   1802.581051
796     Europe      Denmark   B2           0.000000           NaN
797     Europe      Denmark   B3           0.000000           NaN
798     Europe      Denmark   B4       18192.846849   3329.290973
799     Europe      Denmark   B5           0.000000           NaN
800     Europe      Denmark   B6        2867.290462      0.000000
801     Europe      Denmark   C1       23594.021906   1203.295117
802     Europe      Denmark   C2        7601.016403      0.000000
803     Europe      Denmark   C3           0.000000           NaN

[804 rows x 5 columns]

In [76]:
subdata2 = subdata.loc[:,['RegionName','Countries','Type' ,'ReEst_Subsidy2009','SSF_USD_1000']]

In [71]:
subdata2.groupby(['RegionName','Countries']).sum()

                                                    ReEst_Subsidy2009  \
RegionName                            Countries
Africa                                Angola            122854.560149
                                      Cameroon           11887.783631
                                      Egypt              13528.962038
                                      Gabon               7827.880786
                                      Ghana              50868.989487
                                      Guinea             36173.964783
                                      Madagascar         11323.955852
                                      Mauritania         26065.971094
                                      Morocco           212774.245464
                                      Mozambique         10422.289071
                                      Namibia            51722.794987
                                      Nigeria            47506.861375
                                      Senegal             7867.121965
                                      Seychelles          4159.236526
                                      Sierra Leone       15766.592734
                                      South Africa       33526.385018
                                      Tunisia             6044.972222
Asia                                  China            2522290.416015
                                      India             158242.840652
                                      Indonesia         422741.213946
                                      Iran              219280.745556
                                      Japan            4489530.165921
                                      Korea Rep         772092.439169
                                      Malaysia          178425.539776
                                      Myanmar           348213.354164
                                      Philippines       721594.488127
                                      Saudi Arabia       32853.879414
                                      Sri Lanka         187905.314178
                                      Taiwan            235699.397558
                                      Thailand          249015.652072
...                                                               ...
Europe                                Netherlands       106037.562727
                                      Norway            275809.648656
                                      Poland            393136.001524
                                      Romania            57527.094233
                                      Russian Fed      1267282.180622
                                      Spain            1052067.810688
                                      Sweden            159792.507716
                                      UK                324784.108663
                                      Ukraine            27437.194025
North America                         Canada           1092092.158981
                                      Mexico            118892.803827
                                      USA              4006009.046523
Oceania                               Australia         430054.775105
                                      Micronesia       1976079.289046
                                      New Zealand        74832.547317
                                      Papua N Guin      610433.040953
                                      Vanuatu            66084.129987
South, Central America and Carribbean Argentina         191752.569153
                                      Brazil            547305.596630
                                      Chile             136215.544422
                                      Costa Rica         12876.115901
                                      Cuba               16159.233277
                                      Ecuador            59187.981621
                                      Guyana             56350.204643
                                      Jamaica            20686.621640
                                      Nicaragua          19447.092660
                                      Panama             48959.199991
                                      Peru              257974.786440
                                      Suriname           23396.600285
                                      Venezuela          46380.764156

                                                      SSF_USD_1000
RegionName                            Countries
Africa                                Angola          54989.135778
                                      Cameroon         4315.696832
                                      Egypt            2593.554368
                                      Gabon            3818.493627
                                      Ghana           26887.742245
                                      Guinea          10056.421737
                                      Madagascar       3892.267803
                                      Mauritania      15459.164114
                                      Morocco         28196.858484
                                      Mozambique       7889.877485
                                      Namibia             0.000000
                                      Nigeria         21145.427712
                                      Senegal          3131.256276
                                      Seychelles        443.263143
                                      Sierra Leone     6876.034300
                                      South Africa     2730.180649
                                      Tunisia          1463.960776
Asia                                  China          497734.989077
                                      India           36649.817845
                                      Indonesia       56077.318403
                                      Iran           127904.405330
                                      Japan         1129295.920947
                                      Korea Rep      104964.909425
                                      Malaysia        37523.368791
                                      Myanmar         83729.909920
                                      Philippines    208078.276093
                                      Saudi Arabia    11353.972940
                                      Sri Lanka       85861.903964
                                      Taiwan          33448.684338
                                      Thailand        71367.032347
...                                                            ...
Europe                                Netherlands       312.364723
                                      Norway          33250.851738
                                      Poland          20620.096113
                                      Romania         20737.788447
                                      Russian Fed     51681.407635
                                      Spain           32447.149274
                                      Sweden           6761.609289
                                      UK              12932.875007
                                      Ukraine          2724.758520
North America                         Canada          56442.371651
                                      Mexico          45367.255190
                                      USA            895701.552729
Oceania                               Australia       71276.859943
                                      Micronesia      38256.995231
                                      New Zealand     10430.294013
                                      Papua N Guin     8229.372649
                                      Vanuatu          7805.760183
South, Central America and Carribbean Argentina        5506.510815
                                      Brazil         243712.288176
                                      Chile            8545.370401
                                      Costa Rica       4229.158592
                                      Cuba            14470.283741
                                      Ecuador         10893.138875
                                      Guyana          14370.695969
                                      Jamaica         20686.621640
                                      Nicaragua        4793.218462
                                      Panama           8265.429813
                                      Peru            53431.656580
                                      Suriname        14913.707087
                                      Venezuela       32684.638825

[67 rows x 2 columns]

In [80]:
subdata2.groupby(['RegionName','Type']).mean()

                                            ReEst_Subsidy2009  SSF_USD_1000
RegionName                            Type
Africa                                A1          8245.752386   1697.527432
                                      A2          5435.445510   1713.785924
                                      A3          1364.299050    251.218669
                                      B1         11577.619251   6024.997530
                                      B2          5975.584924   3312.711897
                                      B3          2310.117047   4096.975804
                                      B4          2807.220421   1522.243856
                                      B5           858.139739    975.819315
                                      B6           393.034828      0.000000
                                      C1            76.322760    425.966415
                                      C2             0.000000           NaN
                                      C3           788.467755   1116.995986
Asia                                  A1        177786.257061  56773.405820
                                      A2         50306.503496  13188.810333
                                      A3          8458.617419   2217.385803
                                      B1         79853.690968  28896.057898
                                      B2         21889.098080   6825.506796
                                      B3        185044.713517  70780.057554
                                      B4         21100.849633   2466.724079
                                      B5         47031.033437  13017.732114
                                      B6         38429.694418      0.000000
                                      C1         56854.538627  37683.714736
                                      C2         59884.239109      0.000000
                                      C3          6147.219154  10245.365257
Europe                                A1         51019.450804   5182.333741
                                      A2         25422.293745   2904.076434
                                      A3         18563.535855   1830.295797
                                      B1         72993.238689   4767.685199
                                      B2         19862.419239   2542.862703
                                      B3         29997.406466   4719.657964
...                                                       ...           ...
North America                         B4         74141.446896  21277.444841
                                      B5         30437.702288  17782.086085
                                      B6         17353.783189      0.000000
                                      C1        216666.911636  22738.790557
                                      C2         95560.953711      0.000000
                                      C3             0.000000           NaN
Oceania                               A1        109182.876113   5235.685627
                                      A2         58091.344666   4698.005767
                                      A3         18221.035486   3222.352819
                                      B1         82131.252093   4556.431552
                                      B2         29132.102841  10168.702031
                                      B3         17761.622226      0.000000
                                      B4        259885.398855      0.000000
                                      B5         14287.556176      0.000000
                                      B6             0.000000           NaN
                                      C1          5652.452542  28262.262712
                                      C2         33799.523558      0.000000
                                      C3          3351.591924   2620.977477
South, Central America and Carribbean A1         38337.863258  11395.128396
                                      A2         14031.506951  10214.571070
                                      A3          5675.792778   3090.937591
                                      B1         14907.882497   9400.454259
                                      B2          4350.377073    734.439752
                                      B3          4723.931260  17093.098424
                                      B4          9876.936430    836.797443
                                      B5         10569.629748   2227.209445
                                      B6             0.000000      0.000000
                                      C1          4246.731313  23419.992395
                                      C2          2353.759250      0.000000
                                      C3          1876.982025   1768.954211

[72 rows x 2 columns]

In [64]:
subdata1.groupby(['RegionName','Countries']).mean()

                                                    ReEst_Subsidy2009  \
RegionName                            Countries
Africa                                Angola             10237.880012
                                      Cameroon             990.648636
                                      Egypt               1127.413503
                                      Gabon                652.323399
                                      Ghana               4624.453590
                                      Guinea              3288.542253
                                      Madagascar           943.662988
                                      Mauritania          2172.164258
                                      Morocco            17731.187122
                                      Mozambique           868.524089
                                      Namibia             4702.072272
                                      Nigeria             4318.805580
                                      Senegal              655.593497
                                      Seychelles           346.603044
                                      Sierra Leone        1433.326612
                                      South Africa        2793.865418
                                      Tunisia              503.747685
Asia                                  China             210190.868001
                                      India              13186.903388
                                      Indonesia          35228.434495
                                      Iran               18273.395463
                                      Japan             374127.513827
                                      Korea Rep          64341.036597
                                      Malaysia           14868.794981
                                      Myanmar            29017.779514
                                      Philippines        60132.874011
                                      Saudi Arabia        2737.823284
                                      Sri Lanka          15658.776182
                                      Taiwan             19641.616463
                                      Thailand           20751.304339
...                                                               ...
Europe                                Netherlands         8836.463561
                                      Norway             22984.137388
                                      Poland             32761.333460
                                      Romania             4793.924519
                                      Russian Fed       105606.848385
                                      Spain              87672.317557
                                      Sweden             13316.042310
                                      UK                 27065.342389
                                      Ukraine             2286.432835
North America                         Canada             91007.679915
                                      Mexico              9907.733652
                                      USA               333834.087210
Oceania                               Australia          35837.897925
                                      Micronesia        164673.274087
                                      New Zealand         6236.045610
                                      Papua N Guin       50869.420079
                                      Vanuatu             5507.010832
South, Central America and Carribbean Argentina          15979.380763
                                      Brazil             45608.799719
                                      Chile              11351.295369
                                      Costa Rica          1073.009658
                                      Cuba                1346.602773
                                      Ecuador             4932.331802
                                      Guyana              5122.745877
                                      Jamaica             1723.885137
                                      Nicaragua           1620.591055
                                      Panama              4079.933333
                                      Peru               21497.898870
                                      Suriname            1949.716690
                                      Venezuela           3865.063680

                                                    %SSFsubsidies_assessed  \
RegionName                            Countries
Africa                                Angola                     46.600420
                                      Cameroon                   59.840000
                                      Egypt                      17.144118
                                      Gabon                      58.671429
                                      Ghana                      65.787314
                                      Guinea                     34.714286
                                      Madagascar                 57.175000
                                      Mauritania                 44.287500
                                      Morocco                    31.017024
                                      Mozambique                 75.552463
                                      Namibia                     0.000000
                                      Nigeria                    60.739052
                                      Senegal                    48.016667
                                      Seychelles                 26.600000
                                      Sierra Leone               64.850000
                                      South Africa                8.143379
                                      Tunisia                    23.678512
Asia                                  China                      17.032798
                                      India                      34.975948
                                      Indonesia                  28.834670
                                      Iran                       63.648061
                                      Japan                      23.394121
                                      Korea Rep                   8.450000
                                      Malaysia                   21.706250
                                      Myanmar                    34.191173
                                      Philippines                39.305705
                                      Saudi Arabia               65.783333
                                      Sri Lanka                  34.360000
                                      Taiwan                     15.050000
                                      Thailand                   30.582302
...                                                                    ...
Europe                                Netherlands                 0.353750
                                      Norway                     13.150000
                                      Poland                      4.737049
                                      Romania                    35.200000
                                      Russian Fed                 6.296975
                                      Spain                       5.581822
                                      Sweden                      4.564919
                                      UK                          4.484090
                                      Ukraine                    25.320000
North America                         Canada                      4.643931
                                      Mexico                     33.160113
                                      USA                        17.028063
Oceania                               Australia                  28.869204
                                      Micronesia                  5.549155
                                      New Zealand                13.938178
                                      Papua N Guin                4.305707
                                      Vanuatu                    14.072941
South, Central America and Carribbean Argentina                   6.634602
                                      Brazil                     41.769922
                                      Chile                      35.358258
                                      Costa Rica                 35.827459
                                      Cuba                       87.330906
                                      Ecuador                    14.998022
                                      Guyana                     50.739556
                                      Jamaica                   100.000000
                                      Nicaragua                  30.421414
                                      Panama                     26.641002
                                      Peru                       20.471699
                                      Suriname                   73.877486
                                      Venezuela                  66.219926

                                                     SSF_USD_1000  Data_group  \
RegionName                            Countries
Africa                                Angola          6109.903975    2.444444
                                      Cameroon         863.139366         NaN
                                      Egypt            518.710874    2.400000
                                      Gabon            545.499090    2.428571
                                      Ghana           3360.967781    2.250000
                                      Guinea          1436.631677    2.285714
                                      Madagascar       973.066951    2.250000
                                      Mauritania      1932.395514    2.125000
                                      Morocco         4028.122641    2.142857
                                      Mozambique      1972.469371    2.000000
                                      Namibia            0.000000    1.000000
                                      Nigeria         5286.356928    2.250000
                                      Senegal          521.876046    2.166667
                                      Seychelles        88.652629    2.200000
                                      Sierra Leone    1719.008575    2.250000
                                      South Africa     682.545162    3.000000
                                      Tunisia          292.792155    2.800000
Asia                                  China          41477.915756    2.727273
                                      India           3664.981784    1.900000
                                      Indonesia       8011.045486    2.000000
                                      Iran           21317.400888    2.166667
                                      Japan         102663.265541    2.454545
                                      Korea Rep      10496.490943    2.200000
                                      Malaysia        4169.263199    2.125000
                                      Myanmar        13954.984987    2.833333
                                      Philippines    23119.808455    2.222222
                                      Saudi Arabia    1892.328823    2.500000
                                      Sri Lanka      17172.380793    2.200000
                                      Taiwan          4181.085542    2.125000
                                      Thailand        5947.252696    2.222222
...                                                           ...         ...
Europe                                Netherlands       39.045590    2.875000
                                      Norway          4156.356467    2.625000
                                      Poland          2291.121790    2.875000
                                      Romania         2592.223556    3.000000
                                      Russian Fed     6460.175954    2.375000
                                      Spain           3244.714927    2.300000
                                      Sweden           845.201161    3.000000
                                      UK              1293.287501    2.800000
                                      Ukraine          544.951704    3.000000
North America                         Canada          8063.195950    2.857143
                                      Mexico         11341.813797    2.750000
                                      USA            89570.155273    3.000000
Oceania                               Australia      11879.476657    2.833333
                                      Micronesia      5465.285033    2.000000
                                      New Zealand     5215.147006    3.000000
                                      Papua N Guin    1028.671581    2.125000
                                      Vanuatu         1951.440046    3.000000
South, Central America and Carribbean Argentina        611.834535    2.333333
                                      Brazil         22155.662561    2.222222
                                      Chile           1709.074080    2.000000
                                      Costa Rica       845.831718    2.800000
                                      Cuba            4823.427914    3.000000
                                      Ecuador         2178.627775    2.200000
                                      Guyana          3592.673992    2.000000
                                      Jamaica         3447.770273    2.000000
                                      Nicaragua        798.869744    2.333333
                                      Panama          1377.571636    2.333333
                                      Peru            6678.957072    2.125000
                                      Suriname        2982.741417    2.400000
                                      Venezuela       5447.439804    2.333333

                                                    %SSF_totalCatch_EEZ  \
RegionName                            Countries
Africa                                Angola                  44.575137
                                      Cameroon                74.771689
                                      Egypt                   27.060440
                                      Gabon                   27.942422
                                      Ghana                   56.467555
                                      Guinea                  21.500000
                                      Madagascar              73.744951
                                      Mauritania               4.300000
                                      Morocco                  4.966797
                                      Mozambique              73.684211
                                      Namibia                  0.000000
                                      Nigeria                 66.616027
                                      Senegal                 44.073841
                                      Seychelles              11.111111
                                      Sierra Leone            76.444043
                                      South Africa             8.143379
                                      Tunisia                 26.210526
Asia                                  China                   35.600970
                                      India                   42.381331
                                      Indonesia               22.323870
                                      Iran                    58.052126
                                      Japan                   23.586724
                                      Korea Rep               16.380902
                                      Malaysia                22.118858
                                      Myanmar                 20.813764
                                      Philippines             28.662420
                                      Saudi Arabia            64.926740
                                      Sri Lanka               49.069849
                                      Taiwan                  23.400309
                                      Thailand                42.279905
...                                                                 ...
Europe                                Netherlands              0.547727
                                      Norway                  10.098171
                                      Poland                  11.944444
                                      Romania                 91.666667
                                      Russian Fed             15.181599
                                      Spain                    7.788784
                                      Sweden                   5.259676
                                      UK                       3.603992
                                      Ukraine                 10.292729
North America                         Canada                   6.131213
                                      Mexico                  42.202139
                                      USA                     26.719067
Oceania                               Australia               19.461492
                                      Micronesia               8.501559
                                      New Zealand             13.938178
                                      Papua N Guin             9.400476
                                      Vanuatu                 21.301775
South, Central America and Carribbean Argentina               16.685018
                                      Brazil                  51.260412
                                      Chile                   69.392954
                                      Costa Rica              25.350318
                                      Cuba                    90.100000
                                      Ecuador                 21.900000
                                      Guyana                  51.700000
                                      Jamaica                100.000000
                                      Nicaragua               31.500000
                                      Panama                  16.400000
                                      Peru                     8.596049
                                      Suriname                51.891892
                                      Venezuela               94.310345

                                                    %SSF_totalCatch_Country
RegionName                            Countries
Africa                                Angola                      46.050702
                                      Cameroon                    82.493703
                                      Egypt                       20.563674
                                      Gabon                       63.461538
                                      Ghana                       51.549627
                                      Guinea                      75.952478
                                      Madagascar                  83.311604
                                      Mauritania                  38.465310
                                      Morocco                      8.952369
                                      Mozambique                  78.525641
                                      Namibia                      0.000000
                                      Nigeria                     68.156207
                                      Senegal                     50.575668
                                      Seychelles                   8.970976
                                      Sierra Leone                80.769231
                                      South Africa                 8.143379
                                      Tunisia                     26.433121
Asia                                  China                       23.241135