In [5]:
%matplotlib inline

import pandas as pd

import matplotlib.pyplot as plt

import numpy

pd.__version__

u'0.17.0'

In [7]:
subsidies = pd.read_csv("SSFsubsidiesnonfuel.csv")

In [8]:
subsidies_short = subsidies.loc[:,['RegionName', 'Countries', 'Type','ReEst_Subsidy2009','%SSFsubsidies_assessed', 'SSF_USD_1000','weighted_by_sectorsize', 'Data_group','%SSF_totalCatch_EEZ','%SSF_totalCatch_Country']]

In [9]:
subsidies_short

,RegionName,Countries,Type,ReEst_Subsidy2009,%SSFsubsidies_assessed,SSF_USD_1000,weighted_by_sectorsize,Data_group,%SSF_totalCatch_EEZ,%SSF_totalCatch_Country
0,Asia,Philippines,A1,150317.400345,28.662420,43084.605195,TRUE,3,28.662420,25.475502
1,Asia,Philippines,A2,106929.633393,25.475502,27240.860867,TRUE,3,28.662420,25.475502
2,Asia,Philippines,A3,14325.450291,28.662420,4106.020784,TRUE,3,28.662420,25.475502
3,Asia,Philippines,B1,291723.649784,25.475502,74318.064163,TRUE,3,28.662420,25.475502
4,Asia,Philippines,B2,5987.405124,25.475502,1525.321511,TRUE,3,28.662420,25.475502
5,Asia,Philippines,B3,0.000000,NaN,NaN,NaN,NaN,28.662420,25.475502
6,Asia,Philippines,B4,2305.468110,20.000000,461.093622,FALSE,1,28.662420,25.475502
7,Asia,Philippines,B5,92663.171127,0.000000,0.000000,FALSE,2,28.662420,25.475502
8,Asia,Philippines,B6,0.000000,NaN,NaN,NaN,NaN,28.662420,25.475502
9,Asia,Philippines,C1,35605.265432,100.000000,35605.265432,FALSE,1,28.662420,25.475502
10,Asia,Philippines,C2,0.000000,NaN,NaN,NaN,NaN,28.662420,25.475502
11,Asia,Philippines,C3,21737.044519,100.000000,21737.044519,FALSE,1,28.662420,25.475502
12,Asia,India,A1,6450.238140,42.381331,2733.696798,TRUE,3,42.381331,41.498407
13,Asia,India,A2,2179.113474,41.498407,904.297382,TRUE,3,42.381331,41.498407
14,Asia,India,A3,1781.843735,42.381331,755.169097,TRUE,3,42.381331,41.498407
15,Asia,India,B1,4035.395412,0.000000,0.000000,FALSE,2,42.381331,41.498407
16,Asia,India,B2,3751.334747,20.000000,750.266949,FALSE,1,42.381331,41.498407
17,Asia,India,B3,4062.029933,17.000000,690.545089,FALSE,1,42.381331,41.498407
18,Asia,India,B4,4035.395412,25.000000,1008.848853,FALSE,1,42.381331,41.498407
19,Asia,India,B5,123957.406261,20.000000,24791.481252,FALSE,1,42.381331,41.498407
20,Asia,India,B6,0.000000,NaN,NaN,NaN,NaN,42.381331,41.498407
21,Asia,India,C1,5084.598507,41.498407,2110.027391,TRUE,3,42.381331,41.498407
22,Asia,India,C2,0.000000,NaN,NaN,NaN,NaN,42.381331,41.498407
23,Asia,India,C3,2905.485033,100.000000,2905.485033,FALSE,1,42.381331,41.498407
24,Asia,Thailand,A1,18538.640909,42.279905,7838.119773,TRUE,3,42.279905,13.560304
25,Asia,Thailand,A2,2067.787646,13.560304,280.398288,TRUE,3,42.279905,13.560304
26,Asia,Thailand,A3,2884.411251,42.279905,1219.526338,TRUE,3,42.279905,13.560304
27,Asia,Thailand,B1,58456.068748,25.000000,14614.017187,FALSE,1,42.279905,13.560304
28,Asia,Thailand,B2,242.934986,13.560304,32.942722,TRUE,3,42.279905,13.560304
29,Asia,Thailand,B3,8015.852723,0.000000,0.000000,FALSE,2,42.279905,13.560304
...,...,...,...,...,...,...,...,...,...,...
774,Europe,Romania,B4,25694.478873,1.300000,334.028225,1,3,91.666667,1.269394
775,Europe,Romania,B5,47.431407,1.300000,0.616608,1,3,91.666667,1.269394
776,Europe,Romania,B6,0.000000,NaN,NaN,NaN,NaN,91.666667,1.269394
777,Europe,Romania,C1,10.566188,1.300000,0.137360,1,3,91.666667,1.269394
778,Europe,Romania,C2,0.000000,NaN,NaN,NaN,NaN,91.666667,1.269394
779,Europe,Romania,C3,0.000000,NaN,NaN,NaN,NaN,91.666667,1.269394
780,Europe,Ukraine,A1,9039.338360,10.300000,931.051851,1,3,10.292729,3.028619
781,Europe,Ukraine,A2,0.000000,NaN,NaN,NaN,NaN,10.292729,3.028619
782,Europe,Ukraine,A3,815.509180,10.300000,83.997446,1,3,10.292729,3.028619
783,Europe,Ukraine,B1,16357.036931,3.000000,490.711108,1,3,10.292729,3.028619
784,Europe,Ukraine,B2,6.506637,3.000000,0.195199,1,3,10.292729,3.028619
785,Europe,Ukraine,B3,0.000000,NaN,NaN,NaN,NaN,10.292729,3.028619
786,Europe,Ukraine,B4,0.000000,NaN,NaN,NaN,NaN,10.292729,3.028619
787,Europe,Ukraine,B5,0.000000,NaN,NaN,NaN,NaN,10.292729,3.028619
788,Europe,Ukraine,B6,0.000000,NaN,NaN,NaN,NaN,10.292729,3.028619
789,Europe,Ukraine,C1,0.000000,NaN,NaN,NaN,NaN,10.292729,3.028619
790,Europe,Ukraine,C2,0.000000,NaN,NaN,NaN,NaN,10.292729,3.028619
791,Europe,Ukraine,C3,1218.802917,100.000000,1218.802917,0,3,10.292729,3.028619
792,Europe,Denmark,A1,27710.195182,7.800000,2161.395224,1,3,7.759108,6.799901
793,Europe,Denmark,A2,12472.157835,7.800000,972.828311,1,3,7.759108,6.799901
794,Europe,Denmark,A3,27261.643121,7.800000,2126.408163,1,3,7.759108,6.799901
795,Europe,Denmark,B1,26508.544867,6.800000,1802.581051,1,3,7.759108,6.799901
796,Europe,Denmark,B2,0.000000,NaN,NaN,NaN,NaN,7.759108,6.799901
797,Europe,Denmark,B3,0.000000,NaN,NaN,NaN,NaN,7.759108,6.799901
798,Europe,Denmark,B4,18192.846849,18.300000,3329.290973,0,2,7.759108,6.799901
799,Europe,Denmark,B5,0.000000,NaN,NaN,NaN,NaN,7.759108,6.799901
800,Europe,Denmark,B6,2867.290462,0.000000,0.000000,1,3,7.759108,6.799901
801,Europe,Denmark,C1,23594.021906,5.100000,1203.295117,0,2,7.759108,6.799901
802,Europe,Denmark,C2,7601.016403,0.000000,0.000000,0,3,7.759108,6.799901
803,Europe,Denmark,C3,0.000000,NaN,NaN,NaN,NaN,7.759108,6.799901

In [10]:
subsidies_short.groupby('Countries').mean()

,ReEst_Subsidy2009,%SSFsubsidies_assessed,SSF_USD_1000,Data_group,%SSF_totalCatch_EEZ,%SSF_totalCatch_Country
Countries,,,,,,
Angola,10237.880012,46.600420,6109.903975,2.444444,44.575137,46.050702
Argentina,15979.380763,6.634602,611.834535,2.333333,16.685018,17.343202
Australia,35837.897925,28.869204,11879.476657,2.833333,19.461492,17.146119
Brazil,45608.799719,41.769922,22155.662561,2.222222,51.260412,52.316106
Cameroon,990.648636,59.840000,863.139366,NaN,74.771689,82.493703
Canada,91007.679915,4.643931,8063.195950,2.857143,6.131213,3.991331
Chile,11351.295369,35.358258,1709.074080,2.000000,69.392954,75.615910
China,210190.868001,17.032798,41477.915756,2.727273,35.600970,23.241135
Costa Rica,1073.009658,35.827459,845.831718,2.800000,25.350318,28.436658
Cuba,1346.602773,87.330906,4823.427914,3.000000,90.100000,81.792717
Denmark,12183.976386,6.700000,1449.474855,2.750000,7.759108,6.799901
Ecuador,4932.331802,14.998022,2178.627775,2.200000,21.900000,15.595055
Egypt,1127.413503,17.144118,518.710874,2.400000,27.060440,20.563674
France,34127.767835,19.513450,7426.333288,2.500000,40.432985,22.117134
Gabon,652.323399,58.671429,545.499090,2.428571,27.942422,63.461538
Ghana,4624.453590,65.787314,3360.967781,2.250000,56.467555,51.549627
Greece,16242.584746,38.352000,6414.687254,2.700000,59.786667,51.024124
Guinea,3288.542253,34.714286,1436.631677,2.285714,21.500000,75.952478
Guyana,5122.745877,50.739556,3592.673992,2.000000,51.700000,51.355662
Iceland,11101.947357,2.688381,624.343314,2.833333,3.534304,3.020560
India,13186.903388,34.975948,3664.981784,1.900000,42.381331,41.498407
Indonesia,35228.434495,28.834670,8011.045486,2.000000,22.323870,10.800000
Iran,18273.395463,63.648061,21317.400888,2.166667,58.052126,57.892057
Italy,22854.271894,10.847683,4740.709816,3.000000,14.656489,11.655200
Jamaica,1723.885137,100.000000,3447.770273,2.000000,100.000000,100.000000
Japan,374127.513827,23.394121,102663.265541,2.454545,23.586724,11.800000
Korea Rep,64341.036597,8.450000,10496.490943,2.200000,16.380902,17.293921
Madagascar,943.662988,57.175000,973.066951,2.250000,73.744951,83.311604
Malaysia,14868.794981,21.706250,4169.263199,2.125000,22.118858,29.133010
Mauritania,2172.164258,44.287500,1932.395514,2.125000,4.300000,38.465310
...,...,...,...,...,...,...
New Zealand,6236.045610,13.938178,5215.147006,3.000000,13.938178,22.236906
Nicaragua,1620.591055,30.421414,798.869744,2.333333,31.500000,21.800000
Nigeria,4318.805580,60.739052,5286.356928,2.250000,66.616027,68.156207
Norway,22984.137388,13.150000,4156.356467,2.625000,10.098171,8.287195
Panama,4079.933333,26.641002,1377.571636,2.333333,16.400000,13.523007
Papua N Guin,50869.420079,4.305707,1028.671581,2.125000,9.400476,15.640194
Peru,21497.898870,20.471699,6678.957072,2.125000,8.596049,9.334413
Philippines,60132.874011,39.305705,23119.808455,2.222222,28.662420,25.475502
Poland,32761.333460,4.737049,2291.121790,2.875000,11.944444,3.748910
Romania,4793.924519,35.200000,2592.223556,3.000000,91.666667,1.269394
Russian Fed,105606.848385,6.296975,6460.175954,2.375000,15.181599,16.068940
Saudi Arabia,2737.823284,65.783333,1892.328823,2.500000,64.926740,71.688574
Senegal,655.593497,48.016667,521.876046,2.166667,44.073841,50.575668
Seychelles,346.603044,26.600000,88.652629,2.200000,11.111111,8.970976
Sierra Leone,1433.326612,64.850000,1719.008575,2.250000,76.444043,80.769231
South Africa,2793.865418,8.143379,682.545162,3.000000,8.143379,8.143379
Spain,87672.317557,5.581822,3244.714927,2.300000,7.788784,2.664720
Sri Lanka,15658.776182,34.360000,17172.380793,2.200000,49.069849,52.457786
Suriname,1949.716690,73.877486,2982.741417,2.400000,51.891892,65.603645
Sweden,13316.042310,4.564919,845.201161,3.000000,5.259676,6.863597
Taiwan,19641.616463,15.050000,4181.085542,2.125000,23.400309,7.867387
Thailand,20751.304339,30.582302,5947.252696,2.222222,42.279905,13.560304
Tunisia,503.747685,23.678512,292.792155,2.800000,26.210526,26.433121
Turkey,8611.960294,27.066667,2148.807551,2.833333,16.188242,14.977017
UK,27065.342389,4.484090,1293.287501,2.800000,3.603992,8.057232
USA,333834.087210,17.028063,89570.155273,3.000000,26.719067,19.473750
Ukraine,2286.432835,25.320000,544.951704,3.000000,10.292729,3.028619
Vanuatu,5507.010832,14.072941,1951.440046,3.000000,21.301775,6.844106
Venezuela,3865.063680,66.219926,5447.439804,2.333333,94.310345,75.698865
Viet Nam,54213.987808,22.979514,18100.874352,2.666667,31.833732,37.108916

In [11]:
subsidies_values_only = subsidies.loc[:,['RegionName','Countries','Type' ,'ReEst_Subsidy2009','SSF_USD_1000']]

In [12]:
countrydata = pd.read_csv("Country_Data.csv")

In [13]:
countrydata

,CID,Countries,Subregion,CLon,CLat,SIDS,TotPop,HDI,Develop,GDP
0,1,Albania,Southern Europe,20.050049,40.934006,0,3020209,0.749,High,3.066000e+10
1,2,Algeria,Northern Africa,2.296145,27.940730,0,38813722,0.717,Medium,5.626000e+11
2,3,Angola,Middle Africa,17.237553,-13.299091,0,19088106,0.526,Low,1.755000e+11
3,4,Antigua Barb,Caribbean,-61.800000,17.050000,1,91295,0.774,High,1.989000e+09
4,5,Argentina,South America,-64.379883,-33.707205,0,43024374,0.808,High,9.274000e+11
5,6,Australia,Australia and New Zealand,133.769531,-25.105497,0,22507617,0.933,High,1.100000e+12
6,7,Bahamas,Caribbean,-77.934265,24.533303,1,321834,0.789,High,9.034000e+09
7,8,Bahrain,Western Asia,50.550000,26.000000,1,1314089,0.815,High,6.156000e+10
8,9,Bangladesh,Southern Asia,90.186768,24.444024,0,166280712,0.558,Medium,5.366000e+11
9,10,Barbados,Caribbean,-59.550018,13.151284,1,289680,0.776,High,4.513000e+09
10,11,Belgium,Western Europe,4.383545,50.692543,0,10449361,0.881,High,4.671000e+11
11,12,Belize,Central America,-88.846436,17.261154,1,340844,0.732,Medium,2.907000e+09
12,13,Benin,Western Africa,2.438965,9.702289,0,10160556,0.476,Low,1.985000e+10
13,14,Bosnia Herzg,Southern Europe,18.416667,43.866667,NaN,3871643,0.731,High,3.808000e+10
14,15,Brazil,South America,-51.815643,-12.986242,0,202656788,0.744,High,3.073000e+12
15,16,Brunei Darsm,Southeastern Asia,114.612122,4.438665,0,422675,0.852,High,3.211000e+10
16,17,Bulgaria,Eastern Europe,25.125732,42.501972,0,6924716,0.777,High,1.233000e+11
17,18,Cambodia,Southeastern Asia,104.768372,12.773467,0,15458332,0.584,Medium,5.025000e+10
18,19,Cameroon,Middle Africa,12.370605,4.471011,0,23130708,0.504,Medium,6.723000e+10
19,20,Canada,Northern America,-106.424561,56.532039,0,34834841,0.902,High,1.579000e+12
20,21,Cape Verde,Western Africa,-23.521729,15.012443,1,538535,0.636,Medium,3.286000e+09
21,22,Chile,South America,-69.833221,-26.826905,0,17363894,0.822,High,4.103000e+11
22,23,China,Eastern Asia,103.977356,34.709304,0,1355692576,0.719,Medium,1.763000e+13
23,24,Colombia,South America,-73.085175,3.422521,0,46245297,0.711,Medium,6.427000e+11
24,25,Comoros,Eastern Africa,43.368530,-11.729226,1,766865,0.488,Medium,1.211000e+09
25,26,Congo Dem Rep,Middle Africa,22.450562,-3.021555,0,77433744,0.338,Low,5.573000e+10
26,27,Congo Rep,Middle Africa,15.419312,-1.001421,0,4662446,0.564,Medium,2.809000e+10
27,28,Costa Rica,Central America,-83.807831,9.879147,0,4755234,0.763,High,7.121000e+10
28,29,Cote d'Ivoire,Western Africa,-5.372314,7.606192,0,22848945,0.452,Low,7.195000e+10
29,30,Croatia,Southern Europe,14.732666,45.001224,0,4470534,0.812,High,8.730000e+10
...,...,...,...,...,...,...,...,...,...,...
122,123,Somalia,Eastern Africa,49.188538,9.008521,0,10428043,NaN,Medium,5.896000e+09
123,124,South Africa,Southern Africa,22.821350,-31.209278,0,48375645,0.658,Low,6.831000e+11
124,125,Spain,Southern Europe,-3.343628,39.652454,0,47737941,0.869,Medium,1.534000e+12
125,126,Sri Lanka,Southern Asia,80.771484,7.305261,0,21866445,0.750,High,2.171000e+11
126,127,St Kitts Nev,Caribbean,-62.750000,17.333333,1,51538,0.750,Medium,1.220000e+09
127,128,St Lucia,Caribbean,-60.975708,13.900474,1,163362,0.714,Medium,1.893000e+09
128,129,St Vincent,Caribbean,-61.173462,13.227645,1,102918,0.719,Medium,1.193000e+09
129,130,Sudan,Northern Africa,30.524139,15.795888,0,35482233,0.473,Medium,1.595000e+11
130,131,Suriname,South America,-55.898438,4.335456,1,573311,0.705,Medium,9.240000e+09
131,132,Sweden,Northern Europe,15.231171,61.314264,0,9723809,0.898,High,4.342000e+10
132,133,Syria,Western Asia,38.759766,35.054732,0,17951639,0.658,Medium,1.076000e+10
133,134,Taiwan,Eastern Asia,121.014404,23.882698,0,23359928,0.777,High,1.022000e+12
134,135,Tanzania,Eastern Africa,35.240356,-6.385978,0,49639138,0.488,Medium,9.253000e+10
135,136,Thailand,Southeastern Asia,100.870285,15.604314,0,67741401,0.722,Medium,9.901000e+11
136,137,Timor Leste,Southeastern Asia,125.897827,-8.756491,0,1201542,0.620,Medium,8.364000e+09
137,138,Togo,Western Africa,1.068420,8.400375,0,7351374,0.473,Medium,1.018000e+10
138,139,Tonga,Polynesia,-175.198242,-21.178986,1,106440,0.705,High,5.230000e+08
139,140,Trinidad Tob,Caribbean,-61.272337,10.442975,1,1223916,0.766,High,4.223000e+10
140,141,Tunisia,Northern Africa,9.593815,34.010550,0,10937521,0.721,Medium,1.251000e+11
141,142,Turkey,Western Asia,34.628908,39.527348,0,81619392,0.759,Medium,1.512000e+12
142,143,Tuvalu,Polynesia,178.679921,-7.478442,1,10782,NaN,NaN,3.500000e+07
143,144,UK,Northern Europe,-1.538080,53.032955,0,63742977,0.892,Medium,2.435000e+12
144,145,Ukraine,Eastern Europe,33.178719,48.942347,0,44291413,0.734,High,3.731000e+11
145,146,Untd Arab Em,Western Asia,54.448252,23.913460,0,5628805,0.827,High,6.050000e+08
146,147,Uruguay,South America,-56.206051,-32.888813,0,3332972,0.790,High,6.978000e+10
147,148,USA,Northern America,-104.690304,40.278267,0,318892103,0.914,High,1.746000e+13
148,149,Vanuatu,Melanesia,166.959158,-15.376706,1,266937,0.616,Medium,6.870000e+08
149,150,Venezuela,South America,-66.369987,7.927041,0,28868486,0.764,Medium,5.457000e+08
150,151,Viet Nam,Southeastern Asia,108.277199,14.058324,0,93421835,0.638,Medium,5.095000e+11
151,152,Yemen,Western Asia,47.373059,15.990375,0,26052966,0.500,Medium,1.060000e+11

In [14]:
countrydata_short = countrydata.loc[:,['Countries','Subregion']]

In [15]:
frames = [subsidies,countrydata]

In [16]:
pd.concat(frames)

,%SSF_totalCatch_Country,%SSF_totalCatch_EEZ,%SSFsubsidies_assessed,CID,CLat,CLon,Category,Cnumber,Countries,Data_group,...,ReEst_Subsidy2009,RegionID,RegionName,SIDS,SSF_USD_1000,SubType,Subregion,TotPop,Type,weighted_by_sectorsize
0,25.475502,28.662420,28.662420,NaN,NaN,NaN,Good,608,Philippines,3,...,150317.400345,2,Asia,NaN,43084.605195,Fisheries mangt.,NaN,NaN,A1,TRUE
1,25.475502,28.662420,25.475502,NaN,NaN,NaN,Good,608,Philippines,3,...,106929.633393,2,Asia,NaN,27240.860867,Fishery R&D,NaN,NaN,A2,TRUE
2,25.475502,28.662420,28.662420,NaN,NaN,NaN,Good,608,Philippines,3,...,14325.450291,2,Asia,NaN,4106.020784,MPAs,NaN,NaN,A3,TRUE
3,25.475502,28.662420,25.475502,NaN,NaN,NaN,Bad,608,Philippines,3,...,291723.649784,2,Asia,NaN,74318.064163,Boat constsruct. & renov.,NaN,NaN,B1,TRUE
4,25.475502,28.662420,25.475502,NaN,NaN,NaN,Bad,608,Philippines,3,...,5987.405124,2,Asia,NaN,1525.321511,Fisheries dev. projects,NaN,NaN,B2,TRUE
5,25.475502,28.662420,NaN,NaN,NaN,NaN,Bad,608,Philippines,NaN,...,0.000000,2,Asia,NaN,NaN,Fishing port develop.,NaN,NaN,B3,NaN
6,25.475502,28.662420,20.000000,NaN,NaN,NaN,Bad,608,Philippines,1,...,2305.468110,2,Asia,NaN,461.093622,Markt. & storage infrast.,NaN,NaN,B4,FALSE
7,25.475502,28.662420,0.000000,NaN,NaN,NaN,Bad,608,Philippines,2,...,92663.171127,2,Asia,NaN,0.000000,Tax exemption,NaN,NaN,B5,FALSE
8,25.475502,28.662420,NaN,NaN,NaN,NaN,Bad,608,Philippines,NaN,...,0.000000,2,Asia,NaN,NaN,Fishing access,NaN,NaN,B6,NaN
9,25.475502,28.662420,100.000000,NaN,NaN,NaN,Ugly,608,Philippines,1,...,35605.265432,2,Asia,NaN,35605.265432,Fisher assistance,NaN,NaN,C1,FALSE
10,25.475502,28.662420,NaN,NaN,NaN,NaN,Ugly,608,Philippines,NaN,...,0.000000,2,Asia,NaN,NaN,Vessel buyback,NaN,NaN,C2,NaN
11,25.475502,28.662420,100.000000,NaN,NaN,NaN,Ugly,608,Philippines,1,...,21737.044519,2,Asia,NaN,21737.044519,Rural fisher communities,NaN,NaN,C3,FALSE
12,41.498407,42.381331,42.381331,NaN,NaN,NaN,Good,356,India,3,...,6450.238140,2,Asia,NaN,2733.696798,Fisheries mangt.,NaN,NaN,A1,TRUE
13,41.498407,42.381331,41.498407,NaN,NaN,NaN,Good,356,India,3,...,2179.113474,2,Asia,NaN,904.297382,Fishery R&D,NaN,NaN,A2,TRUE
14,41.498407,42.381331,42.381331,NaN,NaN,NaN,Good,356,India,3,...,1781.843735,2,Asia,NaN,755.169097,MPAs,NaN,NaN,A3,TRUE
15,41.498407,42.381331,0.000000,NaN,NaN,NaN,Bad,356,India,2,...,4035.395412,2,Asia,NaN,0.000000,Boat constsruct. & renov.,NaN,NaN,B1,FALSE
16,41.498407,42.381331,20.000000,NaN,NaN,NaN,Bad,356,India,1,...,3751.334747,2,Asia,NaN,750.266949,Fisheries dev. projects,NaN,NaN,B2,FALSE
17,41.498407,42.381331,17.000000,NaN,NaN,NaN,Bad,356,India,1,...,4062.029933,2,Asia,NaN,690.545089,Fishing port develop.,NaN,NaN,B3,FALSE
18,41.498407,42.381331,25.000000,NaN,NaN,NaN,Bad,356,India,1,...,4035.395412,2,Asia,NaN,1008.848853,Markt. & storage infrast.,NaN,NaN,B4,FALSE
19,41.498407,42.381331,20.000000,NaN,NaN,NaN,Bad,356,India,1,...,123957.406261,2,Asia,NaN,24791.481252,Tax exemption,NaN,NaN,B5,FALSE
20,41.498407,42.381331,NaN,NaN,NaN,NaN,Bad,356,India,NaN,...,0.000000,2,Asia,NaN,NaN,Fishing access,NaN,NaN,B6,NaN
21,41.498407,42.381331,41.498407,NaN,NaN,NaN,Ugly,356,India,3,...,5084.598507,2,Asia,NaN,2110.027391,Fisher assistance,NaN,NaN,C1,TRUE
22,41.498407,42.381331,NaN,NaN,NaN,NaN,Ugly,356,India,NaN,...,0.000000,2,Asia,NaN,NaN,Vessel buyback,NaN,NaN,C2,NaN
23,41.498407,42.381331,100.000000,NaN,NaN,NaN,Ugly,356,India,1,...,2905.485033,2,Asia,NaN,2905.485033,Rural fisher communities,NaN,NaN,C3,FALSE
24,13.560304,42.279905,42.279905,NaN,NaN,NaN,Good,764,Thailand,3,...,18538.640909,2,Asia,NaN,7838.119773,Fisheries mangt.,NaN,NaN,A1,TRUE
25,13.560304,42.279905,13.560304,NaN,NaN,NaN,Good,764,Thailand,3,...,2067.787646,2,Asia,NaN,280.398288,Fishery R&D,NaN,NaN,A2,TRUE
26,13.560304,42.279905,42.279905,NaN,NaN,NaN,Good,764,Thailand,3,...,2884.411251,2,Asia,NaN,1219.526338,MPAs,NaN,NaN,A3,TRUE
27,13.560304,42.279905,25.000000,NaN,NaN,NaN,Bad,764,Thailand,1,...,58456.068748,2,Asia,NaN,14614.017187,Boat constsruct. & renov.,NaN,NaN,B1,FALSE
28,13.560304,42.279905,13.560304,NaN,NaN,NaN,Bad,764,Thailand,3,...,242.934986,2,Asia,NaN,32.942722,Fisheries dev. projects,NaN,NaN,B2,TRUE
29,13.560304,42.279905,0.000000,NaN,NaN,NaN,Bad,764,Thailand,2,...,8015.852723,2,Asia,NaN,0.000000,Fishing port develop.,NaN,NaN,B3,FALSE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,NaN,NaN,NaN,123,9.008521,49.188538,NaN,NaN,Somalia,NaN,...,NaN,NaN,NaN,0,NaN,NaN,Eastern Africa,10428043,NaN,NaN
123,NaN,NaN,NaN,124,-31.209278,22.821350,NaN,NaN,South Africa,NaN,...,NaN,NaN,NaN,0,NaN,NaN,Southern Africa,48375645,NaN,NaN
124,NaN,NaN,NaN,125,39.652454,-3.343628,NaN,NaN,Spain,NaN,...,NaN,NaN,NaN,0,NaN,NaN,Southern Europe,47737941,NaN,NaN
125,NaN,NaN,NaN,126,7.305261,80.771484,NaN,NaN,Sri Lanka,NaN,...,NaN,NaN,NaN,0,NaN,NaN,Southern Asia,21866445,NaN,NaN
126,NaN,NaN,NaN,127,17.333333,-62.750000,NaN,NaN,St Kitts Nev,NaN,...,NaN,NaN,NaN,1,NaN,NaN,Caribbean,51538,NaN,NaN
127,NaN,NaN,NaN,128,13.900474,-60.975708,NaN,NaN,St Lucia,NaN,...,NaN,NaN,NaN,1,NaN,NaN,Caribbean,163362,NaN,NaN
128,NaN,NaN,NaN,129,13.227645,-61.173462,NaN,NaN,St Vincent,NaN,...,NaN,NaN,NaN,1,NaN,NaN,Caribbean,102918,NaN,NaN
129,NaN,NaN,NaN,130,15.795888,30.524139,NaN,NaN,Sudan,NaN,...,NaN,NaN,NaN,0,NaN,NaN,Northern Africa,35482233,NaN,NaN
130,NaN,NaN,NaN,131,4.335456,-55.898438,NaN,NaN,Suriname,NaN,...,NaN,NaN,NaN,1,NaN,NaN,South America,573311,NaN,NaN
131,NaN,NaN,NaN,132,61.314264,15.231171,NaN,NaN,Sweden,NaN,...,NaN,NaN,NaN,0,NaN,NaN,Northern Europe,9723809,NaN,NaN
132,NaN,NaN,NaN,133,35.054732,38.759766,NaN,NaN,Syria,NaN,...,NaN,NaN,NaN,0,NaN,NaN,Western Asia,17951639,NaN,NaN
133,NaN,NaN,NaN,134,23.882698,121.014404,NaN,NaN,Taiwan,NaN,...,NaN,NaN,NaN,0,NaN,NaN,Eastern Asia,23359928,NaN,NaN
134,NaN,NaN,NaN,135,-6.385978,35.240356,NaN,NaN,Tanzania,NaN,...,NaN,NaN,NaN,0,NaN,NaN,Eastern Africa,49639138,NaN,NaN
135,NaN,NaN,NaN,136,15.604314,100.870285,NaN,NaN,Thailand,NaN,...,NaN,NaN,NaN,0,NaN,NaN,Southeastern Asia,67741401,NaN,NaN
136,NaN,NaN,NaN,137,-8.756491,125.897827,NaN,NaN,Timor Leste,NaN,...,NaN,NaN,NaN,0,NaN,NaN,Southeastern Asia,1201542,NaN,NaN
137,NaN,NaN,NaN,138,8.400375,1.068420,NaN,NaN,Togo,NaN,...,NaN,NaN,NaN,0,NaN,NaN,Western Africa,7351374,NaN,NaN
138,NaN,NaN,NaN,139,-21.178986,-175.198242,NaN,NaN,Tonga,NaN,...,NaN,NaN,NaN,1,NaN,NaN,Polynesia,106440,NaN,NaN
139,NaN,NaN,NaN,140,10.442975,-61.272337,NaN,NaN,Trinidad Tob,NaN,...,NaN,NaN,NaN,1,NaN,NaN,Caribbean,1223916,NaN,NaN
140,NaN,NaN,NaN,141,34.010550,9.593815,NaN,NaN,Tunisia,NaN,...,NaN,NaN,NaN,0,NaN,NaN,Northern Africa,10937521,NaN,NaN
141,NaN,NaN,NaN,142,39.527348,34.628908,NaN,NaN,Turkey,NaN,...,NaN,NaN,NaN,0,NaN,NaN,Western Asia,81619392,NaN,NaN
142,NaN,NaN,NaN,143,-7.478442,178.679921,NaN,NaN,Tuvalu,NaN,...,NaN,NaN,NaN,1,NaN,NaN,Polynesia,10782,NaN,NaN
143,NaN,NaN,NaN,144,53.032955,-1.538080,NaN,NaN,UK,NaN,...,NaN,NaN,NaN,0,NaN,NaN,Northern Europe,63742977,NaN,NaN
144,NaN,NaN,NaN,145,48.942347,33.178719,NaN,NaN,Ukraine,NaN,...,NaN,NaN,NaN,0,NaN,NaN,Eastern Europe,44291413,NaN,NaN
145,NaN,NaN,NaN,146,23.913460,54.448252,NaN,NaN,Untd Arab Em,NaN,...,NaN,NaN,NaN,0,NaN,NaN,Western Asia,5628805,NaN,NaN
146,NaN,NaN,NaN,147,-32.888813,-56.206051,NaN,NaN,Uruguay,NaN,...,NaN,NaN,NaN,0,NaN,NaN,South America,3332972,NaN,NaN
147,NaN,NaN,NaN,148,40.278267,-104.690304,NaN,NaN,USA,NaN,...,NaN,NaN,NaN,0,NaN,NaN,Northern America,318892103,NaN,NaN
148,NaN,NaN,NaN,149,-15.376706,166.959158,NaN,NaN,Vanuatu,NaN,...,NaN,NaN,NaN,1,NaN,NaN,Melanesia,266937,NaN,NaN
149,NaN,NaN,NaN,150,7.927041,-66.369987,NaN,NaN,Venezuela,NaN,...,NaN,NaN,NaN,0,NaN,NaN,South America,28868486,NaN,NaN
150,NaN,NaN,NaN,151,14.058324,108.277199,NaN,NaN,Viet Nam,NaN,...,NaN,NaN,NaN,0,NaN,NaN,Southeastern Asia,93421835,NaN,NaN
151,NaN,NaN,NaN,152,15.990375,47.373059,NaN,NaN,Yemen,NaN,...,NaN,NaN,NaN,0,NaN,NaN,Western Asia,26052966,NaN,NaN

In [17]:
 pd.concat([subsidies_short,countrydata_short],axis=1)

,RegionName,Countries,Type,ReEst_Subsidy2009,%SSFsubsidies_assessed,SSF_USD_1000,weighted_by_sectorsize,Data_group,%SSF_totalCatch_EEZ,%SSF_totalCatch_Country,Countries,Subregion
0,Asia,Philippines,A1,150317.400345,28.662420,43084.605195,TRUE,3,28.662420,25.475502,Albania,Southern Europe
1,Asia,Philippines,A2,106929.633393,25.475502,27240.860867,TRUE,3,28.662420,25.475502,Algeria,Northern Africa
2,Asia,Philippines,A3,14325.450291,28.662420,4106.020784,TRUE,3,28.662420,25.475502,Angola,Middle Africa
3,Asia,Philippines,B1,291723.649784,25.475502,74318.064163,TRUE,3,28.662420,25.475502,Antigua Barb,Caribbean
4,Asia,Philippines,B2,5987.405124,25.475502,1525.321511,TRUE,3,28.662420,25.475502,Argentina,South America
5,Asia,Philippines,B3,0.000000,NaN,NaN,NaN,NaN,28.662420,25.475502,Australia,Australia and New Zealand
6,Asia,Philippines,B4,2305.468110,20.000000,461.093622,FALSE,1,28.662420,25.475502,Bahamas,Caribbean
7,Asia,Philippines,B5,92663.171127,0.000000,0.000000,FALSE,2,28.662420,25.475502,Bahrain,Western Asia
8,Asia,Philippines,B6,0.000000,NaN,NaN,NaN,NaN,28.662420,25.475502,Bangladesh,Southern Asia
9,Asia,Philippines,C1,35605.265432,100.000000,35605.265432,FALSE,1,28.662420,25.475502,Barbados,Caribbean
10,Asia,Philippines,C2,0.000000,NaN,NaN,NaN,NaN,28.662420,25.475502,Belgium,Western Europe
11,Asia,Philippines,C3,21737.044519,100.000000,21737.044519,FALSE,1,28.662420,25.475502,Belize,Central America
12,Asia,India,A1,6450.238140,42.381331,2733.696798,TRUE,3,42.381331,41.498407,Benin,Western Africa
13,Asia,India,A2,2179.113474,41.498407,904.297382,TRUE,3,42.381331,41.498407,Bosnia Herzg,Southern Europe
14,Asia,India,A3,1781.843735,42.381331,755.169097,TRUE,3,42.381331,41.498407,Brazil,South America
15,Asia,India,B1,4035.395412,0.000000,0.000000,FALSE,2,42.381331,41.498407,Brunei Darsm,Southeastern Asia
16,Asia,India,B2,3751.334747,20.000000,750.266949,FALSE,1,42.381331,41.498407,Bulgaria,Eastern Europe
17,Asia,India,B3,4062.029933,17.000000,690.545089,FALSE,1,42.381331,41.498407,Cambodia,Southeastern Asia
18,Asia,India,B4,4035.395412,25.000000,1008.848853,FALSE,1,42.381331,41.498407,Cameroon,Middle Africa
19,Asia,India,B5,123957.406261,20.000000,24791.481252,FALSE,1,42.381331,41.498407,Canada,Northern America
20,Asia,India,B6,0.000000,NaN,NaN,NaN,NaN,42.381331,41.498407,Cape Verde,Western Africa
21,Asia,India,C1,5084.598507,41.498407,2110.027391,TRUE,3,42.381331,41.498407,Chile,South America
22,Asia,India,C2,0.000000,NaN,NaN,NaN,NaN,42.381331,41.498407,China,Eastern Asia
23,Asia,India,C3,2905.485033,100.000000,2905.485033,FALSE,1,42.381331,41.498407,Colombia,South America
24,Asia,Thailand,A1,18538.640909,42.279905,7838.119773,TRUE,3,42.279905,13.560304,Comoros,Eastern Africa
25,Asia,Thailand,A2,2067.787646,13.560304,280.398288,TRUE,3,42.279905,13.560304,Congo Dem Rep,Middle Africa
26,Asia,Thailand,A3,2884.411251,42.279905,1219.526338,TRUE,3,42.279905,13.560304,Congo Rep,Middle Africa
27,Asia,Thailand,B1,58456.068748,25.000000,14614.017187,FALSE,1,42.279905,13.560304,Costa Rica,Central America
28,Asia,Thailand,B2,242.934986,13.560304,32.942722,TRUE,3,42.279905,13.560304,Cote d'Ivoire,Western Africa
29,Asia,Thailand,B3,8015.852723,0.000000,0.000000,FALSE,2,42.279905,13.560304,Croatia,Southern Europe
...,...,...,...,...,...,...,...,...,...,...,...,...
774,Europe,Romania,B4,25694.478873,1.300000,334.028225,1,3,91.666667,1.269394,NaN,NaN
775,Europe,Romania,B5,47.431407,1.300000,0.616608,1,3,91.666667,1.269394,NaN,NaN
776,Europe,Romania,B6,0.000000,NaN,NaN,NaN,NaN,91.666667,1.269394,NaN,NaN
777,Europe,Romania,C1,10.566188,1.300000,0.137360,1,3,91.666667,1.269394,NaN,NaN
778,Europe,Romania,C2,0.000000,NaN,NaN,NaN,NaN,91.666667,1.269394,NaN,NaN
779,Europe,Romania,C3,0.000000,NaN,NaN,NaN,NaN,91.666667,1.269394,NaN,NaN
780,Europe,Ukraine,A1,9039.338360,10.300000,931.051851,1,3,10.292729,3.028619,NaN,NaN
781,Europe,Ukraine,A2,0.000000,NaN,NaN,NaN,NaN,10.292729,3.028619,NaN,NaN
782,Europe,Ukraine,A3,815.509180,10.300000,83.997446,1,3,10.292729,3.028619,NaN,NaN
783,Europe,Ukraine,B1,16357.036931,3.000000,490.711108,1,3,10.292729,3.028619,NaN,NaN
784,Europe,Ukraine,B2,6.506637,3.000000,0.195199,1,3,10.292729,3.028619,NaN,NaN
785,Europe,Ukraine,B3,0.000000,NaN,NaN,NaN,NaN,10.292729,3.028619,NaN,NaN
786,Europe,Ukraine,B4,0.000000,NaN,NaN,NaN,NaN,10.292729,3.028619,NaN,NaN
787,Europe,Ukraine,B5,0.000000,NaN,NaN,NaN,NaN,10.292729,3.028619,NaN,NaN
788,Europe,Ukraine,B6,0.000000,NaN,NaN,NaN,NaN,10.292729,3.028619,NaN,NaN
789,Europe,Ukraine,C1,0.000000,NaN,NaN,NaN,NaN,10.292729,3.028619,NaN,NaN
790,Europe,Ukraine,C2,0.000000,NaN,NaN,NaN,NaN,10.292729,3.028619,NaN,NaN
791,Europe,Ukraine,C3,1218.802917,100.000000,1218.802917,0,3,10.292729,3.028619,NaN,NaN
792,Europe,Denmark,A1,27710.195182,7.800000,2161.395224,1,3,7.759108,6.799901,NaN,NaN
793,Europe,Denmark,A2,12472.157835,7.800000,972.828311,1,3,7.759108,6.799901,NaN,NaN
794,Europe,Denmark,A3,27261.643121,7.800000,2126.408163,1,3,7.759108,6.799901,NaN,NaN
795,Europe,Denmark,B1,26508.544867,6.800000,1802.581051,1,3,7.759108,6.799901,NaN,NaN
796,Europe,Denmark,B2,0.000000,NaN,NaN,NaN,NaN,7.759108,6.799901,NaN,NaN
797,Europe,Denmark,B3,0.000000,NaN,NaN,NaN,NaN,7.759108,6.799901,NaN,NaN
798,Europe,Denmark,B4,18192.846849,18.300000,3329.290973,0,2,7.759108,6.799901,NaN,NaN
799,Europe,Denmark,B5,0.000000,NaN,NaN,NaN,NaN,7.759108,6.799901,NaN,NaN
800,Europe,Denmark,B6,2867.290462,0.000000,0.000000,1,3,7.759108,6.799901,NaN,NaN
801,Europe,Denmark,C1,23594.021906,5.100000,1203.295117,0,2,7.759108,6.799901,NaN,NaN
802,Europe,Denmark,C2,7601.016403,0.000000,0.000000,0,3,7.759108,6.799901,NaN,NaN
803,Europe,Denmark,C3,0.000000,NaN,NaN,NaN,NaN,7.759108,6.799901,NaN,NaN

In [18]:
 pd.concat([subsidies_short,countrydata_short],axis = 1, join_axes=[subsidies_short.index])

,RegionName,Countries,Type,ReEst_Subsidy2009,%SSFsubsidies_assessed,SSF_USD_1000,weighted_by_sectorsize,Data_group,%SSF_totalCatch_EEZ,%SSF_totalCatch_Country,Countries,Subregion
0,Asia,Philippines,A1,150317.400345,28.662420,43084.605195,TRUE,3,28.662420,25.475502,Albania,Southern Europe
1,Asia,Philippines,A2,106929.633393,25.475502,27240.860867,TRUE,3,28.662420,25.475502,Algeria,Northern Africa
2,Asia,Philippines,A3,14325.450291,28.662420,4106.020784,TRUE,3,28.662420,25.475502,Angola,Middle Africa
3,Asia,Philippines,B1,291723.649784,25.475502,74318.064163,TRUE,3,28.662420,25.475502,Antigua Barb,Caribbean
4,Asia,Philippines,B2,5987.405124,25.475502,1525.321511,TRUE,3,28.662420,25.475502,Argentina,South America
5,Asia,Philippines,B3,0.000000,NaN,NaN,NaN,NaN,28.662420,25.475502,Australia,Australia and New Zealand
6,Asia,Philippines,B4,2305.468110,20.000000,461.093622,FALSE,1,28.662420,25.475502,Bahamas,Caribbean
7,Asia,Philippines,B5,92663.171127,0.000000,0.000000,FALSE,2,28.662420,25.475502,Bahrain,Western Asia
8,Asia,Philippines,B6,0.000000,NaN,NaN,NaN,NaN,28.662420,25.475502,Bangladesh,Southern Asia
9,Asia,Philippines,C1,35605.265432,100.000000,35605.265432,FALSE,1,28.662420,25.475502,Barbados,Caribbean
10,Asia,Philippines,C2,0.000000,NaN,NaN,NaN,NaN,28.662420,25.475502,Belgium,Western Europe
11,Asia,Philippines,C3,21737.044519,100.000000,21737.044519,FALSE,1,28.662420,25.475502,Belize,Central America
12,Asia,India,A1,6450.238140,42.381331,2733.696798,TRUE,3,42.381331,41.498407,Benin,Western Africa
13,Asia,India,A2,2179.113474,41.498407,904.297382,TRUE,3,42.381331,41.498407,Bosnia Herzg,Southern Europe
14,Asia,India,A3,1781.843735,42.381331,755.169097,TRUE,3,42.381331,41.498407,Brazil,South America
15,Asia,India,B1,4035.395412,0.000000,0.000000,FALSE,2,42.381331,41.498407,Brunei Darsm,Southeastern Asia
16,Asia,India,B2,3751.334747,20.000000,750.266949,FALSE,1,42.381331,41.498407,Bulgaria,Eastern Europe
17,Asia,India,B3,4062.029933,17.000000,690.545089,FALSE,1,42.381331,41.498407,Cambodia,Southeastern Asia
18,Asia,India,B4,4035.395412,25.000000,1008.848853,FALSE,1,42.381331,41.498407,Cameroon,Middle Africa
19,Asia,India,B5,123957.406261,20.000000,24791.481252,FALSE,1,42.381331,41.498407,Canada,Northern America
20,Asia,India,B6,0.000000,NaN,NaN,NaN,NaN,42.381331,41.498407,Cape Verde,Western Africa
21,Asia,India,C1,5084.598507,41.498407,2110.027391,TRUE,3,42.381331,41.498407,Chile,South America
22,Asia,India,C2,0.000000,NaN,NaN,NaN,NaN,42.381331,41.498407,China,Eastern Asia
23,Asia,India,C3,2905.485033,100.000000,2905.485033,FALSE,1,42.381331,41.498407,Colombia,South America
24,Asia,Thailand,A1,18538.640909,42.279905,7838.119773,TRUE,3,42.279905,13.560304,Comoros,Eastern Africa
25,Asia,Thailand,A2,2067.787646,13.560304,280.398288,TRUE,3,42.279905,13.560304,Congo Dem Rep,Middle Africa
26,Asia,Thailand,A3,2884.411251,42.279905,1219.526338,TRUE,3,42.279905,13.560304,Congo Rep,Middle Africa
27,Asia,Thailand,B1,58456.068748,25.000000,14614.017187,FALSE,1,42.279905,13.560304,Costa Rica,Central America
28,Asia,Thailand,B2,242.934986,13.560304,32.942722,TRUE,3,42.279905,13.560304,Cote d'Ivoire,Western Africa
29,Asia,Thailand,B3,8015.852723,0.000000,0.000000,FALSE,2,42.279905,13.560304,Croatia,Southern Europe
...,...,...,...,...,...,...,...,...,...,...,...,...
774,Europe,Romania,B4,25694.478873,1.300000,334.028225,1,3,91.666667,1.269394,NaN,NaN
775,Europe,Romania,B5,47.431407,1.300000,0.616608,1,3,91.666667,1.269394,NaN,NaN
776,Europe,Romania,B6,0.000000,NaN,NaN,NaN,NaN,91.666667,1.269394,NaN,NaN
777,Europe,Romania,C1,10.566188,1.300000,0.137360,1,3,91.666667,1.269394,NaN,NaN
778,Europe,Romania,C2,0.000000,NaN,NaN,NaN,NaN,91.666667,1.269394,NaN,NaN
779,Europe,Romania,C3,0.000000,NaN,NaN,NaN,NaN,91.666667,1.269394,NaN,NaN
780,Europe,Ukraine,A1,9039.338360,10.300000,931.051851,1,3,10.292729,3.028619,NaN,NaN
781,Europe,Ukraine,A2,0.000000,NaN,NaN,NaN,NaN,10.292729,3.028619,NaN,NaN
782,Europe,Ukraine,A3,815.509180,10.300000,83.997446,1,3,10.292729,3.028619,NaN,NaN
783,Europe,Ukraine,B1,16357.036931,3.000000,490.711108,1,3,10.292729,3.028619,NaN,NaN
784,Europe,Ukraine,B2,6.506637,3.000000,0.195199,1,3,10.292729,3.028619,NaN,NaN
785,Europe,Ukraine,B3,0.000000,NaN,NaN,NaN,NaN,10.292729,3.028619,NaN,NaN
786,Europe,Ukraine,B4,0.000000,NaN,NaN,NaN,NaN,10.292729,3.028619,NaN,NaN
787,Europe,Ukraine,B5,0.000000,NaN,NaN,NaN,NaN,10.292729,3.028619,NaN,NaN
788,Europe,Ukraine,B6,0.000000,NaN,NaN,NaN,NaN,10.292729,3.028619,NaN,NaN
789,Europe,Ukraine,C1,0.000000,NaN,NaN,NaN,NaN,10.292729,3.028619,NaN,NaN
790,Europe,Ukraine,C2,0.000000,NaN,NaN,NaN,NaN,10.292729,3.028619,NaN,NaN
791,Europe,Ukraine,C3,1218.802917,100.000000,1218.802917,0,3,10.292729,3.028619,NaN,NaN
792,Europe,Denmark,A1,27710.195182,7.800000,2161.395224,1,3,7.759108,6.799901,NaN,NaN
793,Europe,Denmark,A2,12472.157835,7.800000,972.828311,1,3,7.759108,6.799901,NaN,NaN
794,Europe,Denmark,A3,27261.643121,7.800000,2126.408163,1,3,7.759108,6.799901,NaN,NaN
795,Europe,Denmark,B1,26508.544867,6.800000,1802.581051,1,3,7.759108,6.799901,NaN,NaN
796,Europe,Denmark,B2,0.000000,NaN,NaN,NaN,NaN,7.759108,6.799901,NaN,NaN
797,Europe,Denmark,B3,0.000000,NaN,NaN,NaN,NaN,7.759108,6.799901,NaN,NaN
798,Europe,Denmark,B4,18192.846849,18.300000,3329.290973,0,2,7.759108,6.799901,NaN,NaN
799,Europe,Denmark,B5,0.000000,NaN,NaN,NaN,NaN,7.759108,6.799901,NaN,NaN
800,Europe,Denmark,B6,2867.290462,0.000000,0.000000,1,3,7.759108,6.799901,NaN,NaN
801,Europe,Denmark,C1,23594.021906,5.100000,1203.295117,0,2,7.759108,6.799901,NaN,NaN
802,Europe,Denmark,C2,7601.016403,0.000000,0.000000,0,3,7.759108,6.799901,NaN,NaN
803,Europe,Denmark,C3,0.000000,NaN,NaN,NaN,NaN,7.759108,6.799901,NaN,NaN

In [19]:
countrydata_short['Subregion'].dtype

dtype('O')

In [20]:
for col in subsidies_short:
    print col, subsidies_short[col].dtypes

RegionName object
Countries object
Type object
ReEst_Subsidy2009 float64
%SSFsubsidies_assessed float64
SSF_USD_1000 float64
weighted_by_sectorsize object
Data_group float64
%SSF_totalCatch_EEZ float64
%SSF_totalCatch_Country float64

In [21]:
for col in countrydata_short:
    print col, countrydata_short[col].dtypes

Countries object
Subregion object

In [22]:
merged_countries_short = pd.merge(left=subsidies_short,right=countrydata_short, how='left')

In [23]:
merged_countries = pd.merge(left=subsidies,right=countrydata, how='left')

In [24]:
merged_countries

,ID,Cnumber,RegionID,RegionName,Type,SubType,Category,ReEst_Subsidy2009,NewData,Developed,...,SSF_USD_1000,CID,Subregion,CLon,CLat,SIDS,TotPop,HDI,Develop,GDP
0,1418,608,2,Asia,A1,Fisheries mangt.,Good,150317.400345,False,Developing,...,43084.605195,108,Southeastern Asia,120.884124,15.351374,0,84619974,0.771,Medium,2.500000e+11
1,1419,608,2,Asia,A2,Fishery R&D,Good,106929.633393,False,Developing,...,27240.860867,108,Southeastern Asia,120.884124,15.351374,0,84619974,0.771,Medium,2.500000e+11
2,1420,608,2,Asia,A3,MPAs,Good,14325.450291,False,Developing,...,4106.020784,108,Southeastern Asia,120.884124,15.351374,0,84619974,0.771,Medium,2.500000e+11
3,1421,608,2,Asia,B1,Boat constsruct. & renov.,Bad,291723.649784,False,Developing,...,74318.064163,108,Southeastern Asia,120.884124,15.351374,0,84619974,0.771,Medium,2.500000e+11
4,1422,608,2,Asia,B2,Fisheries dev. projects,Bad,5987.405124,True,Developing,...,1525.321511,108,Southeastern Asia,120.884124,15.351374,0,84619974,0.771,Medium,2.500000e+11
5,1423,608,2,Asia,B3,Fishing port develop.,Bad,0.000000,False,Developing,...,NaN,108,Southeastern Asia,120.884124,15.351374,0,84619974,0.771,Medium,2.500000e+11
6,1424,608,2,Asia,B4,Markt. & storage infrast.,Bad,2305.468110,False,Developing,...,461.093622,108,Southeastern Asia,120.884124,15.351374,0,84619974,0.771,Medium,2.500000e+11
7,1425,608,2,Asia,B5,Tax exemption,Bad,92663.171127,False,Developing,...,0.000000,108,Southeastern Asia,120.884124,15.351374,0,84619974,0.771,Medium,2.500000e+11
8,1426,608,2,Asia,B6,Fishing access,Bad,0.000000,False,Developing,...,NaN,108,Southeastern Asia,120.884124,15.351374,0,84619974,0.771,Medium,2.500000e+11
9,1428,608,2,Asia,C1,Fisher assistance,Ugly,35605.265432,True,Developing,...,35605.265432,108,Southeastern Asia,120.884124,15.351374,0,84619974,0.771,Medium,2.500000e+11
10,1429,608,2,Asia,C2,Vessel buyback,Ugly,0.000000,False,Developing,...,NaN,108,Southeastern Asia,120.884124,15.351374,0,84619974,0.771,Medium,2.500000e+11
11,1430,608,2,Asia,C3,Rural fisher communities,Ugly,21737.044519,False,Developing,...,21737.044519,108,Southeastern Asia,120.884124,15.351374,0,84619974,0.771,Medium,2.500000e+11
12,820,356,2,Asia,A1,Fisheries mangt.,Good,6450.238140,True,Developing,...,2733.696798,62,Southern Asia,78.936772,22.955232,0,1236344631,0.586,Medium,7.277000e+12
13,821,356,2,Asia,A2,Fishery R&D,Good,2179.113474,True,Developing,...,904.297382,62,Southern Asia,78.936772,22.955232,0,1236344631,0.586,Medium,7.277000e+12
14,822,356,2,Asia,A3,MPAs,Good,1781.843735,False,Developing,...,755.169097,62,Southern Asia,78.936772,22.955232,0,1236344631,0.586,Medium,7.277000e+12
15,823,356,2,Asia,B1,Boat constsruct. & renov.,Bad,4035.395412,True,Developing,...,0.000000,62,Southern Asia,78.936772,22.955232,0,1236344631,0.586,Medium,7.277000e+12
16,824,356,2,Asia,B2,Fisheries dev. projects,Bad,3751.334747,True,Developing,...,750.266949,62,Southern Asia,78.936772,22.955232,0,1236344631,0.586,Medium,7.277000e+12
17,825,356,2,Asia,B3,Fishing port develop.,Bad,4062.029933,True,Developing,...,690.545089,62,Southern Asia,78.936772,22.955232,0,1236344631,0.586,Medium,7.277000e+12
18,826,356,2,Asia,B4,Markt. & storage infrast.,Bad,4035.395412,True,Developing,...,1008.848853,62,Southern Asia,78.936772,22.955232,0,1236344631,0.586,Medium,7.277000e+12
19,827,356,2,Asia,B5,Tax exemption,Bad,123957.406261,False,Developing,...,24791.481252,62,Southern Asia,78.936772,22.955232,0,1236344631,0.586,Medium,7.277000e+12
20,828,356,2,Asia,B6,Fishing access,Bad,0.000000,False,Developing,...,NaN,62,Southern Asia,78.936772,22.955232,0,1236344631,0.586,Medium,7.277000e+12
21,830,356,2,Asia,C1,Fisher assistance,Ugly,5084.598507,True,Developing,...,2110.027391,62,Southern Asia,78.936772,22.955232,0,1236344631,0.586,Medium,7.277000e+12
22,831,356,2,Asia,C2,Vessel buyback,Ugly,0.000000,False,Developing,...,NaN,62,Southern Asia,78.936772,22.955232,0,1236344631,0.586,Medium,7.277000e+12
23,832,356,2,Asia,C3,Rural fisher communities,Ugly,2905.485033,True,Developing,...,2905.485033,62,Southern Asia,78.936772,22.955232,0,1236344631,0.586,Medium,7.277000e+12
24,1756,764,2,Asia,A1,Fisheries mangt.,Good,18538.640909,False,Developing,...,7838.119773,136,Southeastern Asia,100.870285,15.604314,0,67741401,0.722,Medium,9.901000e+11
25,1757,764,2,Asia,A2,Fishery R&D,Good,2067.787646,False,Developing,...,280.398288,136,Southeastern Asia,100.870285,15.604314,0,67741401,0.722,Medium,9.901000e+11
26,1758,764,2,Asia,A3,MPAs,Good,2884.411251,False,Developing,...,1219.526338,136,Southeastern Asia,100.870285,15.604314,0,67741401,0.722,Medium,9.901000e+11
27,1759,764,2,Asia,B1,Boat constsruct. & renov.,Bad,58456.068748,False,Developing,...,14614.017187,136,Southeastern Asia,100.870285,15.604314,0,67741401,0.722,Medium,9.901000e+11
28,1760,764,2,Asia,B2,Fisheries dev. projects,Bad,242.934986,True,Developing,...,32.942722,136,Southeastern Asia,100.870285,15.604314,0,67741401,0.722,Medium,9.901000e+11
29,1761,764,2,Asia,B3,Fishing port develop.,Bad,8015.852723,True,Developing,...,0.000000,136,Southeastern Asia,100.870285,15.604314,0,67741401,0.722,Medium,9.901000e+11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
774,1502,642,1,Europe,B4,Markt. & storage infrast.,Bad,25694.478873,True,Developing,...,334.028225,112,Eastern Europe,24.864120,45.849698,0,21729871,0.785,High,3.865000e+11
775,1503,642,1,Europe,B5,Tax exemption,Bad,47.431407,False,Developing,...,0.616608,112,Eastern Europe,24.864120,45.849698,0,21729871,0.785,High,3.865000e+11
776,1504,642,1,Europe,B6,Fishing access,Bad,0.000000,False,Developing,...,NaN,112,Eastern Europe,24.864120,45.849698,0,21729871,0.785,High,3.865000e+11
777,1506,642,1,Europe,C1,Fisher assistance,Ugly,10.566188,True,Developing,...,0.137360,112,Eastern Europe,24.864120,45.849698,0,21729871,0.785,High,3.865000e+11
778,1507,642,1,Europe,C2,Vessel buyback,Ugly,0.000000,False,Developing,...,NaN,112,Eastern Europe,24.864120,45.849698,0,21729871,0.785,High,3.865000e+11
779,1508,642,1,Europe,C3,Rural fisher communities,Ugly,0.000000,False,Developing,...,NaN,112,Eastern Europe,24.864120,45.849698,0,21729871,0.785,High,3.865000e+11
780,1860,804,1,Europe,A1,Fisheries mangt.,Good,9039.338360,False,Developing,...,931.051851,145,Eastern Europe,33.178719,48.942347,0,44291413,0.734,High,3.731000e+11
781,1861,804,1,Europe,A2,Fishery R&D,Good,0.000000,False,Developing,...,NaN,145,Eastern Europe,33.178719,48.942347,0,44291413,0.734,High,3.731000e+11
782,1862,804,1,Europe,A3,MPAs,Good,815.509180,False,Developing,...,83.997446,145,Eastern Europe,33.178719,48.942347,0,44291413,0.734,High,3.731000e+11
783,1863,804,1,Europe,B1,Boat constsruct. & renov.,Bad,16357.036931,False,Developing,...,490.711108,145,Eastern Europe,33.178719,48.942347,0,44291413,0.734,High,3.731000e+11
784,1864,804,1,Europe,B2,Fisheries dev. projects,Bad,6.506637,True,Developing,...,0.195199,145,Eastern Europe,33.178719,48.942347,0,44291413,0.734,High,3.731000e+11
785,1865,804,1,Europe,B3,Fishing port develop.,Bad,0.000000,False,Developing,...,NaN,145,Eastern Europe,33.178719,48.942347,0,44291413,0.734,High,3.731000e+11
786,1866,804,1,Europe,B4,Markt. & storage infrast.,Bad,0.000000,False,Developing,...,NaN,145,Eastern Europe,33.178719,48.942347,0,44291413,0.734,High,3.731000e+11
787,1867,804,1,Europe,B5,Tax exemption,Bad,0.000000,False,Developing,...,NaN,145,Eastern Europe,33.178719,48.942347,0,44291413,0.734,High,3.731000e+11
788,1868,804,1,Europe,B6,Fishing access,Bad,0.000000,False,Developing,...,NaN,145,Eastern Europe,33.178719,48.942347,0,44291413,0.734,High,3.731000e+11
789,1870,804,1,Europe,C1,Fisher assistance,Ugly,0.000000,False,Developing,...,NaN,145,Eastern Europe,33.178719,48.942347,0,44291413,0.734,High,3.731000e+11
790,1871,804,1,Europe,C2,Vessel buyback,Ugly,0.000000,False,Developing,...,NaN,145,Eastern Europe,33.178719,48.942347,0,44291413,0.734,High,3.731000e+11
791,1872,804,1,Europe,C3,Rural fisher communities,Ugly,1218.802917,False,Developing,...,1218.802917,145,Eastern Europe,33.178719,48.942347,0,44291413,0.734,High,3.731000e+11
792,469,208,1,Europe,A1,Fisheries mangt.,Good,27710.195182,True,Developed,...,2161.395224,33,Northern Europe,9.305420,56.284154,0,5569077,0.900,High,2.487000e+11
793,470,208,1,Europe,A2,Fishery R&D,Good,12472.157835,True,Developed,...,972.828311,33,Northern Europe,9.305420,56.284154,0,5569077,0.900,High,2.487000e+11
794,471,208,1,Europe,A3,MPAs,Good,27261.643121,False,Developed,...,2126.408163,33,Northern Europe,9.305420,56.284154,0,5569077,0.900,High,2.487000e+11
795,472,208,1,Europe,B1,Boat constsruct. & renov.,Bad,26508.544867,True,Developed,...,1802.581051,33,Northern Europe,9.305420,56.284154,0,5569077,0.900,High,2.487000e+11
796,473,208,1,Europe,B2,Fisheries dev. projects,Bad,0.000000,True,Developed,...,NaN,33,Northern Europe,9.305420,56.284154,0,5569077,0.900,High,2.487000e+11
797,474,208,1,Europe,B3,Fishing port develop.,Bad,0.000000,False,Developed,...,NaN,33,Northern Europe,9.305420,56.284154,0,5569077,0.900,High,2.487000e+11
798,475,208,1,Europe,B4,Markt. & storage infrast.,Bad,18192.846849,True,Developed,...,3329.290973,33,Northern Europe,9.305420,56.284154,0,5569077,0.900,High,2.487000e+11
799,476,208,1,Europe,B5,Tax exemption,Bad,0.000000,False,Developed,...,NaN,33,Northern Europe,9.305420,56.284154,0,5569077,0.900,High,2.487000e+11
800,477,208,1,Europe,B6,Fishing access,Bad,2867.290462,True,Developed,...,0.000000,33,Northern Europe,9.305420,56.284154,0,5569077,0.900,High,2.487000e+11
801,479,208,1,Europe,C1,Fisher assistance,Ugly,23594.021906,True,Developed,...,1203.295117,33,Northern Europe,9.305420,56.284154,0,5569077,0.900,High,2.487000e+11
802,480,208,1,Europe,C2,Vessel buyback,Ugly,7601.016403,True,Developed,...,0.000000,33,Northern Europe,9.305420,56.284154,0,5569077,0.900,High,2.487000e+11
803,481,208,1,Europe,C3,Rural fisher communities,Ugly,0.000000,False,Developed,...,NaN,33,Northern Europe,9.305420,56.284154,0,5569077,0.900,High,2.487000e+11

In [25]:
groupby_subregions_type = merged_countries.groupby(['Subregion','Type']).sum()
groupby_subregions_type

                                  ID  Cnumber  RegionID  ReEst_Subsidy2009  \
Subregion                 Type
Australia and New Zealand A1    1341      590        10      129241.779085
                          A2    1343      590        10        9922.318280
                          A3    1345      590        10       79448.594283
                          B1    1347      590        10       89014.750270
                          B2    1349      590        10           0.000000
                          B3    1351      590        10           0.000000
                          B4    1353      590        10           0.000000
                          B5    1355      590        10           0.000000
                          B6    1357      590        10           0.000000
                          C1    1361      590        10       28262.262712
                          C2    1363      590        10      168997.617791
                          C3    1365      590        10           0.000000
Caribbean                 A1    1354      580         8       14204.563990
                          A2    1356      580         8           0.000000
                          A3    1358      580         8        9803.020892
                          B1    1360      580         8        8654.268922
                          B2    1362      580         8        1102.749167
                          B3    1364      580         8           0.000000
                          B4    1366      580         8        2436.401207
                          B5    1368      580         8           0.000000
                          B6    1370      580         8           0.000000
                          C1    1374      580         8           0.000000
                          C2    1376      580         8           0.000000
                          C3    1378      580         8         644.850741
Central America           A1    4229     1821        18       41031.154338
                          A2    4233     1821        18       26098.801716
                          A3    4237     1821        18       19210.143120
                          B1    4241     1821        18           0.000000
                          B2    4245     1821        18        1674.262234
                          B3    4249     1821        18           0.000000
...                              ...      ...       ...                ...
Western Africa            B4    7088     3036        18       10818.881328
                          B5    7094     3036        18       13493.031350
                          B6    7100     3036        18        6681.592074
                          C1    7112     3036        18         471.611311
                          C2    7118     3036        18           0.000000
                          C3    7124     3036        18        5680.738385
Western Asia              A1    3408     1474         4       49329.749991
                          A2    3410     1474         4        7495.464883
                          A3    3412     1474         4        6020.948473
                          B1    3414     1474         4       16006.024961
                          B2    3416     1474         4       33953.610232
                          B3    3418     1474         4           0.000000
                          B4    3420     1474         4       22024.582593
                          B5    3422     1474         4           0.000000
                          B6    3424     1474         4           0.000000
                          C1    3428     1474         4           0.000000
                          C2    3430     1474         4           0.000000
                          C3    3432     1474         4        1367.021810
Western Europe            A1    1835      778         2       37406.749168
                          A2    1837      778         2       33151.656781
                          A3    1839      778         2       22570.416613
                          B1    1841      778         2      136543.967137
                          B2    1843      778         2       11026.511790
                          B3    1845      778         2         903.788941
                          B4    1847      778         2       35520.227633
                          B5    1849      778         2           0.000000
                          B6    1851      778         2       55180.060301
                          C1    1855      778         2      135891.508438
                          C2    1857      778         2       47375.889951
                          C3    1859      778         2           0.000000

                                NewData  HDI_2005  %SSFsubsidies_assessed  \
Subregion                 Type
Australia and New Zealand A1          1     1.905               33.399670
                          A2          0     1.905               17.146119
                          A3          1     1.905               33.399670
                          B1          0     1.905               17.146119
                          B2          0     1.905                     NaN
                          B3          0     1.905                     NaN
                          B4          0     1.905                     NaN
                          B5          0     1.905                     NaN
                          B6          0     1.905                     NaN
                          C1          0     1.905              100.000000
                          C2          0     1.905                0.000000
                          C3          0     1.905                     NaN
Caribbean                 A1          0     1.574              190.100000
                          A2          0     1.574                     NaN
                          A3          0     1.574              190.100000
                          B1          0     1.574              100.000000
                          B2          1     1.574              181.792717
                          B3          0     1.574                     NaN
                          B4          0     1.574              100.000000
                          B5          0     1.574                     NaN
                          B6          0     1.574                     NaN
                          C1          0     1.574                     NaN
                          C2          0     1.574                     NaN
                          C3          0     1.574              100.000000
Central America           A1          0     3.197               67.450318
                          A2          0     3.197              143.655814
                          A3          0     3.197              115.459307
                          B1          0     3.197                     NaN
                          B2          3     3.197               35.344639
                          B3          0     3.197                     NaN
...                                 ...       ...                     ...
Western Africa            B4          1     2.864              201.549627
                          B5          0     2.864               50.000000
                          B6          1     2.864                0.000000
                          C1          1     2.864              100.000000
                          C2          0     2.864                     NaN
                          C3          0     2.864              600.000000
Western Asia              A1          0     1.587               81.100000
                          A2          0     1.587               79.900000
                          A3          0     1.587               81.100000
                          B1          0     1.587                0.000000
                          B2          1     1.587              115.000000
                          B3          0     1.587                     NaN
                          B4          0     1.587                0.000000
                          B5          0     1.587                     NaN
                          B6          0     1.587                     NaN
                          C1          0     1.587                     NaN
                          C2          0     1.587                     NaN
                          C3          0     1.587              200.000000
Western Europe            A1          2     1.905               40.762985
                          A2          2     1.905               22.617134
                          A3          0     1.905               40.932985
                          B1          2     1.905               16.400000
                          B2          2     1.905                9.900000
                          B3          0     1.905               22.117134
                          B4          2     1.905               22.617134
                          B5          0     1.905                     NaN
                          B6          2     1.905                0.000000
                          C1          2     1.905               22.617134
                          C2          1     1.905                0.000000
                          C3          0     1.905                     NaN

                                Data_group  %SSF_totalCatch_EEZ  \
Subregion                 Type
Australia and New Zealand A1             6            33.399670
                          A2             3            33.399670
                          A3             6            33.399670
                          B1             3            33.399670
                          B2           NaN            33.399670
                          B3           NaN            33.399670
                          B4           NaN            33.399670
                          B5           NaN            33.399670
                          B6           NaN            33.399670
                          C1             2            33.399670
                          C2             3            33.399670
                          C3           NaN            33.399670
Caribbean                 A1             5           190.100000
                          A2           NaN           190.100000
                          A3             5           190.100000
                          B1             2           190.100000
                          B2             5           190.100000
                          B3           NaN           190.100000
                          B4             2           190.100000
                          B5           NaN           190.100000
                          B6           NaN           190.100000
                          C1           NaN           190.100000
                          C2           NaN           190.100000
                          C3             2           190.100000
Central America           A1             9           115.452457
                          A2             8           115.452457
                          A3            12           115.452457
                          B1           NaN           115.452457
                          B2             7           115.452457
                          B3           NaN           115.452457
...                                    ...                  ...
Western Africa            B4             9           269.401466
                          B5             4           269.401466
                          B6             2           269.401466
                          C1             2           269.401466
                          C2           NaN           269.401466
                          C3            14           269.401466
Western Asia              A1             6            81.114982
                          A2             6            81.114982
                          A3             6            81.114982
                          B1             2            81.114982
                          B2             5            81.114982
                          B3           NaN            81.114982
                          B4             2            81.114982
                          B5           NaN            81.114982
                          B6           NaN            81.114982
                          C1           NaN            81.114982
                          C2           NaN            81.114982
                          C3             5            81.114982
Western Europe            A1             4            40.980712
                          A2             6            40.980712
                          A3             6            40.980712
                          B1             5            40.980712
                          B2             2            40.980712
                          B3             3            40.980712
                          B4             6            40.980712
                          B5           NaN            40.980712
                          B6             6            40.980712
                          C1             5            40.980712
                          C2             5            40.980712
                          C3           NaN            40.980712

                                %SSF_totalCatch_Country  SSF_USD_1000  CID  \
Subregion                 Type
Australia and New Zealand A1                  39.383025  21426.276002  104
                          A2                  39.383025   1701.292472  104
                          A3                  39.383025  15054.748009  104
                          B1                  39.383025  15262.574761  104
                          B2                  39.383025           NaN  104
                          B3                  39.383025           NaN  104
                          B4                  39.383025           NaN  104
                          B5                  39.383025           NaN  104
                          B6                  39.383025           NaN  104
                          C1                  39.383025  28262.262712  104
                          C2                  39.383025      0.000000  104
                          C3                  39.383025           NaN  104
Caribbean                 A1                 181.792717  13239.783898  100
                          A2                 181.792717           NaN  100
                          A3                 181.792717   9274.321445  100
                          B1                 181.792717   8654.268922  100
                          B2                 181.792717    907.279170  100
                          B3                 181.792717           NaN  100
                          B4                 181.792717   2436.401207  100
                          B5                 181.792717           NaN  100
                          B6                 181.792717           NaN  100
                          C1                 181.792717           NaN  100
                          C2                 181.792717           NaN  100
                          C3                 181.792717    644.850741  100
Central America           A1                 103.978820   6612.211493  321
                          A2                 103.978820  10784.801781  321
                          A3                 103.978820   6631.776769  321
                          B1                 103.978820           NaN  321
                          B2                 103.978820    237.668391  321
                          B3                 103.978820           NaN  321
...                                                 ...           ...  ...
Western Africa            B4                 365.468522   8290.804998  529
                          B5                 365.468522   2637.924284  529
                          B6                 365.468522      0.000000  529
                          C1                 365.468522    471.611311  529
                          C2                 365.468522           NaN  529
                          C3                 365.468522   5680.738385  529
Western Asia              A1                  86.665592  12007.939411  258
                          A2                  86.665592   4051.910527  258
                          A3                  86.665592   1724.250880  258
                          B1                  86.665592      0.000000  258
                          B2                  86.665592   5095.695616  258
                          B3                  86.665592           NaN  258
                          B4                  86.665592      0.000000  258
                          B5                  86.665592           NaN  258
                          B6                  86.665592           NaN  258
                          C1                  86.665592           NaN  258
                          C2                  86.665592           NaN  258
                          C3                  86.665592   1367.021810  258
Western Europe            A1                  22.302142   7854.974633  142
                          A2                  22.302142   4562.799174  142
                          A3                  22.302142   6955.288162  142
                          B1                  22.302142  18581.043278  142
                          B2                  22.302142   1091.624667  142
                          B3                  22.302142    199.892207  142
                          B4                  22.302142   6914.605327  142
                          B5                  22.302142           NaN  142
                          B6                  22.302142      0.000000  142
                          C1                  22.302142  28415.470151  142
                          C2                  22.302142      0.000000  142
                          C3                  22.302142           NaN  142

                                      CLon       CLat  SIDS     TotPop    HDI  \
Subregion                 Type
Australia and New Zealand A1    305.340099 -68.575151     0   26909533  1.843
                          A2    305.340099 -68.575151     0   26909533  1.843
                          A3    305.340099 -68.575151     0   26909533  1.843
                          B1    305.340099 -68.575151     0   26909533  1.843
                          B2    305.340099 -68.575151     0   26909533  1.843
                          B3    305.340099 -68.575151     0   26909533  1.843
                          B4    305.340099 -68.575151     0   26909533  1.843
                          B5    305.340099 -68.575151     0   26909533  1.843
                          B6    305.340099 -68.575151     0   26909533  1.843
                          C1    305.340099 -68.575151     0   26909533  1.843
                          C2    305.340099 -68.575151     0   26909533  1.843
                          C3    305.340099 -68.575151     0   26909533  1.843
Caribbean                 A1   -156.155522  40.100795     2   13977301  1.530
                          A2   -156.155522  40.100795     2   13977301  1.530
                          A3   -156.155522  40.100795     2   13977301  1.530
                          B1   -156.155522  40.100795     2   13977301  1.530
                          B2   -156.155522  40.100795     2   13977301  1.530
                          B3   -156.155522  40.100795     2   13977301  1.530
                          B4   -156.155522  40.100795     2   13977301  1.530
                          B5   -156.155522  40.100795     2   13977301  1.530
                          B6   -156.155522  40.100795     2   13977301  1.530
                          C1   -156.155522  40.100795     2   13977301  1.530
                          C2   -156.155522  40.100795     2   13977301  1.530
                          C3   -156.155522  40.100795     2   13977301  1.530

In [29]:
mean_per_type = groupby_subregions_type.loc[:,['ReEst_Subsidy2009','SSF_USD_1000']]

In [30]:
groupby_subregions = merged_countries.groupby(['Subregion']).sum()
Meansubsidies_subregions = (groupby_subregions.SSF_USD_1000 / groupby_subregions.ReEst_Subsidy2009)*100

In [31]:
Meansubsidies_subregions

Subregion
Australia and New Zealand    16.183245
Caribbean                    95.416175
Central America              31.300110
Eastern Africa               47.192361
Eastern Asia                 22.014088
Eastern Europe                5.486709
Melanesia                     2.370248
Micronesia                    1.936005
Middle Africa                44.275252
Northern Africa              13.881914
Northern America             18.676442
Northern Europe               6.567230
South America                29.126989
Southeastern Asia            21.994490
Southern Africa               3.202589
Southern Asia                44.287819
Southern Europe               8.531187
Western Africa               45.349402
Western Asia                 17.802702
Western Europe               14.464687
dtype: float64

In [32]:
Catch = pd.read_csv("SAU_Catches.csv")

In [33]:
Catch.head()

,Region,Developed,Countries,EEZ,Recreational,Subsistence,Artisanal,Industrial,Total_Catch,SSF_Catch,SSF_Catch_percent
0,Europe,Developing,Albania,True,0.0,0.0,0.4,4.5,4.9,0.4,8.163265
1,Europe,Developing,Albania,False,0.0,0.0,0.4,4.4,4.8,0.4,8.333333
2,Africa,Developing,Algeria,True,1.1,0.2,89.8,164.7,255.8,90.0,35.183737
3,Africa,Developing,Algeria,False,1.1,0.2,89.8,156.7,247.8,90.0,36.319613
4,Africa,Developing,Angola,True,0.1,63.7,156.1,273.2,493.1,219.8,44.575137

In [34]:
Catch_Subregions = pd.merge(left=Catch,right=countrydata, how='left')
Catch_Subregions.head()

,Region,Developed,Countries,EEZ,Recreational,Subsistence,Artisanal,Industrial,Total_Catch,SSF_Catch,SSF_Catch_percent,CID,Subregion,CLon,CLat,SIDS,TotPop,HDI,Develop,GDP
0,Europe,Developing,Albania,True,0.0,0.0,0.4,4.5,4.9,0.4,8.163265,1,Southern Europe,20.050049,40.934006,0,3020209,0.749,High,3.066000e+10
1,Europe,Developing,Albania,False,0.0,0.0,0.4,4.4,4.8,0.4,8.333333,1,Southern Europe,20.050049,40.934006,0,3020209,0.749,High,3.066000e+10
2,Africa,Developing,Algeria,True,1.1,0.2,89.8,164.7,255.8,90.0,35.183737,2,Northern Africa,2.296145,27.940730,0,38813722,0.717,Medium,5.626000e+11
3,Africa,Developing,Algeria,False,1.1,0.2,89.8,156.7,247.8,90.0,36.319613,2,Northern Africa,2.296145,27.940730,0,38813722,0.717,Medium,5.626000e+11
4,Africa,Developing,Angola,True,0.1,63.7,156.1,273.2,493.1,219.8,44.575137,3,Middle Africa,17.237553,-13.299091,0,19088106,0.526,Low,1.755000e+11

In [35]:
Catch_groupby_subregions = Catch_Subregions.groupby(['Subregion', 'EEZ']).sum().reset_index()
Catch_groupby_subregions.head()

,Subregion,EEZ,Recreational,Subsistence,Artisanal,Industrial,Total_Catch,SSF_Catch,SSF_Catch_percent,CID,CLon,CLat,SIDS,TotPop,HDI,GDP
0,Australia and New Zealand,False,40.6,5.01,135.92,481.15,662.7,140.9,41.681948,104,305.340099,-68.575151,0,26909533,1.843,1.258700e+12
1,Australia and New Zealand,True,40.6,5.03,135.93,769.34,950.9,141.0,31.098267,104,305.340099,-68.575151,0,26909533,1.843,1.258700e+12
2,Caribbean,False,9.1,68.70,104.40,54.10,236.3,173.1,858.489485,827,-867.636998,215.454896,13,36751917,9.450,3.699738e+11
3,Caribbean,True,9.1,68.70,104.40,28.10,210.3,173.1,950.608313,827,-867.636998,215.454896,13,36751917,9.450,3.699738e+11
4,Central America,False,5.4,40.90,939.90,1679.10,2665.3,980.8,281.626831,380,-625.384348,105.242434,1,160602530,4.772,2.455517e+12

In [36]:
for col in Catch_groupby_subregions:
    print col, Catch_groupby_subregions[col].dtypes

Subregion object
EEZ bool
Recreational float64
Subsistence float64
Artisanal float64
Industrial float64
Total_Catch float64
SSF_Catch float64
SSF_Catch_percent float64
CID float64
CLon float64
CLat float64
SIDS float64
TotPop float64
HDI float64
GDP float64

In [37]:
Meancatch_subregions = (Catch_groupby_subregions.SSF_Catch / Catch_groupby_subregions.Total_Catch)*100
Meancatch_subregions.head()

0    21.261506
1    14.828058
2    73.254338
3    82.310984
4    36.798859
dtype: float64

In [38]:
Meancatch_subregions.columns = ['Subregion','EEZ','Mean_catch']

In [39]:
Meancatch_subregions.columns

['Subregion', 'EEZ', 'Mean_catch']

In [40]:
Type = pd.read_csv('Subtype_Fleet_EEZ.csv')

In [41]:
Type

                      SubType Type    EEZ
0            Fisheries mangt.   A1   True
1                 Fishery R&D   A2   True
2                        MPAs   A3   True
3   Boat constsruct. & renov.   B1  False
4     Fisheries dev. projects   B2  False
5       Fishing port develop.   B3  False
6   Markt. & storage infrast.   B4  False
7               Tax exemption   B5  False
8              Fishing access   B6  False
9              Fuel subsidies   B7  False
10          Fisher assistance   C1  False
11             Vessel buyback   C2  False
12   Rural fisher communities   C3  False

In [42]:
Subsidies2009 = pd.read_csv("subsidies2009_nofuel.csv")

In [43]:
Subsidies2009_subregions = pd.merge(left=Subsidies2009,right=countrydata, how='left')

In [44]:
Subsidies2009_subregions_Type = pd.merge(left=Subsidies2009_subregions, right=Type, how='left')

In [45]:
Subsidies2009_Catch = pd.merge(left=Subsidies2009_subregions_Type, right=Catch_Subregions, how='left')

In [46]:
Catch_Subregions.head()

,Region,Developed,Countries,EEZ,Recreational,Subsistence,Artisanal,Industrial,Total_Catch,SSF_Catch,SSF_Catch_percent,CID,Subregion,CLon,CLat,SIDS,TotPop,HDI,Develop,GDP
0,Europe,Developing,Albania,True,0.0,0.0,0.4,4.5,4.9,0.4,8.163265,1,Southern Europe,20.050049,40.934006,0,3020209,0.749,High,3.066000e+10
1,Europe,Developing,Albania,False,0.0,0.0,0.4,4.4,4.8,0.4,8.333333,1,Southern Europe,20.050049,40.934006,0,3020209,0.749,High,3.066000e+10
2,Africa,Developing,Algeria,True,1.1,0.2,89.8,164.7,255.8,90.0,35.183737,2,Northern Africa,2.296145,27.940730,0,38813722,0.717,Medium,5.626000e+11
3,Africa,Developing,Algeria,False,1.1,0.2,89.8,156.7,247.8,90.0,36.319613,2,Northern Africa,2.296145,27.940730,0,38813722,0.717,Medium,5.626000e+11
4,Africa,Developing,Angola,True,0.1,63.7,156.1,273.2,493.1,219.8,44.575137,3,Middle Africa,17.237553,-13.299091,0,19088106,0.526,Low,1.755000e+11

In [47]:
Subsidies2009_subregions_Type.head()

,ID,Cnumber,RegionID,RegionName,Countries,Type,SubType,Category,ReEst_Subsidy2009,NewData,...,CID,Subregion,CLon,CLat,SIDS,TotPop,HDI,Develop,GDP,EEZ
0,1,8,1,Europe,Albania,A1,Fisheries mangt.,Good,387.260735,0,...,1,Southern Europe,20.050049,40.934006,0,3020209,0.749,High,30660000000,True
1,2,8,1,Europe,Albania,A2,Fishery R&D,Good,198.557500,0,...,1,Southern Europe,20.050049,40.934006,0,3020209,0.749,High,30660000000,True
2,3,8,1,Europe,Albania,A3,MPAs,Good,58.941816,0,...,1,Southern Europe,20.050049,40.934006,0,3020209,0.749,High,30660000000,True
3,4,8,1,Europe,Albania,B1,Boat constsruct. & renov.,Bad,0.000000,0,...,1,Southern Europe,20.050049,40.934006,0,3020209,0.749,High,30660000000,False
4,5,8,1,Europe,Albania,B2,Fisheries dev. projects,Bad,472.011572,0,...,1,Southern Europe,20.050049,40.934006,0,3020209,0.749,High,30660000000,False

In [48]:
list(Subsidies2009_subregions_Type.columns.values)

['ID',
 'Cnumber',
 'RegionID',
 'RegionName',
 'Countries',
 'Type',
 'SubType',
 'Category',
 'ReEst_Subsidy2009',
 'NewData',
 'Developed',
 'HDI_2005',
 'CID',
 'Subregion',
 'CLon',
 'CLat',
 'SIDS',
 'TotPop',
 'HDI',
 'Develop',
 'GDP',
 'EEZ']

In [49]:
list(Catch_Subregions.columns.values)

['Region',
 'Developed',
 'Countries',
 'EEZ',
 'Recreational',
 'Subsistence',
 'Artisanal',
 'Industrial',
 'Total_Catch',
 'SSF_Catch',
 'SSF_Catch_percent',
 'CID',
 'Subregion',
 'CLon',
 'CLat',
 'SIDS',
 'TotPop',
 'HDI',
 'Develop',
 'GDP']

In [50]:
list(Subsidies2009_Catch.columns.values)

['ID',
 'Cnumber',
 'RegionID',
 'RegionName',
 'Countries',
 'Type',
 'SubType',
 'Category',
 'ReEst_Subsidy2009',
 'NewData',
 'Developed',
 'HDI_2005',
 'CID',
 'Subregion',
 'CLon',
 'CLat',
 'SIDS',
 'TotPop',
 'HDI',
 'Develop',
 'GDP',
 'EEZ',
 'Region',
 'Recreational',
 'Subsistence',
 'Artisanal',
 'Industrial',
 'Total_Catch',
 'SSF_Catch',
 'SSF_Catch_percent']

In [51]:
Subsidies2009_Catch.head()

,ID,Cnumber,RegionID,RegionName,Countries,Type,SubType,Category,ReEst_Subsidy2009,NewData,...,GDP,EEZ,Region,Recreational,Subsistence,Artisanal,Industrial,Total_Catch,SSF_Catch,SSF_Catch_percent
0,1,8,1,Europe,Albania,A1,Fisheries mangt.,Good,387.260735,0,...,30660000000,True,Europe,0,0,0.4,4.5,4.9,0.4,8.163265
1,2,8,1,Europe,Albania,A2,Fishery R&D,Good,198.557500,0,...,30660000000,True,Europe,0,0,0.4,4.5,4.9,0.4,8.163265
2,3,8,1,Europe,Albania,A3,MPAs,Good,58.941816,0,...,30660000000,True,Europe,0,0,0.4,4.5,4.9,0.4,8.163265
3,4,8,1,Europe,Albania,B1,Boat constsruct. & renov.,Bad,0.000000,0,...,30660000000,False,Europe,0,0,0.4,4.4,4.8,0.4,8.333333
4,5,8,1,Europe,Albania,B2,Fisheries dev. projects,Bad,472.011572,0,...,30660000000,False,Europe,0,0,0.4,4.4,4.8,0.4,8.333333

In [134]:
Subsidies2009_Catch_SubregionsEEZ = Subsidies2009_Catch.groupby(['Subregion','EEZ']).sum()

In [157]:
Subsidies2009_Catch_SubregionsEEZ[:1]

,,ID,Cnumber,RegionID,ReEst_Subsidy2009,NewData,HDI_2005,CID,CLon,CLat,SIDS,TotPop,HDI,GDP,Recreational,Subsistence,Artisanal,Industrial,Total_Catch,SSF_Catch,SSF_Catch_percent
Subregion,EEZ,,,,,,,,,,,,,,,,,,,,
Australia and New Zealand,False,12201,5310,90,286274.630773,0,17.145,936,2748.060891,-617.176359,0,242185797,16.587,1.132830e+13,365.4,45.09,1223.28,4330.35,5964.3,1268.1,375.137536

In [136]:
Subsidies2009_Catch_SubregionEEZ['Mean_Catch'] = (Subsidies2009_Catch_SubregionsEEZ['SSF_Catch']/Subsidies2009_Catch_SubregionsEEZ['Total_Catch'])*100

In [155]:
Subregion_EEZ_MeanCatch = Subsidies2009_Catch_SubregionEEZ.reset_index()

In [168]:
Subregion_EEZ_MeanCatch[:1]['Mean_Catch'].isnull()

0    False
Name: Mean_Catch, dtype: bool

In [153]:
Catch_Subregions_MeanCatch = pd.merge(left=Catch_Subregions,right=Subregion_EEZ_MeanCatch, how='left')

In [170]:
Catch_Subregions_MeanCatch[:1]['Mean_Catch'].isnull()

0    True
Name: Mean_Catch, dtype: bool

In [183]:
Catch_Subregions_short = Catch_Subregions.loc[:,['Subregion','Countries','EEZ','Total_Catch','SSF_Catch','SSF_Catch_percent']]

In [184]:
Subregion_EEZ_MeanCatch_short = Subregion_EEZ_MeanCatch.loc[:,['Subregion','EEZ','Mean_Catch']]

In [185]:
Catch_Subregions_MeanCatch = pd.merge(left=Catch_Subregions_short,right=Subregion_EEZ_MeanCatch_short, how='left')

In [186]:
Catch_Subregions_MeanCatch[:1]['Mean_Catch'].isnull()

0    False
Name: Mean_Catch, dtype: bool

In [188]:
Catch_Subregions_MeanCatch[:1]

,Subregion,Countries,EEZ,Total_Catch,SSF_Catch,SSF_Catch_percent,Mean_Catch
0,Southern Europe,Albania,True,4.9,0.4,8.163265,21.604105