In [1]:
import pandas as pd

import matplotlib.pyplot as plt

import matplotlib as mpl

import numpy as np

%matplotlib inline

plt.style.use('ggplot')

pd.set_option('precision',3)

from IPython.display import display, HTML

pd.__version__

u'0.17.1'

In [3]:
prices = pd.read_csv("Mexico_ExVessel_Prices_2000_2010.csv")
catch = pd.read_csv("Mexico_Catch_SAU_taxon.csv")

In [4]:
prices

,Year,CommonName,Taxon,Price (2014 USD) per tonne
0,2000,"Sharks, rays, skates, etc","Sharks, rays, chimaeras",1752.501
1,2000,Starfishes,Starfish and other echinoderms,390.446
2,2000,Pelagic fishes,Marine fishes not identified,1104.987
3,2000,Sea cucumbers,Holothuroidea,271.063
4,2000,Crustaceans,Crustacea,1573.444
5,2000,Skates and rays,Rajiformes,979.589
6,2000,Cods,Gadiformes,646.889
7,2000,Perch-likes,Perciformes,569.484
8,2000,Flatfishes,Pleuronectiformes,1161.813
9,2000,Requiem sharks,Carcharhinidae,2891.657
10,2000,Sea catfishes,Ariidae,1113.802
11,2000,Silversides,Atherinidae,149.132
12,2000,Tilefishes,Malacanthidae,80.935
13,2000,Jacks and pompanos,Carangidae,1010.827
14,2000,Snappers,Lutjanidae,2219.026
15,2000,Mojarras,Gerreidae,732.687
16,2000,Grunts,Haemulidae,1013.754
17,2000,Drums or croakers,Sciaenidae,1171.384
18,2000,Mullets,Mugilidae,756.221
19,2000,Cutlassfishes,Trichiuridae,1445.786
20,2000,Billfishes,Istiophoridae,673.315
21,2000,Triggerfishes,Balistidae,1135.092
22,2000,Anchovies,Engraulidae,20.463
23,2000,Sea mussels,Mytilidae,30627.373
24,2000,Venus clams,Veneridae,125.621
25,2000,Marine crabs,Brachyura,1573.444
26,2000,Groupers,Epinephelus,1675.445
27,2000,Barracudas,Sphyraena,116.857
28,2000,Snooks,Centropomus,3843.424
29,2000,Pompanos,Trachinotus,1192.169
...,...,...,...,...
829,2010,Albacore,Thunnus alalunga,1403.243
830,2010,Yellowfin tuna,Thunnus albacares,1403.243
831,2010,Bigeye tuna,Thunnus obesus,1403.243
832,2010,Northern bluefin tuna,Thunnus thynnus,1403.243
833,2010,Lane snapper,Lutjanus synagris,2370.189
834,2010,Yellowtail snapper,Ocyurus chrysurus,2370.189
835,2010,Swordfish,Xiphias gladius,3532.380
836,2010,North Pacific hake,Merluccius productus,82.421
837,2010,Bobo mullet,Joturus pichardi,656.550
838,2010,Common snook,Centropomus undecimalis,3752.910
839,2010,Spotted weakfish,Cynoscion nebulosus,1324.366
840,2010,Gulf kingcroaker,Menticirrhus littoralis,1324.366
841,2010,Black drum,Pogonias cromis,1324.366
842,2010,Flathead mullet,Mugil cephalus,656.550
843,2010,Round sardinella,Sardinella aurita,84.116
844,2010,Tarpon,Megalops atlanticus,1322.454
845,2010,Yellow snapper,Lutjanus argentiventris,2370.189
846,2010,Northern red snapper,Lutjanus campechanus,3232.209
847,2010,South American pilchard,Sardinops sagax,62.678
848,2010,Californian anchovy,Engraulis mordax,52.072
849,2010,Ocean whitefish,Caulolatilus princeps,2422.312
850,2010,Cobia,Rachycentron canadum,1731.822
851,2010,Pacific bluefin tuna,Thunnus orientalis,1403.243
852,2010,American cupped oyster,Crassostrea virginica,364.132
853,2010,Black stone crab,Menippe mercenaria,5059.921
854,2010,Blue crab,Callinectes sapidus,986.182
855,2010,Caribbean spiny lobster,Panulirus argus,9231.606
856,2010,Common octopus,Octopus vulgaris,2733.770
857,2010,Jumbo flying squid,Dosidicus gigas,179.613
858,2010,Pacific calico scallop,Argopecten circularis,731.424