In [16]:
import pandas as pd

import matplotlib.pyplot as plt

import matplotlib as mpl

import numpy as np

%matplotlib inline

plt.style.use('ggplot')

pd.set_option('precision',3)

from IPython.display import display, HTML

pd.__version__

u'0.17.1'

In [17]:

employment = pd.read_csv("Employment_data.csv")
subsidies = pd.read_csv("Regions_Subsidies.csv")

In [18]:
employment_region = employment.groupby(['Region']).sum()

In [19]:
employment_grouped = employment_region.reset_index()

In [38]:
subsidies['SSF subsidies']=subsidies['SSF subsidies']*1000
subsidies['LSF subsidies']=subsidies['LSF subsidies']*1000
subsidies

       Region  SSF subsidies  LSF subsidies
0      Africa      2.912e+08      6.004e+08
1        Asia      3.023e+09      1.249e+10
2      Europe      6.002e+08      7.971e+09
3   N America      1.023e+09      4.362e+09
4     Oceania      1.408e+08      3.178e+09
5  SC America      5.258e+08      1.164e+09
6       Total      5.605e+09      2.977e+10

In [39]:
Subsidies_employment = pd.merge(left=employment_grouped,right=subsidies, how='left')

In [40]:
Subsidies_employment['total subsidies'] = Subsidies_employment['SSF subsidies'] + Subsidies_employment['LSF subsidies'] 
Subsidies_employment['subsidy per SSF'] = Subsidies_employment['SSF subsidies']/ Subsidies_employment['SSF_jobs_total']
Subsidies_employment['subsidy per LSF'] = Subsidies_employment['LSF subsidies']/ Subsidies_employment['LSF_jobs']
Subsidies_employment['subsidy per fisher'] = Subsidies_employment['total subsidies']/ Subsidies_employment['Direct_jobs_total']

In [41]:
Subsidies_employment

,Region,Direct_jobs_SSF,SSF_jobs_reported,SSF_jobs_total,LSF_jobs,Direct_jobs_total,SSF subsidies,LSF subsidies,total subsidies,subsidy per SSF,subsidy per LSF,subsidy per fisher
0,Africa,1111700,1141401,2253101,837127,3053500,2.912e+08,6.004e+08,8.917e+08,129.265,717.221,292.010
1,Asia,10232400,5315973,15548373,25971717,40120090,3.023e+09,1.249e+10,1.551e+10,194.452,480.915,386.679
2,Europe,141700,21307,163007,629793,792800,6.002e+08,7.971e+09,8.571e+09,3681.792,12656.868,10811.510
3,N America,449000,0,449000,357000,806000,1.023e+09,4.362e+09,5.385e+09,2278.580,12218.668,6681.324
4,Oceania,53700,609931,663631,46069,709700,1.408e+08,3.178e+09,3.319e+09,212.226,68988.378,4676.716
5,SC America,2101200,690201,2791401,1101141,3885600,5.258e+08,1.164e+09,1.690e+09,188.368,1057.514,435.012

In [43]:
Subsidies_intensity = Subsidies_employment.loc[:,['Region','subsidy per SSF','subsidy per LSF','subsidy per fisher']]
Subsidies_intensity

       Region  subsidy per SSF  subsidy per LSF  subsidy per fisher
0      Africa          129.265          717.221             292.010
1        Asia          194.452          480.915             386.679
2      Europe         3681.792        12656.868           10811.510
3   N America         2278.580        12218.668            6681.324
4     Oceania          212.226        68988.378            4676.716
5  SC America          188.368         1057.514             435.012

In [ ]:
Subsidies_intensity = Subsidies_intensity.transpose()
Subsidies_intensity

In [ ]:
#   saved and reloaded for formatting
subsidy_intensity_T =  pd.read_csv("Subsidy_intensity.csv")
subsidy_intensity_T

In [ ]:
subsidy_intensity_T['Africa'].plot(kind='pie', subplots=True, legend=False, labels = None,
                                 fontsize=32, figsize=(10, 10), colors = ['#53706b','#eae8db'], explode = (0.01,0.01))
plt.savefig('Africa.svg', dpi=400, bbox_inches='tight')

In [ ]:
subsidy_intensity_T['Asia'].plot(kind='pie', subplots=True, legend=False, labels = None,
                                 fontsize=32, figsize=(10, 10), colors = ['#53706b','#eae8db' ], explode = (0.01,0.01))
plt.savefig('Asia.svg', dpi=400, bbox_inches='tight')

In [ ]:
subsidy_intensity_T['Europe'].plot(kind='pie', subplots=True, legend=False, labels = None,
                                 fontsize=32, figsize=(10, 10), colors = ['#53706b','#eae8db' ], explode = (0.01,0.01))
plt.savefig('Europe.svg', dpi=400, bbox_inches='tight')

In [ ]:
subsidy_intensity_T['N America'].plot(kind='pie', subplots=True, legend=False, labels = None,
                                 fontsize=32, figsize=(10, 10), colors = ['#53706b','#eae8db' ], explode = (0.01,0.01))
plt.savefig('N_America.svg', dpi=400, bbox_inches='tight')

In [ ]:
subsidy_intensity_T['SC America'].plot(kind='pie', subplots=True, legend=False, labels = None,
                                 fontsize=32, figsize=(10, 10), colors = ['#53706b','#eae8db' ], explode = (0.01,0.01))
plt.savefig('SC_America.svg', dpi=400, bbox_inches='tight')

In [ ]:
subsidy_intensity_T['Oceania'].plot(kind='pie', subplots=True, legend=False, labels = None,
                                 fontsize=32, figsize=(10, 10), colors = ['#53706b','#eae8db' ], explode = (0.01,0.01))
plt.savefig('Oceania.svg', dpi=400, bbox_inches='tight')