In [48]:
%matplotlib inline

import pandas as pd

import matplotlib.pyplot as plt

import numpy

pandas.__version__

u'0.17.0'

In [30]:
pandas.read_csv("Subsidiesnonfuel.csv")

,ID,Cnumber,RegionID,RegionName,Type,SubType,Category,ReEst_Subsidy2009,NewData,Developed,HDI_2005,Countries,%SSFsubsidies_assessed,weighted_by_sectorsize,Data_group,%SSF_totalCatch_EEZ,%SSF_totalCatch_Country,SSF_USD_1000
0,1418,608,2,Asia,A1,Fisheries mangt.,Good,150317.400345,False,Developing,0.771,Philippines,28.662420,TRUE,3,28.662420,25.475502,43084.605195
1,1419,608,2,Asia,A2,Fishery R&D,Good,106929.633393,False,Developing,0.771,Philippines,25.475502,TRUE,3,28.662420,25.475502,27240.860867
2,1420,608,2,Asia,A3,MPAs,Good,14325.450291,False,Developing,0.771,Philippines,28.662420,TRUE,3,28.662420,25.475502,4106.020784
3,1421,608,2,Asia,B1,Boat constsruct. & renov.,Bad,291723.649784,False,Developing,0.771,Philippines,25.475502,TRUE,3,28.662420,25.475502,74318.064163
4,1422,608,2,Asia,B2,Fisheries dev. projects,Bad,5987.405124,True,Developing,0.771,Philippines,25.475502,TRUE,3,28.662420,25.475502,1525.321511
5,1423,608,2,Asia,B3,Fishing port develop.,Bad,0.000000,False,Developing,0.771,Philippines,NaN,NaN,NaN,28.662420,25.475502,NaN
6,1424,608,2,Asia,B4,Markt. & storage infrast.,Bad,2305.468110,False,Developing,0.771,Philippines,20.000000,FALSE,1,28.662420,25.475502,461.093622
7,1425,608,2,Asia,B5,Tax exemption,Bad,92663.171127,False,Developing,0.771,Philippines,0.000000,FALSE,2,28.662420,25.475502,0.000000
8,1426,608,2,Asia,B6,Fishing access,Bad,0.000000,False,Developing,0.771,Philippines,NaN,NaN,NaN,28.662420,25.475502,NaN
9,1428,608,2,Asia,C1,Fisher assistance,Ugly,35605.265432,True,Developing,0.771,Philippines,100.000000,FALSE,1,28.662420,25.475502,35605.265432
10,1429,608,2,Asia,C2,Vessel buyback,Ugly,0.000000,False,Developing,0.771,Philippines,NaN,NaN,NaN,28.662420,25.475502,NaN
11,1430,608,2,Asia,C3,Rural fisher communities,Ugly,21737.044519,False,Developing,0.771,Philippines,100.000000,FALSE,1,28.662420,25.475502,21737.044519
12,820,356,2,Asia,A1,Fisheries mangt.,Good,6450.238140,True,Developing,0.619,India,42.381331,TRUE,3,42.381331,41.498407,2733.696798
13,821,356,2,Asia,A2,Fishery R&D,Good,2179.113474,True,Developing,0.619,India,41.498407,TRUE,3,42.381331,41.498407,904.297382
14,822,356,2,Asia,A3,MPAs,Good,1781.843735,False,Developing,0.619,India,42.381331,TRUE,3,42.381331,41.498407,755.169097
15,823,356,2,Asia,B1,Boat constsruct. & renov.,Bad,4035.395412,True,Developing,0.619,India,0.000000,FALSE,2,42.381331,41.498407,0.000000
16,824,356,2,Asia,B2,Fisheries dev. projects,Bad,3751.334747,True,Developing,0.619,India,20.000000,FALSE,1,42.381331,41.498407,750.266949
17,825,356,2,Asia,B3,Fishing port develop.,Bad,4062.029933,True,Developing,0.619,India,17.000000,FALSE,1,42.381331,41.498407,690.545089
18,826,356,2,Asia,B4,Markt. & storage infrast.,Bad,4035.395412,True,Developing,0.619,India,25.000000,FALSE,1,42.381331,41.498407,1008.848853
19,827,356,2,Asia,B5,Tax exemption,Bad,123957.406261,False,Developing,0.619,India,20.000000,FALSE,1,42.381331,41.498407,24791.481252
20,828,356,2,Asia,B6,Fishing access,Bad,0.000000,False,Developing,0.619,India,NaN,NaN,NaN,42.381331,41.498407,NaN
21,830,356,2,Asia,C1,Fisher assistance,Ugly,5084.598507,True,Developing,0.619,India,41.498407,TRUE,3,42.381331,41.498407,2110.027391
22,831,356,2,Asia,C2,Vessel buyback,Ugly,0.000000,False,Developing,0.619,India,NaN,NaN,NaN,42.381331,41.498407,NaN
23,832,356,2,Asia,C3,Rural fisher communities,Ugly,2905.485033,True,Developing,0.619,India,100.000000,FALSE,1,42.381331,41.498407,2905.485033
24,1756,764,2,Asia,A1,Fisheries mangt.,Good,18538.640909,False,Developing,0.781,Thailand,42.279905,TRUE,3,42.279905,13.560304,7838.119773
25,1757,764,2,Asia,A2,Fishery R&D,Good,2067.787646,False,Developing,0.781,Thailand,13.560304,TRUE,3,42.279905,13.560304,280.398288
26,1758,764,2,Asia,A3,MPAs,Good,2884.411251,False,Developing,0.781,Thailand,42.279905,TRUE,3,42.279905,13.560304,1219.526338
27,1759,764,2,Asia,B1,Boat constsruct. & renov.,Bad,58456.068748,False,Developing,0.781,Thailand,25.000000,FALSE,1,42.279905,13.560304,14614.017187
28,1760,764,2,Asia,B2,Fisheries dev. projects,Bad,242.934986,True,Developing,0.781,Thailand,13.560304,TRUE,3,42.279905,13.560304,32.942722
29,1761,764,2,Asia,B3,Fishing port develop.,Bad,8015.852723,True,Developing,0.781,Thailand,0.000000,FALSE,2,42.279905,13.560304,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
774,1502,642,1,Europe,B4,Markt. & storage infrast.,Bad,25694.478873,True,Developing,0.813,Romania,1.300000,1,3,91.666667,1.269394,334.028225
775,1503,642,1,Europe,B5,Tax exemption,Bad,47.431407,False,Developing,0.813,Romania,1.300000,1,3,91.666667,1.269394,0.616608
776,1504,642,1,Europe,B6,Fishing access,Bad,0.000000,False,Developing,0.813,Romania,NaN,NaN,NaN,91.666667,1.269394,NaN
777,1506,642,1,Europe,C1,Fisher assistance,Ugly,10.566188,True,Developing,0.813,Romania,1.300000,1,3,91.666667,1.269394,0.137360
778,1507,642,1,Europe,C2,Vessel buyback,Ugly,0.000000,False,Developing,0.813,Romania,NaN,NaN,NaN,91.666667,1.269394,NaN
779,1508,642,1,Europe,C3,Rural fisher communities,Ugly,0.000000,False,Developing,0.813,Romania,NaN,NaN,NaN,91.666667,1.269394,NaN
780,1860,804,1,Europe,A1,Fisheries mangt.,Good,9039.338360,False,Developing,0.788,Ukraine,10.300000,1,3,10.292729,3.028619,931.051851
781,1861,804,1,Europe,A2,Fishery R&D,Good,0.000000,False,Developing,0.788,Ukraine,NaN,NaN,NaN,10.292729,3.028619,NaN
782,1862,804,1,Europe,A3,MPAs,Good,815.509180,False,Developing,0.788,Ukraine,10.300000,1,3,10.292729,3.028619,83.997446
783,1863,804,1,Europe,B1,Boat constsruct. & renov.,Bad,16357.036931,False,Developing,0.788,Ukraine,3.000000,1,3,10.292729,3.028619,490.711108
784,1864,804,1,Europe,B2,Fisheries dev. projects,Bad,6.506637,True,Developing,0.788,Ukraine,3.000000,1,3,10.292729,3.028619,0.195199
785,1865,804,1,Europe,B3,Fishing port develop.,Bad,0.000000,False,Developing,0.788,Ukraine,NaN,NaN,NaN,10.292729,3.028619,NaN
786,1866,804,1,Europe,B4,Markt. & storage infrast.,Bad,0.000000,False,Developing,0.788,Ukraine,NaN,NaN,NaN,10.292729,3.028619,NaN
787,1867,804,1,Europe,B5,Tax exemption,Bad,0.000000,False,Developing,0.788,Ukraine,NaN,NaN,NaN,10.292729,3.028619,NaN
788,1868,804,1,Europe,B6,Fishing access,Bad,0.000000,False,Developing,0.788,Ukraine,NaN,NaN,NaN,10.292729,3.028619,NaN
789,1870,804,1,Europe,C1,Fisher assistance,Ugly,0.000000,False,Developing,0.788,Ukraine,NaN,NaN,NaN,10.292729,3.028619,NaN
790,1871,804,1,Europe,C2,Vessel buyback,Ugly,0.000000,False,Developing,0.788,Ukraine,NaN,NaN,NaN,10.292729,3.028619,NaN
791,1872,804,1,Europe,C3,Rural fisher communities,Ugly,1218.802917,False,Developing,0.788,Ukraine,100.000000,0,3,10.292729,3.028619,1218.802917
792,469,208,1,Europe,A1,Fisheries mangt.,Good,27710.195182,True,Developed,0.949,Denmark,7.800000,1,3,7.759108,6.799901,2161.395224
793,470,208,1,Europe,A2,Fishery R&D,Good,12472.157835,True,Developed,0.949,Denmark,7.800000,1,3,7.759108,6.799901,972.828311
794,471,208,1,Europe,A3,MPAs,Good,27261.643121,False,Developed,0.949,Denmark,7.800000,1,3,7.759108,6.799901,2126.408163
795,472,208,1,Europe,B1,Boat constsruct. & renov.,Bad,26508.544867,True,Developed,0.949,Denmark,6.800000,1,3,7.759108,6.799901,1802.581051
796,473,208,1,Europe,B2,Fisheries dev. projects,Bad,0.000000,True,Developed,0.949,Denmark,NaN,NaN,NaN,7.759108,6.799901,NaN
797,474,208,1,Europe,B3,Fishing port develop.,Bad,0.000000,False,Developed,0.949,Denmark,NaN,NaN,NaN,7.759108,6.799901,NaN
798,475,208,1,Europe,B4,Markt. & storage infrast.,Bad,18192.846849,True,Developed,0.949,Denmark,18.300000,0,2,7.759108,6.799901,3329.290973
799,476,208,1,Europe,B5,Tax exemption,Bad,0.000000,False,Developed,0.949,Denmark,NaN,NaN,NaN,7.759108,6.799901,NaN
800,477,208,1,Europe,B6,Fishing access,Bad,2867.290462,True,Developed,0.949,Denmark,0.000000,1,3,7.759108,6.799901,0.000000
801,479,208,1,Europe,C1,Fisher assistance,Ugly,23594.021906,True,Developed,0.949,Denmark,5.100000,0,2,7.759108,6.799901,1203.295117
802,480,208,1,Europe,C2,Vessel buyback,Ugly,7601.016403,True,Developed,0.949,Denmark,0.000000,0,3,7.759108,6.799901,0.000000
803,481,208,1,Europe,C3,Rural fisher communities,Ugly,0.000000,False,Developed,0.949,Denmark,NaN,NaN,NaN,7.759108,6.799901,NaN

In [31]:
subdata = pandas.read_csv("Subsidiesnonfuel.csv")

subdata.head()

,ID,Cnumber,RegionID,RegionName,Type,SubType,Category,ReEst_Subsidy2009,NewData,Developed,HDI_2005,Countries,%SSFsubsidies_assessed,weighted_by_sectorsize,Data_group,%SSF_totalCatch_EEZ,%SSF_totalCatch_Country,SSF_USD_1000
0,1418,608,2,Asia,A1,Fisheries mangt.,Good,150317.400345,False,Developing,0.771,Philippines,28.662420,TRUE,3,28.66242,25.475502,43084.605195
1,1419,608,2,Asia,A2,Fishery R&D,Good,106929.633393,False,Developing,0.771,Philippines,25.475502,TRUE,3,28.66242,25.475502,27240.860867
2,1420,608,2,Asia,A3,MPAs,Good,14325.450291,False,Developing,0.771,Philippines,28.662420,TRUE,3,28.66242,25.475502,4106.020784
3,1421,608,2,Asia,B1,Boat constsruct. & renov.,Bad,291723.649784,False,Developing,0.771,Philippines,25.475502,TRUE,3,28.66242,25.475502,74318.064163
4,1422,608,2,Asia,B2,Fisheries dev. projects,Bad,5987.405124,True,Developing,0.771,Philippines,25.475502,TRUE,3,28.66242,25.475502,1525.321511

In [32]:
subdata1 = subdata.loc[:,['RegionName', 'Countries', 'Type','ReEst_Subsidy2009','%SSFsubsidies_assessed', 'SSF_USD_1000','weighted_by_sectorsize', 'Data_group','%SSF_totalCatch_EEZ','%SSF_totalCatch_Country']]

In [33]:
subdata1

,RegionName,Countries,Type,ReEst_Subsidy2009,%SSFsubsidies_assessed,SSF_USD_1000,weighted_by_sectorsize,Data_group,%SSF_totalCatch_EEZ,%SSF_totalCatch_Country
0,Asia,Philippines,A1,150317.400345,28.662420,43084.605195,TRUE,3,28.662420,25.475502
1,Asia,Philippines,A2,106929.633393,25.475502,27240.860867,TRUE,3,28.662420,25.475502
2,Asia,Philippines,A3,14325.450291,28.662420,4106.020784,TRUE,3,28.662420,25.475502
3,Asia,Philippines,B1,291723.649784,25.475502,74318.064163,TRUE,3,28.662420,25.475502
4,Asia,Philippines,B2,5987.405124,25.475502,1525.321511,TRUE,3,28.662420,25.475502
5,Asia,Philippines,B3,0.000000,NaN,NaN,NaN,NaN,28.662420,25.475502
6,Asia,Philippines,B4,2305.468110,20.000000,461.093622,FALSE,1,28.662420,25.475502
7,Asia,Philippines,B5,92663.171127,0.000000,0.000000,FALSE,2,28.662420,25.475502
8,Asia,Philippines,B6,0.000000,NaN,NaN,NaN,NaN,28.662420,25.475502
9,Asia,Philippines,C1,35605.265432,100.000000,35605.265432,FALSE,1,28.662420,25.475502
10,Asia,Philippines,C2,0.000000,NaN,NaN,NaN,NaN,28.662420,25.475502
11,Asia,Philippines,C3,21737.044519,100.000000,21737.044519,FALSE,1,28.662420,25.475502
12,Asia,India,A1,6450.238140,42.381331,2733.696798,TRUE,3,42.381331,41.498407
13,Asia,India,A2,2179.113474,41.498407,904.297382,TRUE,3,42.381331,41.498407
14,Asia,India,A3,1781.843735,42.381331,755.169097,TRUE,3,42.381331,41.498407
15,Asia,India,B1,4035.395412,0.000000,0.000000,FALSE,2,42.381331,41.498407
16,Asia,India,B2,3751.334747,20.000000,750.266949,FALSE,1,42.381331,41.498407
17,Asia,India,B3,4062.029933,17.000000,690.545089,FALSE,1,42.381331,41.498407
18,Asia,India,B4,4035.395412,25.000000,1008.848853,FALSE,1,42.381331,41.498407
19,Asia,India,B5,123957.406261,20.000000,24791.481252,FALSE,1,42.381331,41.498407
20,Asia,India,B6,0.000000,NaN,NaN,NaN,NaN,42.381331,41.498407
21,Asia,India,C1,5084.598507,41.498407,2110.027391,TRUE,3,42.381331,41.498407
22,Asia,India,C2,0.000000,NaN,NaN,NaN,NaN,42.381331,41.498407
23,Asia,India,C3,2905.485033,100.000000,2905.485033,FALSE,1,42.381331,41.498407
24,Asia,Thailand,A1,18538.640909,42.279905,7838.119773,TRUE,3,42.279905,13.560304
25,Asia,Thailand,A2,2067.787646,13.560304,280.398288,TRUE,3,42.279905,13.560304
26,Asia,Thailand,A3,2884.411251,42.279905,1219.526338,TRUE,3,42.279905,13.560304
27,Asia,Thailand,B1,58456.068748,25.000000,14614.017187,FALSE,1,42.279905,13.560304
28,Asia,Thailand,B2,242.934986,13.560304,32.942722,TRUE,3,42.279905,13.560304
29,Asia,Thailand,B3,8015.852723,0.000000,0.000000,FALSE,2,42.279905,13.560304
...,...,...,...,...,...,...,...,...,...,...
774,Europe,Romania,B4,25694.478873,1.300000,334.028225,1,3,91.666667,1.269394
775,Europe,Romania,B5,47.431407,1.300000,0.616608,1,3,91.666667,1.269394
776,Europe,Romania,B6,0.000000,NaN,NaN,NaN,NaN,91.666667,1.269394
777,Europe,Romania,C1,10.566188,1.300000,0.137360,1,3,91.666667,1.269394
778,Europe,Romania,C2,0.000000,NaN,NaN,NaN,NaN,91.666667,1.269394
779,Europe,Romania,C3,0.000000,NaN,NaN,NaN,NaN,91.666667,1.269394
780,Europe,Ukraine,A1,9039.338360,10.300000,931.051851,1,3,10.292729,3.028619
781,Europe,Ukraine,A2,0.000000,NaN,NaN,NaN,NaN,10.292729,3.028619
782,Europe,Ukraine,A3,815.509180,10.300000,83.997446,1,3,10.292729,3.028619
783,Europe,Ukraine,B1,16357.036931,3.000000,490.711108,1,3,10.292729,3.028619
784,Europe,Ukraine,B2,6.506637,3.000000,0.195199,1,3,10.292729,3.028619
785,Europe,Ukraine,B3,0.000000,NaN,NaN,NaN,NaN,10.292729,3.028619
786,Europe,Ukraine,B4,0.000000,NaN,NaN,NaN,NaN,10.292729,3.028619
787,Europe,Ukraine,B5,0.000000,NaN,NaN,NaN,NaN,10.292729,3.028619
788,Europe,Ukraine,B6,0.000000,NaN,NaN,NaN,NaN,10.292729,3.028619
789,Europe,Ukraine,C1,0.000000,NaN,NaN,NaN,NaN,10.292729,3.028619
790,Europe,Ukraine,C2,0.000000,NaN,NaN,NaN,NaN,10.292729,3.028619
791,Europe,Ukraine,C3,1218.802917,100.000000,1218.802917,0,3,10.292729,3.028619
792,Europe,Denmark,A1,27710.195182,7.800000,2161.395224,1,3,7.759108,6.799901
793,Europe,Denmark,A2,12472.157835,7.800000,972.828311,1,3,7.759108,6.799901
794,Europe,Denmark,A3,27261.643121,7.800000,2126.408163,1,3,7.759108,6.799901
795,Europe,Denmark,B1,26508.544867,6.800000,1802.581051,1,3,7.759108,6.799901
796,Europe,Denmark,B2,0.000000,NaN,NaN,NaN,NaN,7.759108,6.799901
797,Europe,Denmark,B3,0.000000,NaN,NaN,NaN,NaN,7.759108,6.799901
798,Europe,Denmark,B4,18192.846849,18.300000,3329.290973,0,2,7.759108,6.799901
799,Europe,Denmark,B5,0.000000,NaN,NaN,NaN,NaN,7.759108,6.799901
800,Europe,Denmark,B6,2867.290462,0.000000,0.000000,1,3,7.759108,6.799901
801,Europe,Denmark,C1,23594.021906,5.100000,1203.295117,0,2,7.759108,6.799901
802,Europe,Denmark,C2,7601.016403,0.000000,0.000000,0,3,7.759108,6.799901
803,Europe,Denmark,C3,0.000000,NaN,NaN,NaN,NaN,7.759108,6.799901

In [34]:
subdata1.groupby('Countries').mean()

,ReEst_Subsidy2009,%SSFsubsidies_assessed,SSF_USD_1000,Data_group,%SSF_totalCatch_EEZ,%SSF_totalCatch_Country
Countries,,,,,,
Angola,10237.880012,46.600420,6109.903975,2.444444,44.575137,46.050702
Argentina,15979.380763,6.634602,611.834535,2.333333,16.685018,17.343202
Australia,35837.897925,28.869204,11879.476657,2.833333,19.461492,17.146119
Brazil,45608.799719,41.769922,22155.662561,2.222222,51.260412,52.316106
Cameroon,990.648636,59.840000,863.139366,NaN,74.771689,82.493703
Canada,91007.679915,4.643931,8063.195950,2.857143,6.131213,3.991331
Chile,11351.295369,35.358258,1709.074080,2.000000,69.392954,75.615910
China,210190.868001,17.032798,41477.915756,2.727273,35.600970,23.241135
Costa Rica,1073.009658,35.827459,845.831718,2.800000,25.350318,28.436658
Cuba,1346.602773,87.330906,4823.427914,3.000000,90.100000,81.792717
Denmark,12183.976386,6.700000,1449.474855,2.750000,7.759108,6.799901
Ecuador,4932.331802,14.998022,2178.627775,2.200000,21.900000,15.595055
Egypt,1127.413503,17.144118,518.710874,2.400000,27.060440,20.563674
France,34127.767835,19.513450,7426.333288,2.500000,40.432985,22.117134
Gabon,652.323399,58.671429,545.499090,2.428571,27.942422,63.461538
Ghana,4624.453590,65.787314,3360.967781,2.250000,56.467555,51.549627
Greece,16242.584746,38.352000,6414.687254,2.700000,59.786667,51.024124
Guinea,3288.542253,34.714286,1436.631677,2.285714,21.500000,75.952478
Guyana,5122.745877,50.739556,3592.673992,2.000000,51.700000,51.355662
Iceland,11101.947357,2.688381,624.343314,2.833333,3.534304,3.020560
India,13186.903388,34.975948,3664.981784,1.900000,42.381331,41.498407
Indonesia,35228.434495,28.834670,8011.045486,2.000000,22.323870,10.800000
Iran,18273.395463,63.648061,21317.400888,2.166667,58.052126,57.892057
Italy,22854.271894,10.847683,4740.709816,3.000000,14.656489,11.655200
Jamaica,1723.885137,100.000000,3447.770273,2.000000,100.000000,100.000000
Japan,374127.513827,23.394121,102663.265541,2.454545,23.586724,11.800000
Korea Rep,64341.036597,8.450000,10496.490943,2.200000,16.380902,17.293921
Madagascar,943.662988,57.175000,973.066951,2.250000,73.744951,83.311604
Malaysia,14868.794981,21.706250,4169.263199,2.125000,22.118858,29.133010
Mauritania,2172.164258,44.287500,1932.395514,2.125000,4.300000,38.465310
...,...,...,...,...,...,...
New Zealand,6236.045610,13.938178,5215.147006,3.000000,13.938178,22.236906
Nicaragua,1620.591055,30.421414,798.869744,2.333333,31.500000,21.800000
Nigeria,4318.805580,60.739052,5286.356928,2.250000,66.616027,68.156207
Norway,22984.137388,13.150000,4156.356467,2.625000,10.098171,8.287195
Panama,4079.933333,26.641002,1377.571636,2.333333,16.400000,13.523007
Papua N Guin,50869.420079,4.305707,1028.671581,2.125000,9.400476,15.640194
Peru,21497.898870,20.471699,6678.957072,2.125000,8.596049,9.334413
Philippines,60132.874011,39.305705,23119.808455,2.222222,28.662420,25.475502
Poland,32761.333460,4.737049,2291.121790,2.875000,11.944444,3.748910
Romania,4793.924519,35.200000,2592.223556,3.000000,91.666667,1.269394
Russian Fed,105606.848385,6.296975,6460.175954,2.375000,15.181599,16.068940
Saudi Arabia,2737.823284,65.783333,1892.328823,2.500000,64.926740,71.688574
Senegal,655.593497,48.016667,521.876046,2.166667,44.073841,50.575668
Seychelles,346.603044,26.600000,88.652629,2.200000,11.111111,8.970976
Sierra Leone,1433.326612,64.850000,1719.008575,2.250000,76.444043,80.769231
South Africa,2793.865418,8.143379,682.545162,3.000000,8.143379,8.143379
Spain,87672.317557,5.581822,3244.714927,2.300000,7.788784,2.664720
Sri Lanka,15658.776182,34.360000,17172.380793,2.200000,49.069849,52.457786
Suriname,1949.716690,73.877486,2982.741417,2.400000,51.891892,65.603645
Sweden,13316.042310,4.564919,845.201161,3.000000,5.259676,6.863597
Taiwan,19641.616463,15.050000,4181.085542,2.125000,23.400309,7.867387
Thailand,20751.304339,30.582302,5947.252696,2.222222,42.279905,13.560304
Tunisia,503.747685,23.678512,292.792155,2.800000,26.210526,26.433121
Turkey,8611.960294,27.066667,2148.807551,2.833333,16.188242,14.977017
UK,27065.342389,4.484090,1293.287501,2.800000,3.603992,8.057232
USA,333834.087210,17.028063,89570.155273,3.000000,26.719067,19.473750
Ukraine,2286.432835,25.320000,544.951704,3.000000,10.292729,3.028619
Vanuatu,5507.010832,14.072941,1951.440046,3.000000,21.301775,6.844106
Venezuela,3865.063680,66.219926,5447.439804,2.333333,94.310345,75.698865
Viet Nam,54213.987808,22.979514,18100.874352,2.666667,31.833732,37.108916

In [35]:
subdata.loc[:,['RegionName','Countries', 'Type' ,'ReEst_Subsidy2009','SSF_USD_1000']]

    RegionName    Countries Type  ReEst_Subsidy2009  SSF_USD_1000
0         Asia  Philippines   A1      150317.400345  43084.605195
1         Asia  Philippines   A2      106929.633393  27240.860867
2         Asia  Philippines   A3       14325.450291   4106.020784
3         Asia  Philippines   B1      291723.649784  74318.064163
4         Asia  Philippines   B2        5987.405124   1525.321511
5         Asia  Philippines   B3           0.000000           NaN
6         Asia  Philippines   B4        2305.468110    461.093622
7         Asia  Philippines   B5       92663.171127      0.000000
8         Asia  Philippines   B6           0.000000           NaN
9         Asia  Philippines   C1       35605.265432  35605.265432
10        Asia  Philippines   C2           0.000000           NaN
11        Asia  Philippines   C3       21737.044519  21737.044519
12        Asia        India   A1        6450.238140   2733.696798
13        Asia        India   A2        2179.113474    904.297382
14        Asia        India   A3        1781.843735    755.169097
15        Asia        India   B1        4035.395412      0.000000
16        Asia        India   B2        3751.334747    750.266949
17        Asia        India   B3        4062.029933    690.545089
18        Asia        India   B4        4035.395412   1008.848853
19        Asia        India   B5      123957.406261  24791.481252
20        Asia        India   B6           0.000000           NaN
21        Asia        India   C1        5084.598507   2110.027391
22        Asia        India   C2           0.000000           NaN
23        Asia        India   C3        2905.485033   2905.485033
24        Asia     Thailand   A1       18538.640909   7838.119773
25        Asia     Thailand   A2        2067.787646    280.398288
26        Asia     Thailand   A3        2884.411251   1219.526338
27        Asia     Thailand   B1       58456.068748  14614.017187
28        Asia     Thailand   B2         242.934986     32.942722
29        Asia     Thailand   B3        8015.852723      0.000000
..         ...          ...  ...                ...           ...
774     Europe      Romania   B4       25694.478873    334.028225
775     Europe      Romania   B5          47.431407      0.616608
776     Europe      Romania   B6           0.000000           NaN
777     Europe      Romania   C1          10.566188      0.137360
778     Europe      Romania   C2           0.000000           NaN
779     Europe      Romania   C3           0.000000           NaN
780     Europe      Ukraine   A1        9039.338360    931.051851
781     Europe      Ukraine   A2           0.000000           NaN
782     Europe      Ukraine   A3         815.509180     83.997446
783     Europe      Ukraine   B1       16357.036931    490.711108
784     Europe      Ukraine   B2           6.506637      0.195199
785     Europe      Ukraine   B3           0.000000           NaN
786     Europe      Ukraine   B4           0.000000           NaN
787     Europe      Ukraine   B5           0.000000           NaN
788     Europe      Ukraine   B6           0.000000           NaN
789     Europe      Ukraine   C1           0.000000           NaN
790     Europe      Ukraine   C2           0.000000           NaN
791     Europe      Ukraine   C3        1218.802917   1218.802917
792     Europe      Denmark   A1       27710.195182   2161.395224
793     Europe      Denmark   A2       12472.157835    972.828311
794     Europe      Denmark   A3       27261.643121   2126.408163
795     Europe      Denmark   B1       26508.544867   1802.581051
796     Europe      Denmark   B2           0.000000           NaN
797     Europe      Denmark   B3           0.000000           NaN
798     Europe      Denmark   B4       18192.846849   3329.290973
799     Europe      Denmark   B5           0.000000           NaN
800     Europe      Denmark   B6        2867.290462      0.000000
801     Europe      Denmark   C1       23594.021906   1203.295117
802     Europe      Denmark   C2        7601.016403      0.000000
803     Europe      Denmark   C3           0.000000           NaN

[804 rows x 5 columns]

In [36]:
subdata2 = subdata.loc[:,['RegionName','Countries','Type' ,'ReEst_Subsidy2009','SSF_USD_1000']]

In [37]:
subdata2.groupby(['RegionName','Countries']).sum()

                                                    ReEst_Subsidy2009  \
RegionName                            Countries
Africa                                Angola            122854.560149
                                      Cameroon           11887.783631
                                      Egypt              13528.962038
                                      Gabon               7827.880786
                                      Ghana              50868.989487
                                      Guinea             36173.964783
                                      Madagascar         11323.955852
                                      Mauritania         26065.971094
                                      Morocco           212774.245464
                                      Mozambique         10422.289071
                                      Namibia            51722.794987
                                      Nigeria            47506.861375
                                      Senegal             7867.121965
                                      Seychelles          4159.236526
                                      Sierra Leone       15766.592734
                                      South Africa       33526.385018
                                      Tunisia             6044.972222
Asia                                  China            2522290.416015
                                      India             158242.840652
                                      Indonesia         422741.213946
                                      Iran              219280.745556
                                      Japan            4489530.165921
                                      Korea Rep         772092.439169
                                      Malaysia          178425.539776
                                      Myanmar           348213.354164
                                      Philippines       721594.488127
                                      Saudi Arabia       32853.879414
                                      Sri Lanka         187905.314178
                                      Taiwan            235699.397558
                                      Thailand          249015.652072
...                                                               ...
Europe                                Netherlands       106037.562727
                                      Norway            275809.648656
                                      Poland            393136.001524
                                      Romania            57527.094233
                                      Russian Fed      1267282.180622
                                      Spain            1052067.810688
                                      Sweden            159792.507716
                                      UK                324784.108663
                                      Ukraine            27437.194025
North America                         Canada           1092092.158981
                                      Mexico            118892.803827
                                      USA              4006009.046523
Oceania                               Australia         430054.775105
                                      Micronesia       1976079.289046
                                      New Zealand        74832.547317
                                      Papua N Guin      610433.040953
                                      Vanuatu            66084.129987
South, Central America and Carribbean Argentina         191752.569153
                                      Brazil            547305.596630
                                      Chile             136215.544422
                                      Costa Rica         12876.115901
                                      Cuba               16159.233277
                                      Ecuador            59187.981621
                                      Guyana             56350.204643
                                      Jamaica            20686.621640
                                      Nicaragua          19447.092660
                                      Panama             48959.199991
                                      Peru              257974.786440
                                      Suriname           23396.600285
                                      Venezuela          46380.764156

                                                      SSF_USD_1000
RegionName                            Countries
Africa                                Angola          54989.135778
                                      Cameroon         4315.696832
                                      Egypt            2593.554368
                                      Gabon            3818.493627
                                      Ghana           26887.742245
                                      Guinea          10056.421737
                                      Madagascar       3892.267803
                                      Mauritania      15459.164114
                                      Morocco         28196.858484
                                      Mozambique       7889.877485
                                      Namibia             0.000000
                                      Nigeria         21145.427712
                                      Senegal          3131.256276
                                      Seychelles        443.263143
                                      Sierra Leone     6876.034300
                                      South Africa     2730.180649
                                      Tunisia          1463.960776
Asia                                  China          497734.989077
                                      India           36649.817845
                                      Indonesia       56077.318403
                                      Iran           127904.405330
                                      Japan         1129295.920947
                                      Korea Rep      104964.909425
                                      Malaysia        37523.368791
                                      Myanmar         83729.909920
                                      Philippines    208078.276093
                                      Saudi Arabia    11353.972940
                                      Sri Lanka       85861.903964
                                      Taiwan          33448.684338
                                      Thailand        71367.032347
...                                                            ...
Europe                                Netherlands       312.364723
                                      Norway          33250.851738
                                      Poland          20620.096113
                                      Romania         20737.788447
                                      Russian Fed     51681.407635
                                      Spain           32447.149274
                                      Sweden           6761.609289
                                      UK              12932.875007
                                      Ukraine          2724.758520
North America                         Canada          56442.371651
                                      Mexico          45367.255190
                                      USA            895701.552729
Oceania                               Australia       71276.859943
                                      Micronesia      38256.995231
                                      New Zealand     10430.294013
                                      Papua N Guin     8229.372649
                                      Vanuatu          7805.760183
South, Central America and Carribbean Argentina        5506.510815
                                      Brazil         243712.288176
                                      Chile            8545.370401
                                      Costa Rica       4229.158592
                                      Cuba            14470.283741
                                      Ecuador         10893.138875
                                      Guyana          14370.695969
                                      Jamaica         20686.621640
                                      Nicaragua        4793.218462
                                      Panama           8265.429813
                                      Peru            53431.656580
                                      Suriname        14913.707087
                                      Venezuela       32684.638825

[67 rows x 2 columns]

In [38]:
subdata2.groupby(['RegionName','Type']).sum()

                                            ReEst_Subsidy2009   SSF_USD_1000
RegionName                            Type
Africa                                A1        140177.790570   28857.966342
                                      A2         92402.573672   22279.217007
                                      A3         16371.588605    3014.624030
                                      B1        196819.527275   36149.985180
                                      B2        101584.943702   56316.102244
                                      B3         39271.989797   16387.903216
                                      B4         47722.747165   13700.194703
                                      B5         14588.375559    2927.457944
                                      B6          6681.592074       0.000000
                                      C1          1297.486928     851.932829
                                      C2             0.000000            NaN
                                      C3         13403.951834   13403.951834
Asia                                  A1       2666793.855913  851601.087300
                                      A2        754597.552435  197832.154994
                                      A3        126879.261289   33260.787042
                                      B1       1197805.364523  317856.636879
                                      B2        328336.471199   88731.588347
                                      B3       2775670.702754  637020.517989
                                      B4        316512.744490   32067.413025
                                      B5        705465.501553   91124.124799
                                      B6        576445.416265       0.000000
                                      C1        852818.079401  263786.003151
                                      C2        898263.586636       0.000000
                                      C3         92208.287309   92208.287309
Europe                                A1        714272.311257   72552.672372
                                      A2        355912.112435   37752.993647
                                      A3        259889.501968   25624.141163
                                      B1       1021905.341649   61979.907589
                                      B2        278073.869342   17800.038924
                                      B3        419963.690522   28317.947781
...                                                       ...            ...
North America                         B4        222424.340688   42554.889682
                                      B5         91313.106865   17782.086085
                                      B6         52061.349567       0.000000
                                      C1        650000.734907   68216.371672
                                      C2        286682.861134       0.000000
                                      C3             0.000000            NaN
Oceania                               A1        545914.380564   26178.428133
                                      A2        290456.723328   14094.017301
                                      A3         91105.177432   16111.764096
                                      B1        410656.260464   18225.726209
                                      B2        145660.514207   30506.106093
                                      B3         88808.111132       0.000000
                                      B4       1299426.994274       0.000000
                                      B5         71437.780882       0.000000
                                      B6             0.000000            NaN
                                      C1         28262.262712   28262.262712
                                      C2        168997.617791       0.000000
                                      C3         16757.959622    2620.977477
South, Central America and Carribbean A1        498392.222360  148136.669151
                                      A2        182409.590366   81716.568562
                                      A3         68109.513332   37091.251097
                                      B1        193802.472457   47002.271295
                                      B2         56554.901953    9547.716777
                                      B3         61411.106382   34186.196848
                                      B4        128400.173593    6694.379543
                                      B5        137405.186726   11136.047226
                                      B6             0.000000       0.000000
                                      C1         55207.507074   46839.984789
                                      C2         30598.870245       0.000000
                                      C3         24400.766329   14151.633688

[72 rows x 2 columns]

In [39]:
subdata1.groupby(['RegionName','Countries']).mean()

                                                    ReEst_Subsidy2009  \
RegionName                            Countries
Africa                                Angola             10237.880012
                                      Cameroon             990.648636
                                      Egypt               1127.413503
                                      Gabon                652.323399
                                      Ghana               4624.453590
                                      Guinea              3288.542253
                                      Madagascar           943.662988
                                      Mauritania          2172.164258
                                      Morocco            17731.187122
                                      Mozambique           868.524089
                                      Namibia             4702.072272
                                      Nigeria             4318.805580
                                      Senegal              655.593497
                                      Seychelles           346.603044
                                      Sierra Leone        1433.326612
                                      South Africa        2793.865418
                                      Tunisia              503.747685
Asia                                  China             210190.868001
                                      India              13186.903388
                                      Indonesia          35228.434495
                                      Iran               18273.395463
                                      Japan             374127.513827
                                      Korea Rep          64341.036597
                                      Malaysia           14868.794981
                                      Myanmar            29017.779514
                                      Philippines        60132.874011
                                      Saudi Arabia        2737.823284
                                      Sri Lanka          15658.776182
                                      Taiwan             19641.616463
                                      Thailand           20751.304339
...                                                               ...
Europe                                Netherlands         8836.463561
                                      Norway             22984.137388
                                      Poland             32761.333460
                                      Romania             4793.924519
                                      Russian Fed       105606.848385
                                      Spain              87672.317557
                                      Sweden             13316.042310
                                      UK                 27065.342389
                                      Ukraine             2286.432835
North America                         Canada             91007.679915
                                      Mexico              9907.733652
                                      USA               333834.087210
Oceania                               Australia          35837.897925
                                      Micronesia        164673.274087
                                      New Zealand         6236.045610
                                      Papua N Guin       50869.420079
                                      Vanuatu             5507.010832
South, Central America and Carribbean Argentina          15979.380763
                                      Brazil             45608.799719
                                      Chile              11351.295369
                                      Costa Rica          1073.009658
                                      Cuba                1346.602773
                                      Ecuador             4932.331802
                                      Guyana              5122.745877
                                      Jamaica             1723.885137
                                      Nicaragua           1620.591055
                                      Panama              4079.933333
                                      Peru               21497.898870
                                      Suriname            1949.716690
                                      Venezuela           3865.063680

                                                    %SSFsubsidies_assessed  \
RegionName                            Countries
Africa                                Angola                     46.600420
                                      Cameroon                   59.840000
                                      Egypt                      17.144118
                                      Gabon                      58.671429
                                      Ghana                      65.787314
                                      Guinea                     34.714286
                                      Madagascar                 57.175000
                                      Mauritania                 44.287500
                                      Morocco                    31.017024
                                      Mozambique                 75.552463
                                      Namibia                     0.000000
                                      Nigeria                    60.739052
                                      Senegal                    48.016667
                                      Seychelles                 26.600000
                                      Sierra Leone               64.850000
                                      South Africa                8.143379
                                      Tunisia                    23.678512
Asia                                  China                      17.032798
                                      India                      34.975948
                                      Indonesia                  28.834670
                                      Iran                       63.648061
                                      Japan                      23.394121
                                      Korea Rep                   8.450000
                                      Malaysia                   21.706250
                                      Myanmar                    34.191173
                                      Philippines                39.305705
                                      Saudi Arabia               65.783333
                                      Sri Lanka                  34.360000
                                      Taiwan                     15.050000
                                      Thailand                   30.582302
...                                                                    ...
Europe                                Netherlands                 0.353750
                                      Norway                     13.150000
                                      Poland                      4.737049
                                      Romania                    35.200000
                                      Russian Fed                 6.296975
                                      Spain                       5.581822
                                      Sweden                      4.564919
                                      UK                          4.484090
                                      Ukraine                    25.320000
North America                         Canada                      4.643931
                                      Mexico                     33.160113
                                      USA                        17.028063
Oceania                               Australia                  28.869204
                                      Micronesia                  5.549155
                                      New Zealand                13.938178
                                      Papua N Guin                4.305707
                                      Vanuatu                    14.072941
South, Central America and Carribbean Argentina                   6.634602
                                      Brazil                     41.769922
                                      Chile                      35.358258
                                      Costa Rica                 35.827459
                                      Cuba                       87.330906
                                      Ecuador                    14.998022
                                      Guyana                     50.739556
                                      Jamaica                   100.000000
                                      Nicaragua                  30.421414
                                      Panama                     26.641002
                                      Peru                       20.471699
                                      Suriname                   73.877486
                                      Venezuela                  66.219926

                                                     SSF_USD_1000  Data_group  \
RegionName                            Countries
Africa                                Angola          6109.903975    2.444444
                                      Cameroon         863.139366         NaN
                                      Egypt            518.710874    2.400000
                                      Gabon            545.499090    2.428571
                                      Ghana           3360.967781    2.250000
                                      Guinea          1436.631677    2.285714
                                      Madagascar       973.066951    2.250000
                                      Mauritania      1932.395514    2.125000
                                      Morocco         4028.122641    2.142857
                                      Mozambique      1972.469371    2.000000
                                      Namibia            0.000000    1.000000
                                      Nigeria         5286.356928    2.250000
                                      Senegal          521.876046    2.166667
                                      Seychelles        88.652629    2.200000
                                      Sierra Leone    1719.008575    2.250000
                                      South Africa     682.545162    3.000000
                                      Tunisia          292.792155    2.800000
Asia                                  China          41477.915756    2.727273
                                      India           3664.981784    1.900000
                                      Indonesia       8011.045486    2.000000
                                      Iran           21317.400888    2.166667
                                      Japan         102663.265541    2.454545
                                      Korea Rep      10496.490943    2.200000
                                      Malaysia        4169.263199    2.125000
                                      Myanmar        13954.984987    2.833333
                                      Philippines    23119.808455    2.222222
                                      Saudi Arabia    1892.328823    2.500000
                                      Sri Lanka      17172.380793    2.200000
                                      Taiwan          4181.085542    2.125000
                                      Thailand        5947.252696    2.222222
...                                                           ...         ...
Europe                                Netherlands       39.045590    2.875000
                                      Norway          4156.356467    2.625000
                                      Poland          2291.121790    2.875000
                                      Romania         2592.223556    3.000000
                                      Russian Fed     6460.175954    2.375000
                                      Spain           3244.714927    2.300000
                                      Sweden           845.201161    3.000000
                                      UK              1293.287501    2.800000
                                      Ukraine          544.951704    3.000000
North America                         Canada          8063.195950    2.857143
                                      Mexico         11341.813797    2.750000
                                      USA            89570.155273    3.000000
Oceania                               Australia      11879.476657    2.833333
                                      Micronesia      5465.285033    2.000000
                                      New Zealand     5215.147006    3.000000
                                      Papua N Guin    1028.671581    2.125000
                                      Vanuatu         1951.440046    3.000000
South, Central America and Carribbean Argentina        611.834535    2.333333
                                      Brazil         22155.662561    2.222222
                                      Chile           1709.074080    2.000000
                                      Costa Rica       845.831718    2.800000
                                      Cuba            4823.427914    3.000000
                                      Ecuador         2178.627775    2.200000
                                      Guyana          3592.673992    2.000000
                                      Jamaica         3447.770273    2.000000
                                      Nicaragua        798.869744    2.333333
                                      Panama          1377.571636    2.333333
                                      Peru            6678.957072    2.125000
                                      Suriname        2982.741417    2.400000
                                      Venezuela       5447.439804    2.333333

                                                    %SSF_totalCatch_EEZ  \
RegionName                            Countries
Africa                                Angola                  44.575137
                                      Cameroon                74.771689
                                      Egypt                   27.060440
                                      Gabon                   27.942422
                                      Ghana                   56.467555
                                      Guinea                  21.500000
                                      Madagascar              73.744951
                                      Mauritania               4.300000
                                      Morocco                  4.966797
                                      Mozambique              73.684211
                                      Namibia                  0.000000
                                      Nigeria                 66.616027
                                      Senegal                 44.073841
                                      Seychelles              11.111111
                                      Sierra Leone            76.444043
                                      South Africa             8.143379
                                      Tunisia                 26.210526
Asia                                  China                   35.600970
                                      India                   42.381331
                                      Indonesia               22.323870
                                      Iran                    58.052126
                                      Japan                   23.586724
                                      Korea Rep               16.380902
                                      Malaysia                22.118858
                                      Myanmar                 20.813764
                                      Philippines             28.662420
                                      Saudi Arabia            64.926740
                                      Sri Lanka               49.069849
                                      Taiwan                  23.400309
                                      Thailand                42.279905
...                                                                 ...
Europe                                Netherlands              0.547727
                                      Norway                  10.098171
                                      Poland                  11.944444
                                      Romania                 91.666667
                                      Russian Fed             15.181599
                                      Spain                    7.788784
                                      Sweden                   5.259676
                                      UK                       3.603992
                                      Ukraine                 10.292729
North America                         Canada                   6.131213
                                      Mexico                  42.202139
                                      USA                     26.719067
Oceania                               Australia               19.461492
                                      Micronesia               8.501559
                                      New Zealand             13.938178
                                      Papua N Guin             9.400476
                                      Vanuatu                 21.301775
South, Central America and Carribbean Argentina               16.685018
                                      Brazil                  51.260412
                                      Chile                   69.392954
                                      Costa Rica              25.350318
                                      Cuba                    90.100000
                                      Ecuador                 21.900000
                                      Guyana                  51.700000
                                      Jamaica                100.000000
                                      Nicaragua               31.500000
                                      Panama                  16.400000
                                      Peru                     8.596049
                                      Suriname                51.891892
                                      Venezuela               94.310345

                                                    %SSF_totalCatch_Country
RegionName                            Countries
Africa                                Angola                      46.050702
                                      Cameroon                    82.493703
                                      Egypt                       20.563674
                                      Gabon                       63.461538
                                      Ghana                       51.549627
                                      Guinea                      75.952478
                                      Madagascar                  83.311604
                                      Mauritania                  38.465310
                                      Morocco                      8.952369
                                      Mozambique                  78.525641
                                      Namibia                      0.000000
                                      Nigeria                     68.156207
                                      Senegal                     50.575668
                                      Seychelles                   8.970976
                                      Sierra Leone                80.769231
                                      South Africa                 8.143379
                                      Tunisia                     26.433121
Asia                                  China                       23.241135

In [40]:
countrydata = pandas.read_csv("Country_Data.csv")

In [41]:
countrydata

,CID,Country,Region,Subregion,CLon,CLat,SIDS,TotPop,HDI,Develop,GDP
0,1,Albania,Europe,Southern Europe,20.050049,40.934006,0,3020209,0.749,High,3.066000e+10
1,2,Algeria,Africa,Northern Africa,2.296145,27.940730,0,38813722,0.717,Medium,5.626000e+11
2,3,American Samoa,Oceania,Polynesia,-170.695018,-14.306407,1,55519,0.827,High,5.370000e+08
3,4,Angola,Africa,Middle Africa,17.237553,-13.299091,0,19088106,0.526,Low,1.755000e+11
4,5,Antigua Barb,Americas,Caribbean,-61.800000,17.050000,1,91295,0.774,High,1.989000e+09
5,6,Argentina,Americas,South America,-64.379883,-33.707205,0,43024374,0.808,High,9.274000e+11
6,7,Australia,Oceania,Australia and New Zealand,133.769531,-25.105497,0,22507617,0.933,High,1.100000e+12
7,8,Bahamas,Americas,Caribbean,-77.934265,24.533303,1,321834,0.789,High,9.034000e+09
8,9,Bahrain,Asia,Western Asia,50.550000,26.000000,1,1314089,0.815,High,6.156000e+10
9,10,Bangladesh,Asia,Southern Asia,90.186768,24.444024,0,166280712,0.558,Medium,5.366000e+11
10,11,Barbados,Americas,Caribbean,-59.550018,13.151284,1,289680,0.776,High,4.513000e+09
11,12,Belgium,Europe,Western Europe,4.383545,50.692543,0,10449361,0.881,High,4.671000e+11
12,13,Belize,Americas,Central America,-88.846436,17.261154,1,340844,0.732,Medium,2.907000e+09
13,14,Benin,Africa,Western Africa,2.438965,9.702289,0,10160556,0.476,Low,1.985000e+10
14,15,Brazil,Americas,South America,-51.815643,-12.986242,0,202656788,0.744,High,3.073000e+12
15,16,Brunei Darsm,Asia,Southeastern Asia,114.612122,4.438665,0,422675,0.852,High,3.211000e+10
16,17,Bulgaria,Europe,Eastern Europe,25.125732,42.501972,0,6924716,0.777,High,1.233000e+11
17,18,Cambodia,Asia,Southeastern Asia,104.768372,12.773467,0,15458332,0.584,Medium,5.025000e+10
18,19,Cameroon,Africa,Middle Africa,12.370605,4.471011,0,23130708,0.504,Medium,6.723000e+10
19,20,Canada,Americas,Northern America,-106.424561,56.532039,0,34834841,0.902,High,1.579000e+12
20,21,Cape Verde,Africa,Western Africa,-23.521729,15.012443,1,538535,0.636,Medium,3.286000e+09
21,22,Chile,Americas,South America,-69.833221,-26.826905,0,17363894,0.822,High,4.103000e+11
22,23,China Main,Asia,Eastern Asia,103.977356,34.709304,0,1355692576,0.719,Medium,1.763000e+13
23,24,Colombia,Americas,South America,-73.085175,3.422521,0,46245297,0.711,Medium,6.427000e+11
24,25,Comoros,Africa,Eastern Africa,43.368530,-11.729226,1,766865,0.488,Medium,1.211000e+09
25,26,Congo Dem Rep,Africa,Middle Africa,22.450562,-3.021555,0,77433744,0.338,Low,5.573000e+10
26,27,Congo Rep,Africa,Middle Africa,15.419312,-1.001421,0,4662446,0.564,Medium,2.809000e+10
27,28,Cook Is,Oceania,Polynesia,-159.777671,-21.236736,1,19569,NaN,NaN,1.832000e+08
28,29,Costa Rica,Americas,Central America,-83.807831,9.879147,0,4755234,0.763,High,7.121000e+10
29,30,Cote D'Ivoire,Africa,Western Africa,-5.372314,7.606192,0,22848945,0.452,Low,7.195000e+10
...,...,...,...,...,...,...,...,...,...,...,...
130,126,Sri Lanka,Asia,Southern Asia,80.771484,7.305261,0,21866445,0.750,High,2.171000e+11
131,127,St Kitts Nev,Americas,Caribbean,-62.750000,17.333333,1,51538,0.750,Medium,1.220000e+09
132,128,St Lucia,Americas,Caribbean,-60.975708,13.900474,1,163362,0.714,Medium,1.893000e+09
133,129,St Vincent,Americas,Caribbean,-61.173462,13.227645,1,102918,0.719,Medium,1.193000e+09
134,130,Sudan,Africa,Northern Africa,30.524139,15.795888,0,35482233,0.473,Medium,1.595000e+11
135,131,Suriname,Americas,South America,-55.898438,4.335456,1,573311,0.705,Medium,9.240000e+09
136,132,Sweden,Europe,Northern Europe,15.231171,61.314264,0,9723809,0.898,High,4.342000e+10
137,133,Syria,Asia,Western Asia,38.759766,35.054732,0,17951639,0.658,Medium,1.076000e+10
138,134,Taiwan,Asia,Eastern Asia,121.014404,23.882698,0,23359928,0.777,High,1.022000e+12
139,135,Tanzania,Africa,Eastern Africa,35.240356,-6.385978,0,49639138,0.488,Medium,9.253000e+10
140,136,Thailand,Asia,Southeastern Asia,100.870285,15.604314,0,67741401,0.722,Medium,9.901000e+11
141,137,Timor Leste,Asia,Southeastern Asia,125.897827,-8.756491,0,1201542,0.620,Medium,8.364000e+09
142,138,Togo,Africa,Western Africa,1.068420,8.400375,0,7351374,0.473,Medium,1.018000e+10
143,139,Tokelau,Oceania,Polynesia,-171.809113,-9.181709,1,1337,NaN,NaN,1.500000e+06
144,140,Tonga,Oceania,Polynesia,-175.198242,-21.178986,1,106440,0.705,High,5.230000e+08
145,141,Trinidad Tob,Americas,Caribbean,-61.272337,10.442975,1,1223916,0.766,High,4.223000e+10
146,142,Tunisia,Africa,Northern Africa,9.593815,34.010550,0,10937521,0.721,Medium,1.251000e+11
147,143,Turkey,Asia,Western Asia,34.628908,39.527348,0,81619392,0.759,Medium,1.512000e+12
148,144,Tuvalu,Oceania,Polynesia,178.679921,-7.478442,1,10782,NaN,NaN,3.500000e+07
149,145,UK,Europe,Northern Europe,-1.538080,53.032955,0,63742977,0.892,Medium,2.435000e+12
150,146,Ukraine,Europe,Eastern Europe,33.178719,48.942347,0,44291413,0.734,High,3.731000e+11
151,147,Untd Arab Em,Asia,Western Asia,54.448252,23.913460,0,5628805,0.827,High,6.050000e+08
152,148,Uruguay,Americas,South America,-56.206051,-32.888813,0,3332972,0.790,High,6.978000e+10
153,149,USA,Americas,Northern America,-104.690304,40.278267,0,318892103,0.914,High,1.746000e+13
154,150,Vanuatu,Oceania,Melanesia,166.959158,-15.376706,1,266937,0.616,Medium,6.870000e+08
155,151,Venezuela,Americas,South America,-66.369987,7.927041,0,28868486,0.764,Medium,5.457000e+08
156,152,Viet Nam,Asia,Southeastern Asia,108.277199,14.058324,0,93421835,0.638,Medium,5.095000e+11
157,153,Wallis and Futuna,Oceania,Polynesia,-178.116500,-14.293800,1,15561,0.793,High,6.000000e+07
158,154,Yemen,Asia,Western Asia,47.373059,15.990375,0,26052966,0.500,Medium,1.060000e+11
159,160,Iraq,Asia,Western Asia,43.679291,33.223191,0,31837000,NaN,NaN,2.400000e+08

In [42]:
countrydata1 = countrydata.loc[:,['Country','Region', 'Subregion']]

In [43]:
countrydata1

               Country    Region                  Subregion
0              Albania    Europe            Southern Europe
1              Algeria    Africa            Northern Africa
2       American Samoa   Oceania                  Polynesia
3               Angola    Africa              Middle Africa
4         Antigua Barb  Americas                  Caribbean
5            Argentina  Americas              South America
6            Australia   Oceania  Australia and New Zealand
7              Bahamas  Americas                  Caribbean
8              Bahrain      Asia               Western Asia
9           Bangladesh      Asia              Southern Asia
10            Barbados  Americas                  Caribbean
11             Belgium    Europe             Western Europe
12              Belize  Americas            Central America
13               Benin    Africa             Western Africa
14              Brazil  Americas              South America
15        Brunei Darsm      Asia          Southeastern Asia
16            Bulgaria    Europe             Eastern Europe
17            Cambodia      Asia          Southeastern Asia
18            Cameroon    Africa              Middle Africa
19              Canada  Americas           Northern America
20          Cape Verde    Africa             Western Africa
21               Chile  Americas              South America
22          China Main      Asia               Eastern Asia
23            Colombia  Americas              South America
24             Comoros    Africa             Eastern Africa
25       Congo Dem Rep    Africa              Middle Africa
26           Congo Rep    Africa              Middle Africa
27             Cook Is   Oceania                  Polynesia
28          Costa Rica  Americas            Central America
29       Cote D'Ivoire    Africa             Western Africa
..                 ...       ...                        ...
130          Sri Lanka      Asia              Southern Asia
131       St Kitts Nev  Americas                  Caribbean
132           St Lucia  Americas                  Caribbean
133         St Vincent  Americas                  Caribbean
134              Sudan    Africa            Northern Africa
135           Suriname  Americas              South America
136             Sweden    Europe            Northern Europe
137              Syria      Asia               Western Asia
138             Taiwan      Asia               Eastern Asia
139           Tanzania    Africa             Eastern Africa
140           Thailand      Asia          Southeastern Asia
141        Timor Leste      Asia          Southeastern Asia
142               Togo    Africa             Western Africa
143            Tokelau   Oceania                  Polynesia
144              Tonga   Oceania                  Polynesia
145       Trinidad Tob  Americas                  Caribbean
146            Tunisia    Africa            Northern Africa
147             Turkey      Asia               Western Asia
148             Tuvalu   Oceania                  Polynesia
149                 UK    Europe            Northern Europe
150            Ukraine    Europe             Eastern Europe
151       Untd Arab Em      Asia               Western Asia
152            Uruguay  Americas              South America
153                USA  Americas           Northern America
154            Vanuatu   Oceania                  Melanesia
155          Venezuela  Americas              South America
156           Viet Nam      Asia          Southeastern Asia
157  Wallis and Futuna   Oceania                  Polynesia
158              Yemen      Asia               Western Asia
159               Iraq      Asia               Western Asia

[160 rows x 3 columns]

In [44]:
frames = [subdata1,countrydata1]

In [45]:
frames

[    RegionName    Countries Type  ReEst_Subsidy2009  %SSFsubsidies_assessed  \
 0         Asia  Philippines   A1      150317.400345               28.662420
 1         Asia  Philippines   A2      106929.633393               25.475502
 2         Asia  Philippines   A3       14325.450291               28.662420
 3         Asia  Philippines   B1      291723.649784               25.475502
 4         Asia  Philippines   B2        5987.405124               25.475502
 5         Asia  Philippines   B3           0.000000                     NaN
 6         Asia  Philippines   B4        2305.468110               20.000000
 7         Asia  Philippines   B5       92663.171127                0.000000
 8         Asia  Philippines   B6           0.000000                     NaN
 9         Asia  Philippines   C1       35605.265432              100.000000
 10        Asia  Philippines   C2           0.000000                     NaN
 11        Asia  Philippines   C3       21737.044519              100.000000
 12        Asia        India   A1        6450.238140               42.381331
 13        Asia        India   A2        2179.113474               41.498407
 14        Asia        India   A3        1781.843735               42.381331
 15        Asia        India   B1        4035.395412                0.000000
 16        Asia        India   B2        3751.334747               20.000000
 17        Asia        India   B3        4062.029933               17.000000
 18        Asia        India   B4        4035.395412               25.000000
 19        Asia        India   B5      123957.406261               20.000000
 20        Asia        India   B6           0.000000                     NaN
 21        Asia        India   C1        5084.598507               41.498407
 22        Asia        India   C2           0.000000                     NaN
 23        Asia        India   C3        2905.485033              100.000000
 24        Asia     Thailand   A1       18538.640909               42.279905
 25        Asia     Thailand   A2        2067.787646               13.560304
 26        Asia     Thailand   A3        2884.411251               42.279905
 27        Asia     Thailand   B1       58456.068748               25.000000
 28        Asia     Thailand   B2         242.934986               13.560304
 29        Asia     Thailand   B3        8015.852723                0.000000
 ..         ...          ...  ...                ...                     ...
 774     Europe      Romania   B4       25694.478873                1.300000
 775     Europe      Romania   B5          47.431407                1.300000
 776     Europe      Romania   B6           0.000000                     NaN
 777     Europe      Romania   C1          10.566188                1.300000
 778     Europe      Romania   C2           0.000000                     NaN
 779     Europe      Romania   C3           0.000000                     NaN
 780     Europe      Ukraine   A1        9039.338360               10.300000
 781     Europe      Ukraine   A2           0.000000                     NaN
 782     Europe      Ukraine   A3         815.509180               10.300000
 783     Europe      Ukraine   B1       16357.036931                3.000000
 784     Europe      Ukraine   B2           6.506637                3.000000
 785     Europe      Ukraine   B3           0.000000                     NaN
 786     Europe      Ukraine   B4           0.000000                     NaN
 787     Europe      Ukraine   B5           0.000000                     NaN
 788     Europe      Ukraine   B6           0.000000                     NaN
 789     Europe      Ukraine   C1           0.000000                     NaN
 790     Europe      Ukraine   C2           0.000000                     NaN
 791     Europe      Ukraine   C3        1218.802917              100.000000
 792     Europe      Denmark   A1       27710.195182                7.800000
 793     Europe      Denmark   A2       12472.157835                7.800000
 794     Europe      Denmark   A3       27261.643121                7.800000
 795     Europe      Denmark   B1       26508.544867                6.800000
 796     Europe      Denmark   B2           0.000000                     NaN
 797     Europe      Denmark   B3           0.000000                     NaN
 798     Europe      Denmark   B4       18192.846849               18.300000
 799     Europe      Denmark   B5           0.000000                     NaN
 800     Europe      Denmark   B6        2867.290462                0.000000
 801     Europe      Denmark   C1       23594.021906                5.100000
 802     Europe      Denmark   C2        7601.016403                0.000000
 803     Europe      Denmark   C3           0.000000                     NaN

      SSF_USD_1000 weighted_by_sectorsize  Data_group  %SSF_totalCatch_EEZ  \
 0    43084.605195                   TRUE           3            28.662420
 1    27240.860867                   TRUE           3            28.662420
 2     4106.020784                   TRUE           3            28.662420
 3    74318.064163                   TRUE           3            28.662420
 4     1525.321511                   TRUE           3            28.662420
 5             NaN                    NaN         NaN            28.662420
 6      461.093622                  FALSE           1            28.662420
 7        0.000000                  FALSE           2            28.662420
 8             NaN                    NaN         NaN            28.662420
 9    35605.265432                  FALSE           1            28.662420
 10            NaN                    NaN         NaN            28.662420
 11   21737.044519                  FALSE           1            28.662420
 12    2733.696798                   TRUE           3            42.381331
 13     904.297382                   TRUE           3            42.381331
 14     755.169097                   TRUE           3            42.381331
 15       0.000000                  FALSE           2            42.381331
 16     750.266949                  FALSE           1            42.381331
 17     690.545089                  FALSE           1            42.381331
 18    1008.848853                  FALSE           1            42.381331
 19   24791.481252                  FALSE           1            42.381331
 20            NaN                    NaN         NaN            42.381331
 21    2110.027391                   TRUE           3            42.381331
 22            NaN                    NaN         NaN            42.381331
 23    2905.485033                  FALSE           1            42.381331
 24    7838.119773                   TRUE           3            42.279905
 25     280.398288                   TRUE           3            42.279905
 26    1219.526338                   TRUE           3            42.279905
 27   14614.017187                  FALSE           1            42.279905
 28      32.942722                   TRUE           3            42.279905
 29       0.000000                  FALSE           2            42.279905
 ..            ...                    ...         ...                  ...
 774    334.028225                      1           3            91.666667
 775      0.616608                      1           3            91.666667
 776           NaN                    NaN         NaN            91.666667
 777      0.137360                      1           3            91.666667
 778           NaN                    NaN         NaN            91.666667
 779           NaN                    NaN         NaN            91.666667
 780    931.051851                      1           3            10.292729
 781           NaN                    NaN         NaN            10.292729
 782     83.997446                      1           3            10.292729
 783    490.711108                      1           3            10.292729
 784      0.195199                      1           3            10.292729
 785           NaN                    NaN         NaN            10.292729
 786           NaN                    NaN         NaN            10.292729
 787           NaN                    NaN         NaN            10.292729
 788           NaN                    NaN         NaN            10.292729
 789           NaN                    NaN         NaN            10.292729
 790           NaN                    NaN         NaN            10.292729
 791   1218.802917                      0           3            10.292729
 792   2161.395224                      1           3             7.759108
 793    972.828311                      1           3             7.759108
 794   2126.408163                      1           3             7.759108
 795   1802.581051                      1           3             7.759108
 796           NaN                    NaN         NaN             7.759108
 797           NaN                    NaN         NaN             7.759108
 798   3329.290973                      0           2             7.759108
 799           NaN                    NaN         NaN             7.759108
 800      0.000000                      1           3             7.759108
 801   1203.295117                      0           2             7.759108
 802      0.000000                      0           3             7.759108
 803           NaN                    NaN         NaN             7.759108

      %SSF_totalCatch_Country
 0                  25.475502
 1                  25.475502
 2                  25.475502
 3                  25.475502
 4                  25.475502
 5                  25.475502
 6                  25.475502
 7                  25.475502
 8                  25.475502
 9                  25.475502
 10                 25.475502
 11                 25.475502
 12                 41.498407
 13                 41.498407
 14                 41.498407
 15                 41.498407
 16                 41.498407
 17                 41.498407
 18                 41.498407
 19                 41.498407
 20                 41.498407
 21                 41.498407
 22                 41.498407
 23                 41.498407
 24                 13.560304
 25                 13.560304
 26                 13.560304
 27                 13.560304
 28                 13.560304
 29                 13.560304
 ..                       ...
 774                 1.269394
 775                 1.269394
 776                 1.269394
 777                 1.269394
 778                 1.269394
 779                 1.269394
 780                 3.028619
 781                 3.028619
 782                 3.028619
 783                 3.028619
 784                 3.028619
 785                 3.028619
 786                 3.028619
 787                 3.028619
 788                 3.028619
 789                 3.028619
 790                 3.028619
 791                 3.028619
 792                 6.799901
 793                 6.799901
 794                 6.799901
 795                 6.799901
 796                 6.799901
 797                 6.799901
 798                 6.799901
 799                 6.799901
 800                 6.799901
 801                 6.799901
 802                 6.799901
 803                 6.799901

 [804 rows x 10 columns],
                Country    Region                  Subregion
 0              Albania    Europe            Southern Europe
 1              Algeria    Africa            Northern Africa
 2       American Samoa   Oceania                  Polynesia
 3               Angola    Africa              Middle Africa
 4         Antigua Barb  Americas                  Caribbean
 5            Argentina  Americas              South America
 6            Australia   Oceania  Australia and New Zealand
 7              Bahamas  Americas                  Caribbean
 8              Bahrain      Asia               Western Asia
 9           Bangladesh      Asia              Southern Asia
 10            Barbados  Americas                  Caribbean
 11             Belgium    Europe             Western Europe
 12              Belize  Americas            Central America
 13               Benin    Africa             Western Africa
 14              Brazil  Americas              South America
 15        Brunei Darsm      Asia          Southeastern Asia
 16            Bulgaria    Europe             Eastern Europe
 17            Cambodia      Asia          Southeastern Asia
 18            Cameroon    Africa              Middle Africa
 19              Canada  Americas           Northern America
 20          Cape Verde    Africa             Western Africa
 21               Chile  Americas              South America
 22          China Main      Asia               Eastern Asia
 23            Colombia  Americas              South America
 24             Comoros    Africa             Eastern Africa
 25       Congo Dem Rep    Africa              Middle Africa
 26           Congo Rep    Africa              Middle Africa
 27             Cook Is   Oceania                  Polynesia
 28          Costa Rica  Americas            Central America
 29       Cote D'Ivoire    Africa             Western Africa
 ..                 ...       ...                        ...
 130          Sri Lanka      Asia              Southern Asia
 131       St Kitts Nev  Americas                  Caribbean
 132           St Lucia  Americas                  Caribbean
 133         St Vincent  Americas                  Caribbean
 134              Sudan    Africa            Northern Africa
 135           Suriname  Americas              South America
 136             Sweden    Europe            Northern Europe
 137              Syria      Asia               Western Asia
 138             Taiwan      Asia               Eastern Asia
 139           Tanzania    Africa             Eastern Africa
 140           Thailand      Asia          Southeastern Asia
 141        Timor Leste      Asia          Southeastern Asia
 142               Togo    Africa             Western Africa
 143            Tokelau   Oceania                  Polynesia
 144              Tonga   Oceania                  Polynesia
 145       Trinidad Tob  Americas                  Caribbean
 146            Tunisia    Africa            Northern Africa
 147             Turkey      Asia               Western Asia
 148             Tuvalu   Oceania                  Polynesia
 149                 UK    Europe            Northern Europe
 150            Ukraine    Europe             Eastern Europe
 151       Untd Arab Em      Asia               Western Asia
 152            Uruguay  Americas              South America
 153                USA  Americas           Northern America
 154            Vanuatu   Oceania                  Melanesia
 155          Venezuela  Americas              South America
 156           Viet Nam      Asia          Southeastern Asia
 157  Wallis and Futuna   Oceania                  Polynesia
 158              Yemen      Asia               Western Asia
 159               Iraq      Asia               Western Asia

 [160 rows x 3 columns]]

In [50]:
pd.concat(frames)

,%SSF_totalCatch_Country,%SSF_totalCatch_EEZ,%SSFsubsidies_assessed,Countries,Country,Data_group,ReEst_Subsidy2009,Region,RegionName,SSF_USD_1000,Subregion,Type,weighted_by_sectorsize
0,25.475502,28.662420,28.662420,Philippines,NaN,3,150317.400345,NaN,Asia,43084.605195,NaN,A1,TRUE
1,25.475502,28.662420,25.475502,Philippines,NaN,3,106929.633393,NaN,Asia,27240.860867,NaN,A2,TRUE
2,25.475502,28.662420,28.662420,Philippines,NaN,3,14325.450291,NaN,Asia,4106.020784,NaN,A3,TRUE
3,25.475502,28.662420,25.475502,Philippines,NaN,3,291723.649784,NaN,Asia,74318.064163,NaN,B1,TRUE
4,25.475502,28.662420,25.475502,Philippines,NaN,3,5987.405124,NaN,Asia,1525.321511,NaN,B2,TRUE
5,25.475502,28.662420,NaN,Philippines,NaN,NaN,0.000000,NaN,Asia,NaN,NaN,B3,NaN
6,25.475502,28.662420,20.000000,Philippines,NaN,1,2305.468110,NaN,Asia,461.093622,NaN,B4,FALSE
7,25.475502,28.662420,0.000000,Philippines,NaN,2,92663.171127,NaN,Asia,0.000000,NaN,B5,FALSE
8,25.475502,28.662420,NaN,Philippines,NaN,NaN,0.000000,NaN,Asia,NaN,NaN,B6,NaN
9,25.475502,28.662420,100.000000,Philippines,NaN,1,35605.265432,NaN,Asia,35605.265432,NaN,C1,FALSE
10,25.475502,28.662420,NaN,Philippines,NaN,NaN,0.000000,NaN,Asia,NaN,NaN,C2,NaN
11,25.475502,28.662420,100.000000,Philippines,NaN,1,21737.044519,NaN,Asia,21737.044519,NaN,C3,FALSE
12,41.498407,42.381331,42.381331,India,NaN,3,6450.238140,NaN,Asia,2733.696798,NaN,A1,TRUE
13,41.498407,42.381331,41.498407,India,NaN,3,2179.113474,NaN,Asia,904.297382,NaN,A2,TRUE
14,41.498407,42.381331,42.381331,India,NaN,3,1781.843735,NaN,Asia,755.169097,NaN,A3,TRUE
15,41.498407,42.381331,0.000000,India,NaN,2,4035.395412,NaN,Asia,0.000000,NaN,B1,FALSE
16,41.498407,42.381331,20.000000,India,NaN,1,3751.334747,NaN,Asia,750.266949,NaN,B2,FALSE
17,41.498407,42.381331,17.000000,India,NaN,1,4062.029933,NaN,Asia,690.545089,NaN,B3,FALSE
18,41.498407,42.381331,25.000000,India,NaN,1,4035.395412,NaN,Asia,1008.848853,NaN,B4,FALSE
19,41.498407,42.381331,20.000000,India,NaN,1,123957.406261,NaN,Asia,24791.481252,NaN,B5,FALSE
20,41.498407,42.381331,NaN,India,NaN,NaN,0.000000,NaN,Asia,NaN,NaN,B6,NaN
21,41.498407,42.381331,41.498407,India,NaN,3,5084.598507,NaN,Asia,2110.027391,NaN,C1,TRUE
22,41.498407,42.381331,NaN,India,NaN,NaN,0.000000,NaN,Asia,NaN,NaN,C2,NaN
23,41.498407,42.381331,100.000000,India,NaN,1,2905.485033,NaN,Asia,2905.485033,NaN,C3,FALSE
24,13.560304,42.279905,42.279905,Thailand,NaN,3,18538.640909,NaN,Asia,7838.119773,NaN,A1,TRUE
25,13.560304,42.279905,13.560304,Thailand,NaN,3,2067.787646,NaN,Asia,280.398288,NaN,A2,TRUE
26,13.560304,42.279905,42.279905,Thailand,NaN,3,2884.411251,NaN,Asia,1219.526338,NaN,A3,TRUE
27,13.560304,42.279905,25.000000,Thailand,NaN,1,58456.068748,NaN,Asia,14614.017187,NaN,B1,FALSE
28,13.560304,42.279905,13.560304,Thailand,NaN,3,242.934986,NaN,Asia,32.942722,NaN,B2,TRUE
29,13.560304,42.279905,0.000000,Thailand,NaN,2,8015.852723,NaN,Asia,0.000000,NaN,B3,FALSE
...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,NaN,NaN,NaN,NaN,Sri Lanka,NaN,NaN,Asia,NaN,NaN,Southern Asia,NaN,NaN
131,NaN,NaN,NaN,NaN,St Kitts Nev,NaN,NaN,Americas,NaN,NaN,Caribbean,NaN,NaN
132,NaN,NaN,NaN,NaN,St Lucia,NaN,NaN,Americas,NaN,NaN,Caribbean,NaN,NaN
133,NaN,NaN,NaN,NaN,St Vincent,NaN,NaN,Americas,NaN,NaN,Caribbean,NaN,NaN
134,NaN,NaN,NaN,NaN,Sudan,NaN,NaN,Africa,NaN,NaN,Northern Africa,NaN,NaN
135,NaN,NaN,NaN,NaN,Suriname,NaN,NaN,Americas,NaN,NaN,South America,NaN,NaN
136,NaN,NaN,NaN,NaN,Sweden,NaN,NaN,Europe,NaN,NaN,Northern Europe,NaN,NaN
137,NaN,NaN,NaN,NaN,Syria,NaN,NaN,Asia,NaN,NaN,Western Asia,NaN,NaN
138,NaN,NaN,NaN,NaN,Taiwan,NaN,NaN,Asia,NaN,NaN,Eastern Asia,NaN,NaN
139,NaN,NaN,NaN,NaN,Tanzania,NaN,NaN,Africa,NaN,NaN,Eastern Africa,NaN,NaN
140,NaN,NaN,NaN,NaN,Thailand,NaN,NaN,Asia,NaN,NaN,Southeastern Asia,NaN,NaN
141,NaN,NaN,NaN,NaN,Timor Leste,NaN,NaN,Asia,NaN,NaN,Southeastern Asia,NaN,NaN
142,NaN,NaN,NaN,NaN,Togo,NaN,NaN,Africa,NaN,NaN,Western Africa,NaN,NaN
143,NaN,NaN,NaN,NaN,Tokelau,NaN,NaN,Oceania,NaN,NaN,Polynesia,NaN,NaN
144,NaN,NaN,NaN,NaN,Tonga,NaN,NaN,Oceania,NaN,NaN,Polynesia,NaN,NaN
145,NaN,NaN,NaN,NaN,Trinidad Tob,NaN,NaN,Americas,NaN,NaN,Caribbean,NaN,NaN
146,NaN,NaN,NaN,NaN,Tunisia,NaN,NaN,Africa,NaN,NaN,Northern Africa,NaN,NaN
147,NaN,NaN,NaN,NaN,Turkey,NaN,NaN,Asia,NaN,NaN,Western Asia,NaN,NaN
148,NaN,NaN,NaN,NaN,Tuvalu,NaN,NaN,Oceania,NaN,NaN,Polynesia,NaN,NaN
149,NaN,NaN,NaN,NaN,UK,NaN,NaN,Europe,NaN,NaN,Northern Europe,NaN,NaN
150,NaN,NaN,NaN,NaN,Ukraine,NaN,NaN,Europe,NaN,NaN,Eastern Europe,NaN,NaN
151,NaN,NaN,NaN,NaN,Untd Arab Em,NaN,NaN,Asia,NaN,NaN,Western Asia,NaN,NaN
152,NaN,NaN,NaN,NaN,Uruguay,NaN,NaN,Americas,NaN,NaN,South America,NaN,NaN
153,NaN,NaN,NaN,NaN,USA,NaN,NaN,Americas,NaN,NaN,Northern America,NaN,NaN
154,NaN,NaN,NaN,NaN,Vanuatu,NaN,NaN,Oceania,NaN,NaN,Melanesia,NaN,NaN
155,NaN,NaN,NaN,NaN,Venezuela,NaN,NaN,Americas,NaN,NaN,South America,NaN,NaN
156,NaN,NaN,NaN,NaN,Viet Nam,NaN,NaN,Asia,NaN,NaN,Southeastern Asia,NaN,NaN
157,NaN,NaN,NaN,NaN,Wallis and Futuna,NaN,NaN,Oceania,NaN,NaN,Polynesia,NaN,NaN
158,NaN,NaN,NaN,NaN,Yemen,NaN,NaN,Asia,NaN,NaN,Western Asia,NaN,NaN
159,NaN,NaN,NaN,NaN,Iraq,NaN,NaN,Asia,NaN,NaN,Western Asia,NaN,NaN

In [49]:
 pd.concat([subdata1,countrydata1])

,%SSF_totalCatch_Country,%SSF_totalCatch_EEZ,%SSFsubsidies_assessed,Countries,Country,Data_group,ReEst_Subsidy2009,Region,RegionName,SSF_USD_1000,Subregion,Type,weighted_by_sectorsize
0,25.475502,28.662420,28.662420,Philippines,NaN,3,150317.400345,NaN,Asia,43084.605195,NaN,A1,TRUE
1,25.475502,28.662420,25.475502,Philippines,NaN,3,106929.633393,NaN,Asia,27240.860867,NaN,A2,TRUE
2,25.475502,28.662420,28.662420,Philippines,NaN,3,14325.450291,NaN,Asia,4106.020784,NaN,A3,TRUE
3,25.475502,28.662420,25.475502,Philippines,NaN,3,291723.649784,NaN,Asia,74318.064163,NaN,B1,TRUE
4,25.475502,28.662420,25.475502,Philippines,NaN,3,5987.405124,NaN,Asia,1525.321511,NaN,B2,TRUE
5,25.475502,28.662420,NaN,Philippines,NaN,NaN,0.000000,NaN,Asia,NaN,NaN,B3,NaN
6,25.475502,28.662420,20.000000,Philippines,NaN,1,2305.468110,NaN,Asia,461.093622,NaN,B4,FALSE
7,25.475502,28.662420,0.000000,Philippines,NaN,2,92663.171127,NaN,Asia,0.000000,NaN,B5,FALSE
8,25.475502,28.662420,NaN,Philippines,NaN,NaN,0.000000,NaN,Asia,NaN,NaN,B6,NaN
9,25.475502,28.662420,100.000000,Philippines,NaN,1,35605.265432,NaN,Asia,35605.265432,NaN,C1,FALSE
10,25.475502,28.662420,NaN,Philippines,NaN,NaN,0.000000,NaN,Asia,NaN,NaN,C2,NaN
11,25.475502,28.662420,100.000000,Philippines,NaN,1,21737.044519,NaN,Asia,21737.044519,NaN,C3,FALSE
12,41.498407,42.381331,42.381331,India,NaN,3,6450.238140,NaN,Asia,2733.696798,NaN,A1,TRUE
13,41.498407,42.381331,41.498407,India,NaN,3,2179.113474,NaN,Asia,904.297382,NaN,A2,TRUE
14,41.498407,42.381331,42.381331,India,NaN,3,1781.843735,NaN,Asia,755.169097,NaN,A3,TRUE
15,41.498407,42.381331,0.000000,India,NaN,2,4035.395412,NaN,Asia,0.000000,NaN,B1,FALSE
16,41.498407,42.381331,20.000000,India,NaN,1,3751.334747,NaN,Asia,750.266949,NaN,B2,FALSE
17,41.498407,42.381331,17.000000,India,NaN,1,4062.029933,NaN,Asia,690.545089,NaN,B3,FALSE
18,41.498407,42.381331,25.000000,India,NaN,1,4035.395412,NaN,Asia,1008.848853,NaN,B4,FALSE
19,41.498407,42.381331,20.000000,India,NaN,1,123957.406261,NaN,Asia,24791.481252,NaN,B5,FALSE
20,41.498407,42.381331,NaN,India,NaN,NaN,0.000000,NaN,Asia,NaN,NaN,B6,NaN
21,41.498407,42.381331,41.498407,India,NaN,3,5084.598507,NaN,Asia,2110.027391,NaN,C1,TRUE
22,41.498407,42.381331,NaN,India,NaN,NaN,0.000000,NaN,Asia,NaN,NaN,C2,NaN
23,41.498407,42.381331,100.000000,India,NaN,1,2905.485033,NaN,Asia,2905.485033,NaN,C3,FALSE
24,13.560304,42.279905,42.279905,Thailand,NaN,3,18538.640909,NaN,Asia,7838.119773,NaN,A1,TRUE
25,13.560304,42.279905,13.560304,Thailand,NaN,3,2067.787646,NaN,Asia,280.398288,NaN,A2,TRUE
26,13.560304,42.279905,42.279905,Thailand,NaN,3,2884.411251,NaN,Asia,1219.526338,NaN,A3,TRUE
27,13.560304,42.279905,25.000000,Thailand,NaN,1,58456.068748,NaN,Asia,14614.017187,NaN,B1,FALSE
28,13.560304,42.279905,13.560304,Thailand,NaN,3,242.934986,NaN,Asia,32.942722,NaN,B2,TRUE
29,13.560304,42.279905,0.000000,Thailand,NaN,2,8015.852723,NaN,Asia,0.000000,NaN,B3,FALSE
...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,NaN,NaN,NaN,NaN,Sri Lanka,NaN,NaN,Asia,NaN,NaN,Southern Asia,NaN,NaN
131,NaN,NaN,NaN,NaN,St Kitts Nev,NaN,NaN,Americas,NaN,NaN,Caribbean,NaN,NaN
132,NaN,NaN,NaN,NaN,St Lucia,NaN,NaN,Americas,NaN,NaN,Caribbean,NaN,NaN
133,NaN,NaN,NaN,NaN,St Vincent,NaN,NaN,Americas,NaN,NaN,Caribbean,NaN,NaN
134,NaN,NaN,NaN,NaN,Sudan,NaN,NaN,Africa,NaN,NaN,Northern Africa,NaN,NaN
135,NaN,NaN,NaN,NaN,Suriname,NaN,NaN,Americas,NaN,NaN,South America,NaN,NaN
136,NaN,NaN,NaN,NaN,Sweden,NaN,NaN,Europe,NaN,NaN,Northern Europe,NaN,NaN
137,NaN,NaN,NaN,NaN,Syria,NaN,NaN,Asia,NaN,NaN,Western Asia,NaN,NaN
138,NaN,NaN,NaN,NaN,Taiwan,NaN,NaN,Asia,NaN,NaN,Eastern Asia,NaN,NaN
139,NaN,NaN,NaN,NaN,Tanzania,NaN,NaN,Africa,NaN,NaN,Eastern Africa,NaN,NaN
140,NaN,NaN,NaN,NaN,Thailand,NaN,NaN,Asia,NaN,NaN,Southeastern Asia,NaN,NaN
141,NaN,NaN,NaN,NaN,Timor Leste,NaN,NaN,Asia,NaN,NaN,Southeastern Asia,NaN,NaN
142,NaN,NaN,NaN,NaN,Togo,NaN,NaN,Africa,NaN,NaN,Western Africa,NaN,NaN
143,NaN,NaN,NaN,NaN,Tokelau,NaN,NaN,Oceania,NaN,NaN,Polynesia,NaN,NaN
144,NaN,NaN,NaN,NaN,Tonga,NaN,NaN,Oceania,NaN,NaN,Polynesia,NaN,NaN
145,NaN,NaN,NaN,NaN,Trinidad Tob,NaN,NaN,Americas,NaN,NaN,Caribbean,NaN,NaN
146,NaN,NaN,NaN,NaN,Tunisia,NaN,NaN,Africa,NaN,NaN,Northern Africa,NaN,NaN
147,NaN,NaN,NaN,NaN,Turkey,NaN,NaN,Asia,NaN,NaN,Western Asia,NaN,NaN
148,NaN,NaN,NaN,NaN,Tuvalu,NaN,NaN,Oceania,NaN,NaN,Polynesia,NaN,NaN
149,NaN,NaN,NaN,NaN,UK,NaN,NaN,Europe,NaN,NaN,Northern Europe,NaN,NaN
150,NaN,NaN,NaN,NaN,Ukraine,NaN,NaN,Europe,NaN,NaN,Eastern Europe,NaN,NaN
151,NaN,NaN,NaN,NaN,Untd Arab Em,NaN,NaN,Asia,NaN,NaN,Western Asia,NaN,NaN
152,NaN,NaN,NaN,NaN,Uruguay,NaN,NaN,Americas,NaN,NaN,South America,NaN,NaN
153,NaN,NaN,NaN,NaN,USA,NaN,NaN,Americas,NaN,NaN,Northern America,NaN,NaN
154,NaN,NaN,NaN,NaN,Vanuatu,NaN,NaN,Oceania,NaN,NaN,Melanesia,NaN,NaN
155,NaN,NaN,NaN,NaN,Venezuela,NaN,NaN,Americas,NaN,NaN,South America,NaN,NaN
156,NaN,NaN,NaN,NaN,Viet Nam,NaN,NaN,Asia,NaN,NaN,Southeastern Asia,NaN,NaN
157,NaN,NaN,NaN,NaN,Wallis and Futuna,NaN,NaN,Oceania,NaN,NaN,Polynesia,NaN,NaN
158,NaN,NaN,NaN,NaN,Yemen,NaN,NaN,Asia,NaN,NaN,Western Asia,NaN,NaN
159,NaN,NaN,NaN,NaN,Iraq,NaN,NaN,Asia,NaN,NaN,Western Asia,NaN,NaN