In [5]:
%matplotlib inline

import pandas as pd

import matplotlib.pyplot as plt

import numpy

pd.__version__

u'0.17.0'

In [7]:
subsidies = pd.read_csv("SSFsubsidiesnonfuel.csv")

In [287]:
subsidies_short = subsidies.loc[:,['RegionName', 'Countries', 'Type','%SSFsubsidies_assessed','weighted_by_sectorsize', 'Data_group']]

In [288]:
subsidies_short

,RegionName,Countries,Type,%SSFsubsidies_assessed,weighted_by_sectorsize,Data_group
0,Asia,Philippines,A1,28.662420,TRUE,3
1,Asia,Philippines,A2,25.475502,TRUE,3
2,Asia,Philippines,A3,28.662420,TRUE,3
3,Asia,Philippines,B1,25.475502,TRUE,3
4,Asia,Philippines,B2,25.475502,TRUE,3
5,Asia,Philippines,B3,NaN,NaN,NaN
6,Asia,Philippines,B4,20.000000,FALSE,1
7,Asia,Philippines,B5,0.000000,FALSE,2
8,Asia,Philippines,B6,NaN,NaN,NaN
9,Asia,Philippines,C1,100.000000,FALSE,1
10,Asia,Philippines,C2,NaN,NaN,NaN
11,Asia,Philippines,C3,100.000000,FALSE,1
12,Asia,India,A1,42.381331,TRUE,3
13,Asia,India,A2,41.498407,TRUE,3
14,Asia,India,A3,42.381331,TRUE,3
15,Asia,India,B1,0.000000,FALSE,2
16,Asia,India,B2,20.000000,FALSE,1
17,Asia,India,B3,17.000000,FALSE,1
18,Asia,India,B4,25.000000,FALSE,1
19,Asia,India,B5,20.000000,FALSE,1
20,Asia,India,B6,NaN,NaN,NaN
21,Asia,India,C1,41.498407,TRUE,3
22,Asia,India,C2,NaN,NaN,NaN
23,Asia,India,C3,100.000000,FALSE,1
24,Asia,Thailand,A1,42.279905,TRUE,3
25,Asia,Thailand,A2,13.560304,TRUE,3
26,Asia,Thailand,A3,42.279905,TRUE,3
27,Asia,Thailand,B1,25.000000,FALSE,1
28,Asia,Thailand,B2,13.560304,TRUE,3
29,Asia,Thailand,B3,0.000000,FALSE,2
...,...,...,...,...,...,...
774,Europe,Romania,B4,1.300000,1,3
775,Europe,Romania,B5,1.300000,1,3
776,Europe,Romania,B6,NaN,NaN,NaN
777,Europe,Romania,C1,1.300000,1,3
778,Europe,Romania,C2,NaN,NaN,NaN
779,Europe,Romania,C3,NaN,NaN,NaN
780,Europe,Ukraine,A1,10.300000,1,3
781,Europe,Ukraine,A2,NaN,NaN,NaN
782,Europe,Ukraine,A3,10.300000,1,3
783,Europe,Ukraine,B1,3.000000,1,3
784,Europe,Ukraine,B2,3.000000,1,3
785,Europe,Ukraine,B3,NaN,NaN,NaN
786,Europe,Ukraine,B4,NaN,NaN,NaN
787,Europe,Ukraine,B5,NaN,NaN,NaN
788,Europe,Ukraine,B6,NaN,NaN,NaN
789,Europe,Ukraine,C1,NaN,NaN,NaN
790,Europe,Ukraine,C2,NaN,NaN,NaN
791,Europe,Ukraine,C3,100.000000,0,3
792,Europe,Denmark,A1,7.800000,1,3
793,Europe,Denmark,A2,7.800000,1,3
794,Europe,Denmark,A3,7.800000,1,3
795,Europe,Denmark,B1,6.800000,1,3
796,Europe,Denmark,B2,NaN,NaN,NaN
797,Europe,Denmark,B3,NaN,NaN,NaN
798,Europe,Denmark,B4,18.300000,0,2
799,Europe,Denmark,B5,NaN,NaN,NaN
800,Europe,Denmark,B6,0.000000,1,3
801,Europe,Denmark,C1,5.100000,0,2
802,Europe,Denmark,C2,0.000000,0,3
803,Europe,Denmark,C3,NaN,NaN,NaN

In [289]:
subsidies_short.groupby('Countries').mean()

              %SSFsubsidies_assessed  Data_group
Countries
Angola                     46.600420    2.444444
Argentina                   6.634602    2.333333
Australia                  28.869204    2.833333
Brazil                     41.769922    2.222222
Cameroon                   59.840000         NaN
Canada                      4.643931    2.857143
Chile                      35.358258    2.000000
China                      17.032798    2.727273
Costa Rica                 35.827459    2.800000
Cuba                       87.330906    3.000000
Denmark                     6.700000    2.750000
Ecuador                    14.998022    2.200000
Egypt                      17.144118    2.400000
France                     19.513450    2.500000
Gabon                      58.671429    2.428571
Ghana                      65.787314    2.250000
Greece                     38.352000    2.700000
Guinea                     34.714286    2.285714
Guyana                     50.739556    2.000000
Iceland                     2.688381    2.833333
India                      34.975948    1.900000
Indonesia                  28.834670    2.000000
Iran                       63.648061    2.166667
Italy                      10.847683    3.000000
Jamaica                   100.000000    2.000000
Japan                      23.394121    2.454545
Korea Rep                   8.450000    2.200000
Madagascar                 57.175000    2.250000
Malaysia                   21.706250    2.125000
Mauritania                 44.287500    2.125000
...                              ...         ...
New Zealand                13.938178    3.000000
Nicaragua                  30.421414    2.333333
Nigeria                    60.739052    2.250000
Norway                     13.150000    2.625000
Panama                     26.641002    2.333333
Papua N Guin                4.305707    2.125000
Peru                       20.471699    2.125000
Philippines                39.305705    2.222222
Poland                      4.737049    2.875000
Romania                    35.200000    3.000000
Russian Fed                 6.296975    2.375000
Saudi Arabia               65.783333    2.500000
Senegal                    48.016667    2.166667
Seychelles                 26.600000    2.200000
Sierra Leone               64.850000    2.250000
South Africa                8.143379    3.000000
Spain                       5.581822    2.300000
Sri Lanka                  34.360000    2.200000
Suriname                   73.877486    2.400000
Sweden                      4.564919    3.000000
Taiwan                     15.050000    2.125000
Thailand                   30.582302    2.222222
Tunisia                    23.678512    2.800000
Turkey                     27.066667    2.833333
UK                          4.484090    2.800000
USA                        17.028063    3.000000
Ukraine                    25.320000    3.000000
Vanuatu                    14.072941    3.000000
Venezuela                  66.219926    2.333333
Viet Nam                   22.979514    2.666667

[67 rows x 2 columns]

In [290]:
subsidies_values_only = subsidies.loc[:,['RegionName','Countries','Type' ,'ReEst_Subsidy2009','SSF_USD_1000']]

In [291]:
countrydata = pd.read_csv("Country_Data.csv")

In [292]:
countrydata

,CID,Countries,Subregion,CLon,CLat,SIDS,TotPop,HDI,Develop,GDP
0,1,Albania,Southern Europe,20.050049,40.934006,0,3020209,0.749,High,3.066000e+10
1,2,Algeria,Northern Africa,2.296145,27.940730,0,38813722,0.717,Medium,5.626000e+11
2,3,Angola,Middle Africa,17.237553,-13.299091,0,19088106,0.526,Low,1.755000e+11
3,4,Antigua Barb,Caribbean,-61.800000,17.050000,1,91295,0.774,High,1.989000e+09
4,5,Argentina,South America,-64.379883,-33.707205,0,43024374,0.808,High,9.274000e+11
5,6,Australia,Australia and New Zealand,133.769531,-25.105497,0,22507617,0.933,High,1.100000e+12
6,7,Bahamas,Caribbean,-77.934265,24.533303,1,321834,0.789,High,9.034000e+09
7,8,Bahrain,Western Asia,50.550000,26.000000,1,1314089,0.815,High,6.156000e+10
8,9,Bangladesh,Southern Asia,90.186768,24.444024,0,166280712,0.558,Medium,5.366000e+11
9,10,Barbados,Caribbean,-59.550018,13.151284,1,289680,0.776,High,4.513000e+09
10,11,Belgium,Western Europe,4.383545,50.692543,0,10449361,0.881,High,4.671000e+11
11,12,Belize,Central America,-88.846436,17.261154,1,340844,0.732,Medium,2.907000e+09
12,13,Benin,Western Africa,2.438965,9.702289,0,10160556,0.476,Low,1.985000e+10
13,14,Bosnia Herzg,Southern Europe,18.416667,43.866667,NaN,3871643,0.731,High,3.808000e+10
14,15,Brazil,South America,-51.815643,-12.986242,0,202656788,0.744,High,3.073000e+12
15,16,Brunei Darsm,Southeastern Asia,114.612122,4.438665,0,422675,0.852,High,3.211000e+10
16,17,Bulgaria,Eastern Europe,25.125732,42.501972,0,6924716,0.777,High,1.233000e+11
17,18,Cambodia,Southeastern Asia,104.768372,12.773467,0,15458332,0.584,Medium,5.025000e+10
18,19,Cameroon,Middle Africa,12.370605,4.471011,0,23130708,0.504,Medium,6.723000e+10
19,20,Canada,Northern America,-106.424561,56.532039,0,34834841,0.902,High,1.579000e+12
20,21,Cape Verde,Western Africa,-23.521729,15.012443,1,538535,0.636,Medium,3.286000e+09
21,22,Chile,South America,-69.833221,-26.826905,0,17363894,0.822,High,4.103000e+11
22,23,China,Eastern Asia,103.977356,34.709304,0,1355692576,0.719,Medium,1.763000e+13
23,24,Colombia,South America,-73.085175,3.422521,0,46245297,0.711,Medium,6.427000e+11
24,25,Comoros,Eastern Africa,43.368530,-11.729226,1,766865,0.488,Medium,1.211000e+09
25,26,Congo Dem Rep,Middle Africa,22.450562,-3.021555,0,77433744,0.338,Low,5.573000e+10
26,27,Congo Rep,Middle Africa,15.419312,-1.001421,0,4662446,0.564,Medium,2.809000e+10
27,28,Costa Rica,Central America,-83.807831,9.879147,0,4755234,0.763,High,7.121000e+10
28,29,Cote d'Ivoire,Western Africa,-5.372314,7.606192,0,22848945,0.452,Low,7.195000e+10
29,30,Croatia,Southern Europe,14.732666,45.001224,0,4470534,0.812,High,8.730000e+10
...,...,...,...,...,...,...,...,...,...,...
122,123,Somalia,Eastern Africa,49.188538,9.008521,0,10428043,NaN,Medium,5.896000e+09
123,124,South Africa,Southern Africa,22.821350,-31.209278,0,48375645,0.658,Low,6.831000e+11
124,125,Spain,Southern Europe,-3.343628,39.652454,0,47737941,0.869,Medium,1.534000e+12
125,126,Sri Lanka,Southern Asia,80.771484,7.305261,0,21866445,0.750,High,2.171000e+11
126,127,St Kitts Nev,Caribbean,-62.750000,17.333333,1,51538,0.750,Medium,1.220000e+09
127,128,St Lucia,Caribbean,-60.975708,13.900474,1,163362,0.714,Medium,1.893000e+09
128,129,St Vincent,Caribbean,-61.173462,13.227645,1,102918,0.719,Medium,1.193000e+09
129,130,Sudan,Northern Africa,30.524139,15.795888,0,35482233,0.473,Medium,1.595000e+11
130,131,Suriname,South America,-55.898438,4.335456,1,573311,0.705,Medium,9.240000e+09
131,132,Sweden,Northern Europe,15.231171,61.314264,0,9723809,0.898,High,4.342000e+10
132,133,Syria,Western Asia,38.759766,35.054732,0,17951639,0.658,Medium,1.076000e+10
133,134,Taiwan,Eastern Asia,121.014404,23.882698,0,23359928,0.777,High,1.022000e+12
134,135,Tanzania,Eastern Africa,35.240356,-6.385978,0,49639138,0.488,Medium,9.253000e+10
135,136,Thailand,Southeastern Asia,100.870285,15.604314,0,67741401,0.722,Medium,9.901000e+11
136,137,Timor Leste,Southeastern Asia,125.897827,-8.756491,0,1201542,0.620,Medium,8.364000e+09
137,138,Togo,Western Africa,1.068420,8.400375,0,7351374,0.473,Medium,1.018000e+10
138,139,Tonga,Polynesia,-175.198242,-21.178986,1,106440,0.705,High,5.230000e+08
139,140,Trinidad Tob,Caribbean,-61.272337,10.442975,1,1223916,0.766,High,4.223000e+10
140,141,Tunisia,Northern Africa,9.593815,34.010550,0,10937521,0.721,Medium,1.251000e+11
141,142,Turkey,Western Asia,34.628908,39.527348,0,81619392,0.759,Medium,1.512000e+12
142,143,Tuvalu,Polynesia,178.679921,-7.478442,1,10782,NaN,NaN,3.500000e+07
143,144,UK,Northern Europe,-1.538080,53.032955,0,63742977,0.892,Medium,2.435000e+12
144,145,Ukraine,Eastern Europe,33.178719,48.942347,0,44291413,0.734,High,3.731000e+11
145,146,Untd Arab Em,Western Asia,54.448252,23.913460,0,5628805,0.827,High,6.050000e+08
146,147,Uruguay,South America,-56.206051,-32.888813,0,3332972,0.790,High,6.978000e+10
147,148,USA,Northern America,-104.690304,40.278267,0,318892103,0.914,High,1.746000e+13
148,149,Vanuatu,Melanesia,166.959158,-15.376706,1,266937,0.616,Medium,6.870000e+08
149,150,Venezuela,South America,-66.369987,7.927041,0,28868486,0.764,Medium,5.457000e+08
150,151,Viet Nam,Southeastern Asia,108.277199,14.058324,0,93421835,0.638,Medium,5.095000e+11
151,152,Yemen,Western Asia,47.373059,15.990375,0,26052966,0.500,Medium,1.060000e+11

In [293]:
countrydata_short = countrydata.loc[:,['Countries','Subregion']]

In [294]:
frames = [subsidies,countrydata]

In [295]:
pd.concat(frames)

,%SSF_totalCatch_Country,%SSF_totalCatch_EEZ,%SSFsubsidies_assessed,CID,CLat,CLon,Category,Cnumber,Countries,Data_group,...,ReEst_Subsidy2009,RegionID,RegionName,SIDS,SSF_USD_1000,SubType,Subregion,TotPop,Type,weighted_by_sectorsize
0,25.475502,28.662420,28.662420,NaN,NaN,NaN,Good,608,Philippines,3,...,150317.400345,2,Asia,NaN,43084.605195,Fisheries mangt.,NaN,NaN,A1,TRUE
1,25.475502,28.662420,25.475502,NaN,NaN,NaN,Good,608,Philippines,3,...,106929.633393,2,Asia,NaN,27240.860867,Fishery R&D,NaN,NaN,A2,TRUE
2,25.475502,28.662420,28.662420,NaN,NaN,NaN,Good,608,Philippines,3,...,14325.450291,2,Asia,NaN,4106.020784,MPAs,NaN,NaN,A3,TRUE
3,25.475502,28.662420,25.475502,NaN,NaN,NaN,Bad,608,Philippines,3,...,291723.649784,2,Asia,NaN,74318.064163,Boat constsruct. & renov.,NaN,NaN,B1,TRUE
4,25.475502,28.662420,25.475502,NaN,NaN,NaN,Bad,608,Philippines,3,...,5987.405124,2,Asia,NaN,1525.321511,Fisheries dev. projects,NaN,NaN,B2,TRUE
5,25.475502,28.662420,NaN,NaN,NaN,NaN,Bad,608,Philippines,NaN,...,0.000000,2,Asia,NaN,NaN,Fishing port develop.,NaN,NaN,B3,NaN
6,25.475502,28.662420,20.000000,NaN,NaN,NaN,Bad,608,Philippines,1,...,2305.468110,2,Asia,NaN,461.093622,Markt. & storage infrast.,NaN,NaN,B4,FALSE
7,25.475502,28.662420,0.000000,NaN,NaN,NaN,Bad,608,Philippines,2,...,92663.171127,2,Asia,NaN,0.000000,Tax exemption,NaN,NaN,B5,FALSE
8,25.475502,28.662420,NaN,NaN,NaN,NaN,Bad,608,Philippines,NaN,...,0.000000,2,Asia,NaN,NaN,Fishing access,NaN,NaN,B6,NaN
9,25.475502,28.662420,100.000000,NaN,NaN,NaN,Ugly,608,Philippines,1,...,35605.265432,2,Asia,NaN,35605.265432,Fisher assistance,NaN,NaN,C1,FALSE
10,25.475502,28.662420,NaN,NaN,NaN,NaN,Ugly,608,Philippines,NaN,...,0.000000,2,Asia,NaN,NaN,Vessel buyback,NaN,NaN,C2,NaN
11,25.475502,28.662420,100.000000,NaN,NaN,NaN,Ugly,608,Philippines,1,...,21737.044519,2,Asia,NaN,21737.044519,Rural fisher communities,NaN,NaN,C3,FALSE
12,41.498407,42.381331,42.381331,NaN,NaN,NaN,Good,356,India,3,...,6450.238140,2,Asia,NaN,2733.696798,Fisheries mangt.,NaN,NaN,A1,TRUE
13,41.498407,42.381331,41.498407,NaN,NaN,NaN,Good,356,India,3,...,2179.113474,2,Asia,NaN,904.297382,Fishery R&D,NaN,NaN,A2,TRUE
14,41.498407,42.381331,42.381331,NaN,NaN,NaN,Good,356,India,3,...,1781.843735,2,Asia,NaN,755.169097,MPAs,NaN,NaN,A3,TRUE
15,41.498407,42.381331,0.000000,NaN,NaN,NaN,Bad,356,India,2,...,4035.395412,2,Asia,NaN,0.000000,Boat constsruct. & renov.,NaN,NaN,B1,FALSE
16,41.498407,42.381331,20.000000,NaN,NaN,NaN,Bad,356,India,1,...,3751.334747,2,Asia,NaN,750.266949,Fisheries dev. projects,NaN,NaN,B2,FALSE
17,41.498407,42.381331,17.000000,NaN,NaN,NaN,Bad,356,India,1,...,4062.029933,2,Asia,NaN,690.545089,Fishing port develop.,NaN,NaN,B3,FALSE
18,41.498407,42.381331,25.000000,NaN,NaN,NaN,Bad,356,India,1,...,4035.395412,2,Asia,NaN,1008.848853,Markt. & storage infrast.,NaN,NaN,B4,FALSE
19,41.498407,42.381331,20.000000,NaN,NaN,NaN,Bad,356,India,1,...,123957.406261,2,Asia,NaN,24791.481252,Tax exemption,NaN,NaN,B5,FALSE
20,41.498407,42.381331,NaN,NaN,NaN,NaN,Bad,356,India,NaN,...,0.000000,2,Asia,NaN,NaN,Fishing access,NaN,NaN,B6,NaN
21,41.498407,42.381331,41.498407,NaN,NaN,NaN,Ugly,356,India,3,...,5084.598507,2,Asia,NaN,2110.027391,Fisher assistance,NaN,NaN,C1,TRUE
22,41.498407,42.381331,NaN,NaN,NaN,NaN,Ugly,356,India,NaN,...,0.000000,2,Asia,NaN,NaN,Vessel buyback,NaN,NaN,C2,NaN
23,41.498407,42.381331,100.000000,NaN,NaN,NaN,Ugly,356,India,1,...,2905.485033,2,Asia,NaN,2905.485033,Rural fisher communities,NaN,NaN,C3,FALSE
24,13.560304,42.279905,42.279905,NaN,NaN,NaN,Good,764,Thailand,3,...,18538.640909,2,Asia,NaN,7838.119773,Fisheries mangt.,NaN,NaN,A1,TRUE
25,13.560304,42.279905,13.560304,NaN,NaN,NaN,Good,764,Thailand,3,...,2067.787646,2,Asia,NaN,280.398288,Fishery R&D,NaN,NaN,A2,TRUE
26,13.560304,42.279905,42.279905,NaN,NaN,NaN,Good,764,Thailand,3,...,2884.411251,2,Asia,NaN,1219.526338,MPAs,NaN,NaN,A3,TRUE
27,13.560304,42.279905,25.000000,NaN,NaN,NaN,Bad,764,Thailand,1,...,58456.068748,2,Asia,NaN,14614.017187,Boat constsruct. & renov.,NaN,NaN,B1,FALSE
28,13.560304,42.279905,13.560304,NaN,NaN,NaN,Bad,764,Thailand,3,...,242.934986,2,Asia,NaN,32.942722,Fisheries dev. projects,NaN,NaN,B2,TRUE
29,13.560304,42.279905,0.000000,NaN,NaN,NaN,Bad,764,Thailand,2,...,8015.852723,2,Asia,NaN,0.000000,Fishing port develop.,NaN,NaN,B3,FALSE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,NaN,NaN,NaN,123,9.008521,49.188538,NaN,NaN,Somalia,NaN,...,NaN,NaN,NaN,0,NaN,NaN,Eastern Africa,10428043,NaN,NaN
123,NaN,NaN,NaN,124,-31.209278,22.821350,NaN,NaN,South Africa,NaN,...,NaN,NaN,NaN,0,NaN,NaN,Southern Africa,48375645,NaN,NaN
124,NaN,NaN,NaN,125,39.652454,-3.343628,NaN,NaN,Spain,NaN,...,NaN,NaN,NaN,0,NaN,NaN,Southern Europe,47737941,NaN,NaN
125,NaN,NaN,NaN,126,7.305261,80.771484,NaN,NaN,Sri Lanka,NaN,...,NaN,NaN,NaN,0,NaN,NaN,Southern Asia,21866445,NaN,NaN
126,NaN,NaN,NaN,127,17.333333,-62.750000,NaN,NaN,St Kitts Nev,NaN,...,NaN,NaN,NaN,1,NaN,NaN,Caribbean,51538,NaN,NaN
127,NaN,NaN,NaN,128,13.900474,-60.975708,NaN,NaN,St Lucia,NaN,...,NaN,NaN,NaN,1,NaN,NaN,Caribbean,163362,NaN,NaN
128,NaN,NaN,NaN,129,13.227645,-61.173462,NaN,NaN,St Vincent,NaN,...,NaN,NaN,NaN,1,NaN,NaN,Caribbean,102918,NaN,NaN
129,NaN,NaN,NaN,130,15.795888,30.524139,NaN,NaN,Sudan,NaN,...,NaN,NaN,NaN,0,NaN,NaN,Northern Africa,35482233,NaN,NaN
130,NaN,NaN,NaN,131,4.335456,-55.898438,NaN,NaN,Suriname,NaN,...,NaN,NaN,NaN,1,NaN,NaN,South America,573311,NaN,NaN
131,NaN,NaN,NaN,132,61.314264,15.231171,NaN,NaN,Sweden,NaN,...,NaN,NaN,NaN,0,NaN,NaN,Northern Europe,9723809,NaN,NaN
132,NaN,NaN,NaN,133,35.054732,38.759766,NaN,NaN,Syria,NaN,...,NaN,NaN,NaN,0,NaN,NaN,Western Asia,17951639,NaN,NaN
133,NaN,NaN,NaN,134,23.882698,121.014404,NaN,NaN,Taiwan,NaN,...,NaN,NaN,NaN,0,NaN,NaN,Eastern Asia,23359928,NaN,NaN
134,NaN,NaN,NaN,135,-6.385978,35.240356,NaN,NaN,Tanzania,NaN,...,NaN,NaN,NaN,0,NaN,NaN,Eastern Africa,49639138,NaN,NaN
135,NaN,NaN,NaN,136,15.604314,100.870285,NaN,NaN,Thailand,NaN,...,NaN,NaN,NaN,0,NaN,NaN,Southeastern Asia,67741401,NaN,NaN
136,NaN,NaN,NaN,137,-8.756491,125.897827,NaN,NaN,Timor Leste,NaN,...,NaN,NaN,NaN,0,NaN,NaN,Southeastern Asia,1201542,NaN,NaN
137,NaN,NaN,NaN,138,8.400375,1.068420,NaN,NaN,Togo,NaN,...,NaN,NaN,NaN,0,NaN,NaN,Western Africa,7351374,NaN,NaN
138,NaN,NaN,NaN,139,-21.178986,-175.198242,NaN,NaN,Tonga,NaN,...,NaN,NaN,NaN,1,NaN,NaN,Polynesia,106440,NaN,NaN
139,NaN,NaN,NaN,140,10.442975,-61.272337,NaN,NaN,Trinidad Tob,NaN,...,NaN,NaN,NaN,1,NaN,NaN,Caribbean,1223916,NaN,NaN
140,NaN,NaN,NaN,141,34.010550,9.593815,NaN,NaN,Tunisia,NaN,...,NaN,NaN,NaN,0,NaN,NaN,Northern Africa,10937521,NaN,NaN
141,NaN,NaN,NaN,142,39.527348,34.628908,NaN,NaN,Turkey,NaN,...,NaN,NaN,NaN,0,NaN,NaN,Western Asia,81619392,NaN,NaN
142,NaN,NaN,NaN,143,-7.478442,178.679921,NaN,NaN,Tuvalu,NaN,...,NaN,NaN,NaN,1,NaN,NaN,Polynesia,10782,NaN,NaN
143,NaN,NaN,NaN,144,53.032955,-1.538080,NaN,NaN,UK,NaN,...,NaN,NaN,NaN,0,NaN,NaN,Northern Europe,63742977,NaN,NaN
144,NaN,NaN,NaN,145,48.942347,33.178719,NaN,NaN,Ukraine,NaN,...,NaN,NaN,NaN,0,NaN,NaN,Eastern Europe,44291413,NaN,NaN
145,NaN,NaN,NaN,146,23.913460,54.448252,NaN,NaN,Untd Arab Em,NaN,...,NaN,NaN,NaN,0,NaN,NaN,Western Asia,5628805,NaN,NaN
146,NaN,NaN,NaN,147,-32.888813,-56.206051,NaN,NaN,Uruguay,NaN,...,NaN,NaN,NaN,0,NaN,NaN,South America,3332972,NaN,NaN
147,NaN,NaN,NaN,148,40.278267,-104.690304,NaN,NaN,USA,NaN,...,NaN,NaN,NaN,0,NaN,NaN,Northern America,318892103,NaN,NaN
148,NaN,NaN,NaN,149,-15.376706,166.959158,NaN,NaN,Vanuatu,NaN,...,NaN,NaN,NaN,1,NaN,NaN,Melanesia,266937,NaN,NaN
149,NaN,NaN,NaN,150,7.927041,-66.369987,NaN,NaN,Venezuela,NaN,...,NaN,NaN,NaN,0,NaN,NaN,South America,28868486,NaN,NaN
150,NaN,NaN,NaN,151,14.058324,108.277199,NaN,NaN,Viet Nam,NaN,...,NaN,NaN,NaN,0,NaN,NaN,Southeastern Asia,93421835,NaN,NaN
151,NaN,NaN,NaN,152,15.990375,47.373059,NaN,NaN,Yemen,NaN,...,NaN,NaN,NaN,0,NaN,NaN,Western Asia,26052966,NaN,NaN

In [296]:
 pd.concat([subsidies_short,countrydata_short],axis=1)

,RegionName,Countries,Type,%SSFsubsidies_assessed,weighted_by_sectorsize,Data_group,Countries,Subregion
0,Asia,Philippines,A1,28.662420,TRUE,3,Albania,Southern Europe
1,Asia,Philippines,A2,25.475502,TRUE,3,Algeria,Northern Africa
2,Asia,Philippines,A3,28.662420,TRUE,3,Angola,Middle Africa
3,Asia,Philippines,B1,25.475502,TRUE,3,Antigua Barb,Caribbean
4,Asia,Philippines,B2,25.475502,TRUE,3,Argentina,South America
5,Asia,Philippines,B3,NaN,NaN,NaN,Australia,Australia and New Zealand
6,Asia,Philippines,B4,20.000000,FALSE,1,Bahamas,Caribbean
7,Asia,Philippines,B5,0.000000,FALSE,2,Bahrain,Western Asia
8,Asia,Philippines,B6,NaN,NaN,NaN,Bangladesh,Southern Asia
9,Asia,Philippines,C1,100.000000,FALSE,1,Barbados,Caribbean
10,Asia,Philippines,C2,NaN,NaN,NaN,Belgium,Western Europe
11,Asia,Philippines,C3,100.000000,FALSE,1,Belize,Central America
12,Asia,India,A1,42.381331,TRUE,3,Benin,Western Africa
13,Asia,India,A2,41.498407,TRUE,3,Bosnia Herzg,Southern Europe
14,Asia,India,A3,42.381331,TRUE,3,Brazil,South America
15,Asia,India,B1,0.000000,FALSE,2,Brunei Darsm,Southeastern Asia
16,Asia,India,B2,20.000000,FALSE,1,Bulgaria,Eastern Europe
17,Asia,India,B3,17.000000,FALSE,1,Cambodia,Southeastern Asia
18,Asia,India,B4,25.000000,FALSE,1,Cameroon,Middle Africa
19,Asia,India,B5,20.000000,FALSE,1,Canada,Northern America
20,Asia,India,B6,NaN,NaN,NaN,Cape Verde,Western Africa
21,Asia,India,C1,41.498407,TRUE,3,Chile,South America
22,Asia,India,C2,NaN,NaN,NaN,China,Eastern Asia
23,Asia,India,C3,100.000000,FALSE,1,Colombia,South America
24,Asia,Thailand,A1,42.279905,TRUE,3,Comoros,Eastern Africa
25,Asia,Thailand,A2,13.560304,TRUE,3,Congo Dem Rep,Middle Africa
26,Asia,Thailand,A3,42.279905,TRUE,3,Congo Rep,Middle Africa
27,Asia,Thailand,B1,25.000000,FALSE,1,Costa Rica,Central America
28,Asia,Thailand,B2,13.560304,TRUE,3,Cote d'Ivoire,Western Africa
29,Asia,Thailand,B3,0.000000,FALSE,2,Croatia,Southern Europe
...,...,...,...,...,...,...,...,...
774,Europe,Romania,B4,1.300000,1,3,NaN,NaN
775,Europe,Romania,B5,1.300000,1,3,NaN,NaN
776,Europe,Romania,B6,NaN,NaN,NaN,NaN,NaN
777,Europe,Romania,C1,1.300000,1,3,NaN,NaN
778,Europe,Romania,C2,NaN,NaN,NaN,NaN,NaN
779,Europe,Romania,C3,NaN,NaN,NaN,NaN,NaN
780,Europe,Ukraine,A1,10.300000,1,3,NaN,NaN
781,Europe,Ukraine,A2,NaN,NaN,NaN,NaN,NaN
782,Europe,Ukraine,A3,10.300000,1,3,NaN,NaN
783,Europe,Ukraine,B1,3.000000,1,3,NaN,NaN
784,Europe,Ukraine,B2,3.000000,1,3,NaN,NaN
785,Europe,Ukraine,B3,NaN,NaN,NaN,NaN,NaN
786,Europe,Ukraine,B4,NaN,NaN,NaN,NaN,NaN
787,Europe,Ukraine,B5,NaN,NaN,NaN,NaN,NaN
788,Europe,Ukraine,B6,NaN,NaN,NaN,NaN,NaN
789,Europe,Ukraine,C1,NaN,NaN,NaN,NaN,NaN
790,Europe,Ukraine,C2,NaN,NaN,NaN,NaN,NaN
791,Europe,Ukraine,C3,100.000000,0,3,NaN,NaN
792,Europe,Denmark,A1,7.800000,1,3,NaN,NaN
793,Europe,Denmark,A2,7.800000,1,3,NaN,NaN
794,Europe,Denmark,A3,7.800000,1,3,NaN,NaN
795,Europe,Denmark,B1,6.800000,1,3,NaN,NaN
796,Europe,Denmark,B2,NaN,NaN,NaN,NaN,NaN
797,Europe,Denmark,B3,NaN,NaN,NaN,NaN,NaN
798,Europe,Denmark,B4,18.300000,0,2,NaN,NaN
799,Europe,Denmark,B5,NaN,NaN,NaN,NaN,NaN
800,Europe,Denmark,B6,0.000000,1,3,NaN,NaN
801,Europe,Denmark,C1,5.100000,0,2,NaN,NaN
802,Europe,Denmark,C2,0.000000,0,3,NaN,NaN
803,Europe,Denmark,C3,NaN,NaN,NaN,NaN,NaN

In [297]:
 pd.concat([subsidies_short,countrydata_short],axis = 1, join_axes=[subsidies_short.index])

,RegionName,Countries,Type,%SSFsubsidies_assessed,weighted_by_sectorsize,Data_group,Countries,Subregion
0,Asia,Philippines,A1,28.662420,TRUE,3,Albania,Southern Europe
1,Asia,Philippines,A2,25.475502,TRUE,3,Algeria,Northern Africa
2,Asia,Philippines,A3,28.662420,TRUE,3,Angola,Middle Africa
3,Asia,Philippines,B1,25.475502,TRUE,3,Antigua Barb,Caribbean
4,Asia,Philippines,B2,25.475502,TRUE,3,Argentina,South America
5,Asia,Philippines,B3,NaN,NaN,NaN,Australia,Australia and New Zealand
6,Asia,Philippines,B4,20.000000,FALSE,1,Bahamas,Caribbean
7,Asia,Philippines,B5,0.000000,FALSE,2,Bahrain,Western Asia
8,Asia,Philippines,B6,NaN,NaN,NaN,Bangladesh,Southern Asia
9,Asia,Philippines,C1,100.000000,FALSE,1,Barbados,Caribbean
10,Asia,Philippines,C2,NaN,NaN,NaN,Belgium,Western Europe
11,Asia,Philippines,C3,100.000000,FALSE,1,Belize,Central America
12,Asia,India,A1,42.381331,TRUE,3,Benin,Western Africa
13,Asia,India,A2,41.498407,TRUE,3,Bosnia Herzg,Southern Europe
14,Asia,India,A3,42.381331,TRUE,3,Brazil,South America
15,Asia,India,B1,0.000000,FALSE,2,Brunei Darsm,Southeastern Asia
16,Asia,India,B2,20.000000,FALSE,1,Bulgaria,Eastern Europe
17,Asia,India,B3,17.000000,FALSE,1,Cambodia,Southeastern Asia
18,Asia,India,B4,25.000000,FALSE,1,Cameroon,Middle Africa
19,Asia,India,B5,20.000000,FALSE,1,Canada,Northern America
20,Asia,India,B6,NaN,NaN,NaN,Cape Verde,Western Africa
21,Asia,India,C1,41.498407,TRUE,3,Chile,South America
22,Asia,India,C2,NaN,NaN,NaN,China,Eastern Asia
23,Asia,India,C3,100.000000,FALSE,1,Colombia,South America
24,Asia,Thailand,A1,42.279905,TRUE,3,Comoros,Eastern Africa
25,Asia,Thailand,A2,13.560304,TRUE,3,Congo Dem Rep,Middle Africa
26,Asia,Thailand,A3,42.279905,TRUE,3,Congo Rep,Middle Africa
27,Asia,Thailand,B1,25.000000,FALSE,1,Costa Rica,Central America
28,Asia,Thailand,B2,13.560304,TRUE,3,Cote d'Ivoire,Western Africa
29,Asia,Thailand,B3,0.000000,FALSE,2,Croatia,Southern Europe
...,...,...,...,...,...,...,...,...
774,Europe,Romania,B4,1.300000,1,3,NaN,NaN
775,Europe,Romania,B5,1.300000,1,3,NaN,NaN
776,Europe,Romania,B6,NaN,NaN,NaN,NaN,NaN
777,Europe,Romania,C1,1.300000,1,3,NaN,NaN
778,Europe,Romania,C2,NaN,NaN,NaN,NaN,NaN
779,Europe,Romania,C3,NaN,NaN,NaN,NaN,NaN
780,Europe,Ukraine,A1,10.300000,1,3,NaN,NaN
781,Europe,Ukraine,A2,NaN,NaN,NaN,NaN,NaN
782,Europe,Ukraine,A3,10.300000,1,3,NaN,NaN
783,Europe,Ukraine,B1,3.000000,1,3,NaN,NaN
784,Europe,Ukraine,B2,3.000000,1,3,NaN,NaN
785,Europe,Ukraine,B3,NaN,NaN,NaN,NaN,NaN
786,Europe,Ukraine,B4,NaN,NaN,NaN,NaN,NaN
787,Europe,Ukraine,B5,NaN,NaN,NaN,NaN,NaN
788,Europe,Ukraine,B6,NaN,NaN,NaN,NaN,NaN
789,Europe,Ukraine,C1,NaN,NaN,NaN,NaN,NaN
790,Europe,Ukraine,C2,NaN,NaN,NaN,NaN,NaN
791,Europe,Ukraine,C3,100.000000,0,3,NaN,NaN
792,Europe,Denmark,A1,7.800000,1,3,NaN,NaN
793,Europe,Denmark,A2,7.800000,1,3,NaN,NaN
794,Europe,Denmark,A3,7.800000,1,3,NaN,NaN
795,Europe,Denmark,B1,6.800000,1,3,NaN,NaN
796,Europe,Denmark,B2,NaN,NaN,NaN,NaN,NaN
797,Europe,Denmark,B3,NaN,NaN,NaN,NaN,NaN
798,Europe,Denmark,B4,18.300000,0,2,NaN,NaN
799,Europe,Denmark,B5,NaN,NaN,NaN,NaN,NaN
800,Europe,Denmark,B6,0.000000,1,3,NaN,NaN
801,Europe,Denmark,C1,5.100000,0,2,NaN,NaN
802,Europe,Denmark,C2,0.000000,0,3,NaN,NaN
803,Europe,Denmark,C3,NaN,NaN,NaN,NaN,NaN

In [298]:
countrydata_short['Subregion'].dtype

dtype('O')

In [299]:
for col in subsidies_short:
    print col, subsidies_short[col].dtypes

RegionName object
Countries object
Type object
%SSFsubsidies_assessed float64
weighted_by_sectorsize object
Data_group float64

In [300]:
for col in countrydata_short:
    print col, countrydata_short[col].dtypes

Countries object
Subregion object

In [301]:
merged_countries_short = pd.merge(left=subsidies_short,right=countrydata_short, how='left')

In [302]:
merged_countries = pd.merge(left=subsidies,right=countrydata, how='left')

In [303]:
merged_countries_short.dtypes

RegionName                 object
Countries                  object
Type                       object
%SSFsubsidies_assessed    float64
weighted_by_sectorsize     object
Data_group                float64
Subregion                  object
dtype: object

In [304]:
groupby_subregions_type = merged_countries.groupby(['Subregion','Type']).sum()
groupby_subregions_type.reset_index()

,Subregion,Type,ID,Cnumber,RegionID,ReEst_Subsidy2009,NewData,HDI_2005,%SSFsubsidies_assessed,Data_group,%SSF_totalCatch_EEZ,%SSF_totalCatch_Country,SSF_USD_1000,CID,CLon,CLat,SIDS,TotPop,HDI,GDP
0,Australia and New Zealand,A1,1341,590,10,129241.779085,1,1.905,33.399670,6,33.399670,39.383025,21426.276002,104,305.340099,-68.575151,0,26909533,1.843,1.258700e+12
1,Australia and New Zealand,A2,1343,590,10,9922.318280,0,1.905,17.146119,3,33.399670,39.383025,1701.292472,104,305.340099,-68.575151,0,26909533,1.843,1.258700e+12
2,Australia and New Zealand,A3,1345,590,10,79448.594283,1,1.905,33.399670,6,33.399670,39.383025,15054.748009,104,305.340099,-68.575151,0,26909533,1.843,1.258700e+12
3,Australia and New Zealand,B1,1347,590,10,89014.750270,0,1.905,17.146119,3,33.399670,39.383025,15262.574761,104,305.340099,-68.575151,0,26909533,1.843,1.258700e+12
4,Australia and New Zealand,B2,1349,590,10,0.000000,0,1.905,NaN,NaN,33.399670,39.383025,NaN,104,305.340099,-68.575151,0,26909533,1.843,1.258700e+12
5,Australia and New Zealand,B3,1351,590,10,0.000000,0,1.905,NaN,NaN,33.399670,39.383025,NaN,104,305.340099,-68.575151,0,26909533,1.843,1.258700e+12
6,Australia and New Zealand,B4,1353,590,10,0.000000,0,1.905,NaN,NaN,33.399670,39.383025,NaN,104,305.340099,-68.575151,0,26909533,1.843,1.258700e+12
7,Australia and New Zealand,B5,1355,590,10,0.000000,0,1.905,NaN,NaN,33.399670,39.383025,NaN,104,305.340099,-68.575151,0,26909533,1.843,1.258700e+12
8,Australia and New Zealand,B6,1357,590,10,0.000000,0,1.905,NaN,NaN,33.399670,39.383025,NaN,104,305.340099,-68.575151,0,26909533,1.843,1.258700e+12
9,Australia and New Zealand,C1,1361,590,10,28262.262712,0,1.905,100.000000,2,33.399670,39.383025,28262.262712,104,305.340099,-68.575151,0,26909533,1.843,1.258700e+12
10,Australia and New Zealand,C2,1363,590,10,168997.617791,0,1.905,0.000000,3,33.399670,39.383025,0.000000,104,305.340099,-68.575151,0,26909533,1.843,1.258700e+12
11,Australia and New Zealand,C3,1365,590,10,0.000000,0,1.905,NaN,NaN,33.399670,39.383025,NaN,104,305.340099,-68.575151,0,26909533,1.843,1.258700e+12
12,Caribbean,A1,1354,580,8,14204.563990,0,1.574,190.100000,5,190.100000,181.792717,13239.783898,100,-156.155522,40.100795,2,13977301,1.530,1.527800e+11
13,Caribbean,A2,1356,580,8,0.000000,0,1.574,NaN,NaN,190.100000,181.792717,NaN,100,-156.155522,40.100795,2,13977301,1.530,1.527800e+11
14,Caribbean,A3,1358,580,8,9803.020892,0,1.574,190.100000,5,190.100000,181.792717,9274.321445,100,-156.155522,40.100795,2,13977301,1.530,1.527800e+11
15,Caribbean,B1,1360,580,8,8654.268922,0,1.574,100.000000,2,190.100000,181.792717,8654.268922,100,-156.155522,40.100795,2,13977301,1.530,1.527800e+11
16,Caribbean,B2,1362,580,8,1102.749167,1,1.574,181.792717,5,190.100000,181.792717,907.279170,100,-156.155522,40.100795,2,13977301,1.530,1.527800e+11
17,Caribbean,B3,1364,580,8,0.000000,0,1.574,NaN,NaN,190.100000,181.792717,NaN,100,-156.155522,40.100795,2,13977301,1.530,1.527800e+11
18,Caribbean,B4,1366,580,8,2436.401207,0,1.574,100.000000,2,190.100000,181.792717,2436.401207,100,-156.155522,40.100795,2,13977301,1.530,1.527800e+11
19,Caribbean,B5,1368,580,8,0.000000,0,1.574,NaN,NaN,190.100000,181.792717,NaN,100,-156.155522,40.100795,2,13977301,1.530,1.527800e+11
20,Caribbean,B6,1370,580,8,0.000000,0,1.574,NaN,NaN,190.100000,181.792717,NaN,100,-156.155522,40.100795,2,13977301,1.530,1.527800e+11
21,Caribbean,C1,1374,580,8,0.000000,0,1.574,NaN,NaN,190.100000,181.792717,NaN,100,-156.155522,40.100795,2,13977301,1.530,1.527800e+11
22,Caribbean,C2,1376,580,8,0.000000,0,1.574,NaN,NaN,190.100000,181.792717,NaN,100,-156.155522,40.100795,2,13977301,1.530,1.527800e+11
23,Caribbean,C3,1378,580,8,644.850741,0,1.574,100.000000,2,190.100000,181.792717,644.850741,100,-156.155522,40.100795,2,13977301,1.530,1.527800e+11
24,Central America,A1,4229,1821,18,41031.154338,0,3.197,67.450318,9,115.452457,103.978820,6612.211493,321,-351.346894,52.752454,0,134498961,2.898,2.321010e+12
25,Central America,A2,4233,1821,18,26098.801716,0,3.197,143.655814,8,115.452457,103.978820,10784.801781,321,-351.346894,52.752454,0,134498961,2.898,2.321010e+12
26,Central America,A3,4237,1821,18,19210.143120,0,3.197,115.459307,12,115.452457,103.978820,6631.776769,321,-351.346894,52.752454,0,134498961,2.898,2.321010e+12
27,Central America,B1,4241,1821,18,0.000000,0,3.197,NaN,NaN,115.452457,103.978820,NaN,321,-351.346894,52.752454,0,134498961,2.898,2.321010e+12
28,Central America,B2,4245,1821,18,1674.262234,3,3.197,35.344639,7,115.452457,103.978820,237.668391,321,-351.346894,52.752454,0,134498961,2.898,2.321010e+12
29,Central America,B3,4249,1821,18,0.000000,0,3.197,NaN,NaN,115.452457,103.978820,NaN,321,-351.346894,52.752454,0,134498961,2.898,2.321010e+12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,Western Africa,B4,7088,3036,18,10818.881328,1,2.864,201.549627,9,269.401466,365.468522,8290.804998,529,-41.428420,69.384239,0,237284703,2.815,1.242140e+12
211,Western Africa,B5,7094,3036,18,13493.031350,0,2.864,50.000000,4,269.401466,365.468522,2637.924284,529,-41.428420,69.384239,0,237284703,2.815,1.242140e+12
212,Western Africa,B6,7100,3036,18,6681.592074,1,2.864,0.000000,2,269.401466,365.468522,0.000000,529,-41.428420,69.384239,0,237284703,2.815,1.242140e+12
213,Western Africa,C1,7112,3036,18,471.611311,1,2.864,100.000000,2,269.401466,365.468522,471.611311,529,-41.428420,69.384239,0,237284703,2.815,1.242140e+12
214,Western Africa,C2,7118,3036,18,0.000000,0,2.864,NaN,NaN,269.401466,365.468522,NaN,529,-41.428420,69.384239,0,237284703,2.815,1.242140e+12
215,Western Africa,C3,7124,3036,18,5680.738385,0,2.864,600.000000,14,269.401466,365.468522,5680.738385,529,-41.428420,69.384239,0,237284703,2.815,1.242140e+12
216,Western Asia,A1,3408,1474,4,49329.749991,0,1.587,81.100000,6,81.114982,86.665592,12007.939411,258,79.655001,63.416639,0,108965378,1.595,3.128000e+12
217,Western Asia,A2,3410,1474,4,7495.464883,0,1.587,79.900000,6,81.114982,86.665592,4051.910527,258,79.655001,63.416639,0,108965378,1.595,3.128000e+12
218,Western Asia,A3,3412,1474,4,6020.948473,0,1.587,81.100000,6,81.114982,86.665592,1724.250880,258,79.655001,63.416639,0,108965378,1.595,3.128000e+12
219,Western Asia,B1,3414,1474,4,16006.024961,0,1.587,0.000000,2,81.114982,86.665592,0.000000,258,79.655001,63.416639,0,108965378,1.595,3.128000e+12
220,Western Asia,B2,3416,1474,4,33953.610232,1,1.587,115.000000,5,81.114982,86.665592,5095.695616,258,79.655001,63.416639,0,108965378,1.595,3.128000e+12
221,Western Asia,B3,3418,1474,4,0.000000,0,1.587,NaN,NaN,81.114982,86.665592,NaN,258,79.655001,63.416639,0,108965378,1.595,3.128000e+12
222,Western Asia,B4,3420,1474,4,22024.582593,0,1.587,0.000000,2,81.114982,86.665592,0.000000,258,79.655001,63.416639,0,108965378,1.595,3.128000e+12
223,Western Asia,B5,3422,1474,4,0.000000,0,1.587,NaN,NaN,81.114982,86.665592,NaN,258,79.655001,63.416639,0,108965378,1.595,3.128000e+12
224,Western Asia,B6,3424,1474,4,0.000000,0,1.587,NaN,NaN,81.114982,86.665592,NaN,258,79.655001,63.416639,0,108965378,1.595,3.128000e+12
225,Western Asia,C1,3428,1474,4,0.000000,0,1.587,NaN,NaN,81.114982,86.665592,NaN,258,79.655001,63.416639,0,108965378,1.595,3.128000e+12
226,Western Asia,C2,3430,1474,4,0.000000,0,1.587,NaN,NaN,81.114982,86.665592,NaN,258,79.655001,63.416639,0,108965378,1.595,3.128000e+12
227,Western Asia,C3,3432,1474,4,1367.021810,0,1.587,200.000000,5,81.114982,86.665592,1367.021810,258,79.655001,63.416639,0,108965378,1.595,3.128000e+12
228,Western Europe,A1,1835,778,2,37406.749168,2,1.905,40.762985,4,40.980712,22.302142,7854.974633,142,8.109970,98.927751,0,83136363,1.799,3.385100e+12
229,Western Europe,A2,1837,778,2,33151.656781,2,1.905,22.617134,6,40.980712,22.302142,4562.799174,142,8.109970,98.927751,0,83136363,1.799,3.385100e+12
230,Western Europe,A3,1839,778,2,22570.416613,0,1.905,40.932985,6,40.980712,22.302142,6955.288162,142,8.109970,98.927751,0,83136363,1.799,3.385100e+12
231,Western Europe,B1,1841,778,2,136543.967137,2,1.905,16.400000,5,40.980712,22.302142,18581.043278,142,8.109970,98.927751,0,83136363,1.799,3.385100e+12
232,Western Europe,B2,1843,778,2,11026.511790,2,1.905,9.900000,2,40.980712,22.302142,1091.624667,142,8.109970,98.927751,0,83136363,1.799,3.385100e+12
233,Western Europe,B3,1845,778,2,903.788941,0,1.905,22.117134,3,40.980712,22.302142,199.892207,142,8.109970,98.927751,0,83136363,1.799,3.385100e+12
234,Western Europe,B4,1847,778,2,35520.227633,2,1.905,22.617134,6,40.980712,22.302142,6914.605327,142,8.109970,98.927751,0,83136363,1.799,3.385100e+12
235,Western Europe,B5,1849,778,2,0.000000,0,1.905,NaN,NaN,40.980712,22.302142,NaN,142,8.109970,98.927751,0,83136363,1.799,3.385100e+12
236,Western Europe,B6,1851,778,2,55180.060301,2,1.905,0.000000,6,40.980712,22.302142,0.000000,142,8.109970,98.927751,0,83136363,1.799,3.385100e+12
237,Western Europe,C1,1855,778,2,135891.508438,2,1.905,22.617134,5,40.980712,22.302142,28415.470151,142,8.109970,98.927751,0,83136363,1.799,3.385100e+12
238,Western Europe,C2,1857,778,2,47375.889951,1,1.905,0.000000,5,40.980712,22.302142,0.000000,142,8.109970,98.927751,0,83136363,1.799,3.385100e+12
239,Western Europe,C3,1859,778,2,0.000000,0,1.905,NaN,NaN,40.980712,22.302142,NaN,142,8.109970,98.927751,0,83136363,1.799,3.385100e+12

In [305]:
mean_per_type = groupby_subregions_type.loc[:,['ReEst_Subsidy2009','SSF_USD_1000']]

In [306]:
SSF_Subsidies_Mean = merged_countries.groupby(['Subregion','Type']).sum()
SSF_Subsidies_Mean['MeanSSF_Subsidy'] = (SSF_Subsidies_Mean.SSF_USD_1000 / SSF_Subsidies_Mean.ReEst_Subsidy2009)*100

In [307]:
SSF_Subsidies_Mean = SSF_Subsidies_Mean.reset_index()

In [308]:
Catch = pd.read_csv("SAU_Catches.csv")

In [309]:
Catch.head()

,Region,Developed,Countries,EEZ,Recreational,Subsistence,Artisanal,Industrial,Total_Catch,SSF_Catch,SSF_Catch_percent
0,Europe,Developing,Albania,True,0.0,0.0,0.4,4.5,4.9,0.4,8.163265
1,Europe,Developing,Albania,False,0.0,0.0,0.4,4.4,4.8,0.4,8.333333
2,Africa,Developing,Algeria,True,1.1,0.2,89.8,164.7,255.8,90.0,35.183737
3,Africa,Developing,Algeria,False,1.1,0.2,89.8,156.7,247.8,90.0,36.319613
4,Africa,Developing,Angola,True,0.1,63.7,156.1,273.2,493.1,219.8,44.575137

In [310]:
Catch_Subregions = pd.merge(left=Catch,right=countrydata, how='left')
Catch_Subregions.head()

,Region,Developed,Countries,EEZ,Recreational,Subsistence,Artisanal,Industrial,Total_Catch,SSF_Catch,SSF_Catch_percent,CID,Subregion,CLon,CLat,SIDS,TotPop,HDI,Develop,GDP
0,Europe,Developing,Albania,True,0.0,0.0,0.4,4.5,4.9,0.4,8.163265,1,Southern Europe,20.050049,40.934006,0,3020209,0.749,High,3.066000e+10
1,Europe,Developing,Albania,False,0.0,0.0,0.4,4.4,4.8,0.4,8.333333,1,Southern Europe,20.050049,40.934006,0,3020209,0.749,High,3.066000e+10
2,Africa,Developing,Algeria,True,1.1,0.2,89.8,164.7,255.8,90.0,35.183737,2,Northern Africa,2.296145,27.940730,0,38813722,0.717,Medium,5.626000e+11
3,Africa,Developing,Algeria,False,1.1,0.2,89.8,156.7,247.8,90.0,36.319613,2,Northern Africa,2.296145,27.940730,0,38813722,0.717,Medium,5.626000e+11
4,Africa,Developing,Angola,True,0.1,63.7,156.1,273.2,493.1,219.8,44.575137,3,Middle Africa,17.237553,-13.299091,0,19088106,0.526,Low,1.755000e+11

In [311]:
Catch_groupby_subregions = Catch_Subregions.groupby(['Subregion', 'EEZ']).sum().reset_index()
Catch_groupby_subregions.head()

,Subregion,EEZ,Recreational,Subsistence,Artisanal,Industrial,Total_Catch,SSF_Catch,SSF_Catch_percent,CID,CLon,CLat,SIDS,TotPop,HDI,GDP
0,Australia and New Zealand,False,40.6,5.01,135.92,481.15,662.7,140.9,41.681948,104,305.340099,-68.575151,0,26909533,1.843,1.258700e+12
1,Australia and New Zealand,True,40.6,5.03,135.93,769.34,950.9,141.0,31.098267,104,305.340099,-68.575151,0,26909533,1.843,1.258700e+12
2,Caribbean,False,9.1,68.70,104.40,54.10,236.3,173.1,858.489485,827,-867.636998,215.454896,13,36751917,9.450,3.699738e+11
3,Caribbean,True,9.1,68.70,104.40,28.10,210.3,173.1,950.608313,827,-867.636998,215.454896,13,36751917,9.450,3.699738e+11
4,Central America,False,5.4,40.90,939.90,1679.10,2665.3,980.8,281.626831,380,-625.384348,105.242434,1,160602530,4.772,2.455517e+12

In [312]:
for col in Catch_groupby_subregions:
    print col, Catch_groupby_subregions[col].dtypes

Subregion object
EEZ bool
Recreational float64
Subsistence float64
Artisanal float64
Industrial float64
Total_Catch float64
SSF_Catch float64
SSF_Catch_percent float64
CID float64
CLon float64
CLat float64
SIDS float64
TotPop float64
HDI float64
GDP float64

In [313]:
Meancatch_subregions = (Catch_groupby_subregions.SSF_Catch / Catch_groupby_subregions.Total_Catch)*100
Meancatch_subregions.head()

0    21.261506
1    14.828058
2    73.254338
3    82.310984
4    36.798859
dtype: float64

In [314]:
Meancatch_subregions.columns = ['Subregion','EEZ','Mean_catch']

In [315]:
Meancatch_subregions.columns

['Subregion', 'EEZ', 'Mean_catch']

In [316]:
Type = pd.read_csv('Subtype_Fleet_EEZ.csv')

In [317]:
Type

                      SubType Type    EEZ
0            Fisheries mangt.   A1   True
1                 Fishery R&D   A2   True
2                        MPAs   A3   True
3   Boat constsruct. & renov.   B1  False
4     Fisheries dev. projects   B2  False
5       Fishing port develop.   B3  False
6   Markt. & storage infrast.   B4  False
7               Tax exemption   B5  False
8              Fishing access   B6  False
9              Fuel subsidies   B7  False
10          Fisher assistance   C1  False
11             Vessel buyback   C2  False
12   Rural fisher communities   C3  False

In [318]:
Subsidies2009 = pd.read_csv("subsidies2009_nofuel.csv")

In [319]:
Subsidies2009_subregions = pd.merge(left=Subsidies2009,right=countrydata, how='left')

In [320]:
Subsidies2009_subregions_Type = pd.merge(left=Subsidies2009_subregions, right=Type, how='left')

In [321]:
Subsidies2009_Catch = pd.merge(left=Subsidies2009_subregions_Type, right=Catch_Subregions, how='left')

In [322]:
Catch_Subregions.head()

,Region,Developed,Countries,EEZ,Recreational,Subsistence,Artisanal,Industrial,Total_Catch,SSF_Catch,SSF_Catch_percent,CID,Subregion,CLon,CLat,SIDS,TotPop,HDI,Develop,GDP
0,Europe,Developing,Albania,True,0.0,0.0,0.4,4.5,4.9,0.4,8.163265,1,Southern Europe,20.050049,40.934006,0,3020209,0.749,High,3.066000e+10
1,Europe,Developing,Albania,False,0.0,0.0,0.4,4.4,4.8,0.4,8.333333,1,Southern Europe,20.050049,40.934006,0,3020209,0.749,High,3.066000e+10
2,Africa,Developing,Algeria,True,1.1,0.2,89.8,164.7,255.8,90.0,35.183737,2,Northern Africa,2.296145,27.940730,0,38813722,0.717,Medium,5.626000e+11
3,Africa,Developing,Algeria,False,1.1,0.2,89.8,156.7,247.8,90.0,36.319613,2,Northern Africa,2.296145,27.940730,0,38813722,0.717,Medium,5.626000e+11
4,Africa,Developing,Angola,True,0.1,63.7,156.1,273.2,493.1,219.8,44.575137,3,Middle Africa,17.237553,-13.299091,0,19088106,0.526,Low,1.755000e+11

In [323]:
Subsidies2009_subregions_Type.head()

,ID,Cnumber,RegionID,RegionName,Countries,Type,SubType,Category,ReEst_Subsidy2009,NewData,...,CID,Subregion,CLon,CLat,SIDS,TotPop,HDI,Develop,GDP,EEZ
0,1,8,1,Europe,Albania,A1,Fisheries mangt.,Good,387.260735,0,...,1,Southern Europe,20.050049,40.934006,0,3020209,0.749,High,30660000000,True
1,2,8,1,Europe,Albania,A2,Fishery R&D,Good,198.557500,0,...,1,Southern Europe,20.050049,40.934006,0,3020209,0.749,High,30660000000,True
2,3,8,1,Europe,Albania,A3,MPAs,Good,58.941816,0,...,1,Southern Europe,20.050049,40.934006,0,3020209,0.749,High,30660000000,True
3,4,8,1,Europe,Albania,B1,Boat constsruct. & renov.,Bad,0.000000,0,...,1,Southern Europe,20.050049,40.934006,0,3020209,0.749,High,30660000000,False
4,5,8,1,Europe,Albania,B2,Fisheries dev. projects,Bad,472.011572,0,...,1,Southern Europe,20.050049,40.934006,0,3020209,0.749,High,30660000000,False

In [324]:
list(Subsidies2009_subregions_Type.columns.values)

['ID',
 'Cnumber',
 'RegionID',
 'RegionName',
 'Countries',
 'Type',
 'SubType',
 'Category',
 'ReEst_Subsidy2009',
 'NewData',
 'Developed',
 'HDI_2005',
 'CID',
 'Subregion',
 'CLon',
 'CLat',
 'SIDS',
 'TotPop',
 'HDI',
 'Develop',
 'GDP',
 'EEZ']

In [325]:
list(Catch_Subregions.columns.values)

['Region',
 'Developed',
 'Countries',
 'EEZ',
 'Recreational',
 'Subsistence',
 'Artisanal',
 'Industrial',
 'Total_Catch',
 'SSF_Catch',
 'SSF_Catch_percent',
 'CID',
 'Subregion',
 'CLon',
 'CLat',
 'SIDS',
 'TotPop',
 'HDI',
 'Develop',
 'GDP']

In [326]:
list(Subsidies2009_Catch.columns.values)

['ID',
 'Cnumber',
 'RegionID',
 'RegionName',
 'Countries',
 'Type',
 'SubType',
 'Category',
 'ReEst_Subsidy2009',
 'NewData',
 'Developed',
 'HDI_2005',
 'CID',
 'Subregion',
 'CLon',
 'CLat',
 'SIDS',
 'TotPop',
 'HDI',
 'Develop',
 'GDP',
 'EEZ',
 'Region',
 'Recreational',
 'Subsistence',
 'Artisanal',
 'Industrial',
 'Total_Catch',
 'SSF_Catch',
 'SSF_Catch_percent']

In [327]:
Subsidies2009_Catch.head()

,ID,Cnumber,RegionID,RegionName,Countries,Type,SubType,Category,ReEst_Subsidy2009,NewData,...,GDP,EEZ,Region,Recreational,Subsistence,Artisanal,Industrial,Total_Catch,SSF_Catch,SSF_Catch_percent
0,1,8,1,Europe,Albania,A1,Fisheries mangt.,Good,387.260735,0,...,30660000000,True,Europe,0,0,0.4,4.5,4.9,0.4,8.163265
1,2,8,1,Europe,Albania,A2,Fishery R&D,Good,198.557500,0,...,30660000000,True,Europe,0,0,0.4,4.5,4.9,0.4,8.163265
2,3,8,1,Europe,Albania,A3,MPAs,Good,58.941816,0,...,30660000000,True,Europe,0,0,0.4,4.5,4.9,0.4,8.163265
3,4,8,1,Europe,Albania,B1,Boat constsruct. & renov.,Bad,0.000000,0,...,30660000000,False,Europe,0,0,0.4,4.4,4.8,0.4,8.333333
4,5,8,1,Europe,Albania,B2,Fisheries dev. projects,Bad,472.011572,0,...,30660000000,False,Europe,0,0,0.4,4.4,4.8,0.4,8.333333

In [328]:
Subsidies2009_Catch_SubregionsEEZ = Subsidies2009_Catch.groupby(['Subregion','EEZ']).sum()

In [329]:
Subsidies2009_Catch_SubregionsEEZ[:1]

,,ID,Cnumber,RegionID,ReEst_Subsidy2009,NewData,HDI_2005,CID,CLon,CLat,SIDS,TotPop,HDI,GDP,Recreational,Subsistence,Artisanal,Industrial,Total_Catch,SSF_Catch,SSF_Catch_percent
Subregion,EEZ,,,,,,,,,,,,,,,,,,,,
Australia and New Zealand,False,12201,5310,90,286274.630773,0,17.145,936,2748.060891,-617.176359,0,242185797,16.587,1.132830e+13,365.4,45.09,1223.28,4330.35,5964.3,1268.1,375.137536

In [330]:
Subsidies2009_Catch_SubregionEEZ['Mean_Catch'] = (Subsidies2009_Catch_SubregionsEEZ['SSF_Catch']/Subsidies2009_Catch_SubregionsEEZ['Total_Catch'])*100

In [331]:
Subregion_EEZ_MeanCatch = Subsidies2009_Catch_SubregionEEZ.reset_index()

In [332]:
Subregion_EEZ_MeanCatch[:1]['Mean_Catch'].isnull()

0    False
Name: Mean_Catch, dtype: bool

In [333]:
Catch_Subregions_MeanCatch = pd.merge(left=Catch_Subregions,right=Subregion_EEZ_MeanCatch, how='left')

In [334]:
Catch_Subregions_MeanCatch[:1]['Mean_Catch']

0   NaN
Name: Mean_Catch, dtype: float64

In [335]:
Catch_Subregions_short = Catch_Subregions.loc[:,['Subregion','Countries','EEZ','Total_Catch','SSF_Catch','SSF_Catch_percent']]

In [336]:
Subregion_EEZ_MeanCatch_short = Subregion_EEZ_MeanCatch.loc[:,['Subregion','EEZ','Mean_Catch']]

In [337]:
Catch_Subregions_MeanCatch = pd.merge(left=Catch_Subregions_short,right=Subregion_EEZ_MeanCatch_short, how='left')

In [338]:
Catch_Subregions_MeanCatch[:1]['Mean_Catch'].isnull()

0    False
Name: Mean_Catch, dtype: bool

In [339]:
Catch_Subregions_MeanCatch.head()

,Subregion,Countries,EEZ,Total_Catch,SSF_Catch,SSF_Catch_percent,Mean_Catch
0,Southern Europe,Albania,True,4.9,0.4,8.163265,21.604105
1,Southern Europe,Albania,False,4.8,0.4,8.333333,11.281907
2,Northern Africa,Algeria,True,255.8,90.0,35.183737,10.937544
3,Northern Africa,Algeria,False,247.8,90.0,36.319613,17.029353
4,Middle Africa,Angola,True,493.1,219.8,44.575137,43.202177

In [340]:
Catch_Subregions_MeanCatch['Factor'] = Catch_Subregions_MeanCatch['SSF_Catch_percent']/Catch_Subregions_MeanCatch['Mean_Catch']

In [341]:
Catch_Subregions_MeanCatch[:1]

,Subregion,Countries,EEZ,Total_Catch,SSF_Catch,SSF_Catch_percent,Mean_Catch,Factor
0,Southern Europe,Albania,True,4.9,0.4,8.163265,21.604105,0.377857

In [342]:
SSF_Subsidies_Mean[:1]

,Subregion,Type,ID,Cnumber,RegionID,ReEst_Subsidy2009,NewData,HDI_2005,%SSFsubsidies_assessed,Data_group,...,%SSF_totalCatch_Country,SSF_USD_1000,CID,CLon,CLat,SIDS,TotPop,HDI,GDP,MeanSSF_Subsidy
0,Australia and New Zealand,A1,1341,590,10,129241.779085,1,1.905,33.39967,6,...,39.383025,21426.276002,104,305.340099,-68.575151,0,26909533,1.843,1.258700e+12,16.578444

In [343]:
SSF_Subsidies_Mean_Type = pd.merge(left=SSF_Subsidies_Mean,right=Type, how='left')

In [344]:
SSF_Subsidies_Catch = pd.merge(left=Catch_Subregions_MeanCatch,right=SSF_Subsidies_Mean_Type, how='left')

In [345]:
SSF_Subsidies_Catch.dtypes

Subregion                   object
Countries                   object
EEZ                           bool
Total_Catch                float64
SSF_Catch                  float64
SSF_Catch_percent          float64
Mean_Catch                 float64
Factor                     float64
Type                        object
ID                         float64
Cnumber                    float64
RegionID                   float64
ReEst_Subsidy2009          float64
NewData                    float64
HDI_2005                   float64
%SSFsubsidies_assessed     float64
Data_group                 float64
%SSF_totalCatch_EEZ        float64
%SSF_totalCatch_Country    float64
SSF_USD_1000               float64
CID                        float64
CLon                       float64
CLat                       float64
SIDS                       float64
TotPop                     float64
HDI                        float64
GDP                        float64
MeanSSF_Subsidy            float64
SubType                     object
dtype: object

In [346]:
SSF_Subsidies_Catch.loc[[0,12,24,36,48,60,72,84,96,108,120,132,144,156,168,180],['Subregion','Countries','SSF_Catch_percent','EEZ','Mean_Catch','Factor','Type','MeanSSF_Subsidy']]

,Subregion,Countries,SSF_Catch_percent,EEZ,Mean_Catch,Factor,Type,MeanSSF_Subsidy
0,Southern Europe,Albania,8.163265,True,21.604105,0.377857,A1,18.362173
12,Northern Africa,Algeria,35.183737,True,10.937544,3.216786,A1,7.367768
24,Middle Africa,Angola,44.575137,True,43.202177,1.031780,A1,46.966215
36,Caribbean,Antigua Barb,72.222222,True,82.310984,0.877431,A1,93.207957
48,South America,Argentina,16.685018,True,15.438933,1.080711,A1,28.574760
60,Australia and New Zealand,Australia,17.161339,True,14.828058,1.157356,A1,16.578444
72,Caribbean,Bahamas,16.167665,True,82.310984,0.196422,A1,93.207957
84,Western Asia,Bahrain,97.457627,True,46.748601,2.084718,A1,24.342186
96,Southern Asia,Bangladesh,85.767080,True,51.299496,1.671889,A1,51.791692
108,Caribbean,Barbados,50.819672,True,82.310984,0.617411,A1,93.207957
120,Western Europe,Belgium,0.000000,True,2.506796,0.000000,A1,20.998817
132,Central America,Belize,98.412698,True,42.353094,2.323625,A1,16.115100
144,Western Africa,Benin,90.344828,True,24.894425,3.629119,A1,30.355160
156,Southern Europe,Bosnia Herzg,100.000000,True,21.604105,4.628750,A1,18.362173
168,South America,Brazil,49.123192,True,15.438933,3.181774,A1,28.574760
180,Southeastern Asia,Brunei Darsm,70.256410,True,25.639018,2.740215,A1,27.286201

In [347]:
SSF_Subsidies_Catch.loc[:,['Subregion','Countries','SSF_Catch_percent','EEZ','Mean_Catch','Factor','Type','MeanSSF_Subsidy','ReEst_Subsidy2009']]

,Subregion,Countries,SSF_Catch_percent,EEZ,Mean_Catch,Factor,Type,MeanSSF_Subsidy,ReEst_Subsidy2009
0,Southern Europe,Albania,8.163265,True,21.604105,0.377857,A1,18.362173,135643.398904
1,Southern Europe,Albania,8.163265,True,21.604105,0.377857,A2,15.504889,35368.805802
2,Southern Europe,Albania,8.163265,True,21.604105,0.377857,A3,19.765938,34435.597343
3,Southern Europe,Albania,8.333333,False,11.281907,0.738646,B1,7.439307,409979.471211
4,Southern Europe,Albania,8.333333,False,11.281907,0.738646,B2,3.007716,100160.144029
5,Southern Europe,Albania,8.333333,False,11.281907,0.738646,B3,26.746193,64690.507695
6,Southern Europe,Albania,8.333333,False,11.281907,0.738646,B4,8.601271,191818.120044
7,Southern Europe,Albania,8.333333,False,11.281907,0.738646,B5,0.000000,5696.462091
8,Southern Europe,Albania,8.333333,False,11.281907,0.738646,B6,0.000000,78569.871113
9,Southern Europe,Albania,8.333333,False,11.281907,0.738646,C1,23.685841,106681.007689
10,Southern Europe,Albania,8.333333,False,11.281907,0.738646,C2,0.000000,358186.704437
11,Southern Europe,Albania,8.333333,False,11.281907,0.738646,C3,NaN,0.000000
12,Northern Africa,Algeria,35.183737,True,10.937544,3.216786,A1,7.367768,31065.276556
13,Northern Africa,Algeria,35.183737,True,10.937544,3.216786,A2,3.313958,20834.585956
14,Northern Africa,Algeria,35.183737,True,10.937544,3.216786,A3,14.537485,6798.744851
15,Northern Africa,Algeria,36.319613,False,17.029353,2.132765,B1,8.952369,140000.000000
16,Northern Africa,Algeria,36.319613,False,17.029353,2.132765,B2,89.083072,13325.354180
17,Northern Africa,Algeria,36.319613,False,17.029353,2.132765,B3,0.000000,1696.554890
18,Northern Africa,Algeria,36.319613,False,17.029353,2.132765,B4,0.904481,14066.291200
19,Northern Africa,Algeria,36.319613,False,17.029353,2.132765,B5,26.433121,1095.344209
20,Northern Africa,Algeria,36.319613,False,17.029353,2.132765,B6,NaN,0.000000
21,Northern Africa,Algeria,36.319613,False,17.029353,2.132765,C1,NaN,0.000000
22,Northern Africa,Algeria,36.319613,False,17.029353,2.132765,C2,NaN,0.000000
23,Northern Africa,Algeria,36.319613,False,17.029353,2.132765,C3,100.000000,3466.027881
24,Middle Africa,Angola,44.575137,True,43.202177,1.031780,A1,46.966215,23856.257384
25,Middle Africa,Angola,44.575137,True,43.202177,1.031780,A2,53.738696,4650.646515
26,Middle Africa,Angola,44.575137,True,43.202177,1.031780,A3,42.223177,2425.916986
27,Middle Africa,Angola,46.050702,False,55.582982,0.828504,B1,40.578399,51147.944818
28,Middle Africa,Angola,46.050702,False,55.582982,0.828504,B2,48.034360,40331.981159
29,Middle Africa,Angola,46.050702,False,55.582982,0.828504,B3,0.000000,5717.007841
...,...,...,...,...,...,...,...,...,...
1716,South America,Venezuela,75.698865,False,16.222022,4.666426,B4,2.517825,111765.186382
1717,South America,Venezuela,75.698865,False,16.222022,4.666426,B5,7.859186,121410.760170
1718,South America,Venezuela,75.698865,False,16.222022,4.666426,B6,NaN,0.000000
1719,South America,Venezuela,75.698865,False,16.222022,4.666426,C1,84.843506,55207.507074
1720,South America,Venezuela,75.698865,False,16.222022,4.666426,C2,0.000000,30598.870245
1721,South America,Venezuela,75.698865,False,16.222022,4.666426,C3,48.154026,19768.425194
1722,Southeastern Asia,Viet Nam,31.829626,True,25.639018,1.241453,A1,27.286201,518663.910611
1723,Southeastern Asia,Viet Nam,31.829626,True,25.639018,1.241453,A2,26.446575,421554.522930
1724,Southeastern Asia,Viet Nam,31.829626,True,25.639018,1.241453,A3,24.929216,59455.944267
1725,Southeastern Asia,Viet Nam,37.108916,False,25.620735,1.448394,B1,14.004083,740419.326080
1726,Southeastern Asia,Viet Nam,37.108916,False,25.620735,1.448394,B2,33.667795,89536.250457
1727,Southeastern Asia,Viet Nam,37.108916,False,25.620735,1.448394,B3,0.000000,206750.484602
1728,Southeastern Asia,Viet Nam,37.108916,False,25.620735,1.448394,B4,7.040771,149755.689826
1729,Southeastern Asia,Viet Nam,37.108916,False,25.620735,1.448394,B5,8.665035,235119.517549
1730,Southeastern Asia,Viet Nam,37.108916,False,25.620735,1.448394,B6,NaN,0.000000
1731,Southeastern Asia,Viet Nam,37.108916,False,25.620735,1.448394,C1,75.945901,68614.431865
1732,Southeastern Asia,Viet Nam,37.108916,False,25.620735,1.448394,C2,NaN,0.000000
1733,Southeastern Asia,Viet Nam,37.108916,False,25.620735,1.448394,C3,100.000000,80688.023588
1734,Western Asia,Yemen,91.739130,True,46.748601,1.962393,A1,24.342186,49329.749991
1735,Western Asia,Yemen,91.739130,True,46.748601,1.962393,A2,54.058162,7495.464883
1736,Western Asia,Yemen,91.739130,True,46.748601,1.962393,A3,28.637529,6020.948473
1737,Western Asia,Yemen,78.487291,False,34.267004,2.290463,B1,0.000000,16006.024961
1738,Western Asia,Yemen,78.487291,False,34.267004,2.290463,B2,15.007817,33953.610232
1739,Western Asia,Yemen,78.487291,False,34.267004,2.290463,B3,NaN,0.000000
1740,Western Asia,Yemen,78.487291,False,34.267004,2.290463,B4,0.000000,22024.582593
1741,Western Asia,Yemen,78.487291,False,34.267004,2.290463,B5,NaN,0.000000
1742,Western Asia,Yemen,78.487291,False,34.267004,2.290463,B6,NaN,0.000000
1743,Western Asia,Yemen,78.487291,False,34.267004,2.290463,C1,NaN,0.000000
1744,Western Asia,Yemen,78.487291,False,34.267004,2.290463,C2,NaN,0.000000
1745,Western Asia,Yemen,78.487291,False,34.267004,2.290463,C3,100.000000,1367.021810

In [348]:
SSF_Subsidies_Catch['SSF_Subsidies_estimate'] = SSF_Subsidies_Catch.Factor * SSF_Subsidies_Catch.MeanSSF_Subsidy

In [349]:
list(SSF_Subsidies_Catch.columns.values)

['Subregion',
 'Countries',
 'EEZ',
 'Total_Catch',
 'SSF_Catch',
 'SSF_Catch_percent',
 'Mean_Catch',
 'Factor',
 'Type',
 'ID',
 'Cnumber',
 'RegionID',
 'ReEst_Subsidy2009',
 'NewData',
 'HDI_2005',
 '%SSFsubsidies_assessed',
 'Data_group',
 '%SSF_totalCatch_EEZ',
 '%SSF_totalCatch_Country',
 'SSF_USD_1000',
 'CID',
 'CLon',
 'CLat',
 'SIDS',
 'TotPop',
 'HDI',
 'GDP',
 'MeanSSF_Subsidy',
 'SubType',
 'SSF_Subsidies_estimate']

In [350]:
SSF_Subsidies_estimates = SSF_Subsidies_Catch.loc[:,['Subregion','Countries','SSF_Catch_percent','EEZ','Mean_Catch','Factor','Type','MeanSSF_Subsidy','SSF_Subsidies_estimate','ReEst_Subsidy2009']]

In [351]:
list(SSF_Subsidies_estimates.columns.values)

['Subregion',
 'Countries',
 'SSF_Catch_percent',
 'EEZ',
 'Mean_Catch',
 'Factor',
 'Type',
 'MeanSSF_Subsidy',
 'SSF_Subsidies_estimate',
 'ReEst_Subsidy2009']

In [352]:
pd.merge(left=SSF_Subsidies_estimates,right=merged_countries_short, how='left')

,Subregion,Countries,SSF_Catch_percent,EEZ,Mean_Catch,Factor,Type,MeanSSF_Subsidy,SSF_Subsidies_estimate,ReEst_Subsidy2009,RegionName,%SSFsubsidies_assessed,weighted_by_sectorsize,Data_group
0,Southern Europe,Albania,8.163265,True,21.604105,0.377857,A1,18.362173,6.938278,135643.398904,NaN,NaN,NaN,NaN
1,Southern Europe,Albania,8.163265,True,21.604105,0.377857,A2,15.504889,5.858633,35368.805802,NaN,NaN,NaN,NaN
2,Southern Europe,Albania,8.163265,True,21.604105,0.377857,A3,19.765938,7.468701,34435.597343,NaN,NaN,NaN,NaN
3,Southern Europe,Albania,8.333333,False,11.281907,0.738646,B1,7.439307,5.495013,409979.471211,NaN,NaN,NaN,NaN
4,Southern Europe,Albania,8.333333,False,11.281907,0.738646,B2,3.007716,2.221637,100160.144029,NaN,NaN,NaN,NaN
5,Southern Europe,Albania,8.333333,False,11.281907,0.738646,B3,26.746193,19.755964,64690.507695,NaN,NaN,NaN,NaN
6,Southern Europe,Albania,8.333333,False,11.281907,0.738646,B4,8.601271,6.353293,191818.120044,NaN,NaN,NaN,NaN
7,Southern Europe,Albania,8.333333,False,11.281907,0.738646,B5,0.000000,0.000000,5696.462091,NaN,NaN,NaN,NaN
8,Southern Europe,Albania,8.333333,False,11.281907,0.738646,B6,0.000000,0.000000,78569.871113,NaN,NaN,NaN,NaN
9,Southern Europe,Albania,8.333333,False,11.281907,0.738646,C1,23.685841,17.495448,106681.007689,NaN,NaN,NaN,NaN
10,Southern Europe,Albania,8.333333,False,11.281907,0.738646,C2,0.000000,0.000000,358186.704437,NaN,NaN,NaN,NaN
11,Southern Europe,Albania,8.333333,False,11.281907,0.738646,C3,NaN,NaN,0.000000,NaN,NaN,NaN,NaN
12,Northern Africa,Algeria,35.183737,True,10.937544,3.216786,A1,7.367768,23.700532,31065.276556,NaN,NaN,NaN,NaN
13,Northern Africa,Algeria,35.183737,True,10.937544,3.216786,A2,3.313958,10.660292,20834.585956,NaN,NaN,NaN,NaN
14,Northern Africa,Algeria,35.183737,True,10.937544,3.216786,A3,14.537485,46.763976,6798.744851,NaN,NaN,NaN,NaN
15,Northern Africa,Algeria,36.319613,False,17.029353,2.132765,B1,8.952369,19.093302,140000.000000,NaN,NaN,NaN,NaN
16,Northern Africa,Algeria,36.319613,False,17.029353,2.132765,B2,89.083072,189.993278,13325.354180,NaN,NaN,NaN,NaN
17,Northern Africa,Algeria,36.319613,False,17.029353,2.132765,B3,0.000000,0.000000,1696.554890,NaN,NaN,NaN,NaN
18,Northern Africa,Algeria,36.319613,False,17.029353,2.132765,B4,0.904481,1.929046,14066.291200,NaN,NaN,NaN,NaN
19,Northern Africa,Algeria,36.319613,False,17.029353,2.132765,B5,26.433121,56.375641,1095.344209,NaN,NaN,NaN,NaN
20,Northern Africa,Algeria,36.319613,False,17.029353,2.132765,B6,NaN,NaN,0.000000,NaN,NaN,NaN,NaN
21,Northern Africa,Algeria,36.319613,False,17.029353,2.132765,C1,NaN,NaN,0.000000,NaN,NaN,NaN,NaN
22,Northern Africa,Algeria,36.319613,False,17.029353,2.132765,C2,NaN,NaN,0.000000,NaN,NaN,NaN,NaN
23,Northern Africa,Algeria,36.319613,False,17.029353,2.132765,C3,100.000000,213.276522,3466.027881,NaN,NaN,NaN,NaN
24,Middle Africa,Angola,44.575137,True,43.202177,1.031780,A1,46.966215,48.458795,23856.257384,Africa,44.575137,TRUE,3
25,Middle Africa,Angola,44.575137,True,43.202177,1.031780,A2,53.738696,55.446505,4650.646515,Africa,46.050702,TRUE,3
26,Middle Africa,Angola,44.575137,True,43.202177,1.031780,A3,42.223177,43.565025,2425.916986,Africa,44.575137,TRUE,3
27,Middle Africa,Angola,46.050702,False,55.582982,0.828504,B1,40.578399,33.619350,51147.944818,Africa,46.050702,TRUE,2
28,Middle Africa,Angola,46.050702,False,55.582982,0.828504,B2,48.034360,39.796641,40331.981159,Africa,46.050702,TRUE,3
29,Middle Africa,Angola,46.050702,False,55.582982,0.828504,B3,0.000000,0.000000,5717.007841,Africa,0.000000,FALSE,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1716,South America,Venezuela,75.698865,False,16.222022,4.666426,B4,2.517825,11.749245,111765.186382,"South, Central America and Carribbean",0.000000,0,2
1717,South America,Venezuela,75.698865,False,16.222022,4.666426,B5,7.859186,36.674311,121410.760170,"South, Central America and Carribbean",75.698865,1,2
1718,South America,Venezuela,75.698865,False,16.222022,4.666426,B6,NaN,NaN,0.000000,"South, Central America and Carribbean",NaN,NaN,NaN
1719,South America,Venezuela,75.698865,False,16.222022,4.666426,C1,84.843506,395.915935,55207.507074,"South, Central America and Carribbean",NaN,NaN,NaN
1720,South America,Venezuela,75.698865,False,16.222022,4.666426,C2,0.000000,0.000000,30598.870245,"South, Central America and Carribbean",NaN,NaN,NaN
1721,South America,Venezuela,75.698865,False,16.222022,4.666426,C3,48.154026,224.707192,19768.425194,"South, Central America and Carribbean",100.000000,0,2
1722,Southeastern Asia,Viet Nam,31.829626,True,25.639018,1.241453,A1,27.286201,33.874526,518663.910611,Asia,31.829626,TRUE,3
1723,Southeastern Asia,Viet Nam,31.829626,True,25.639018,1.241453,A2,26.446575,32.832170,421554.522930,Asia,37.108916,TRUE,3
1724,Southeastern Asia,Viet Nam,31.829626,True,25.639018,1.241453,A3,24.929216,30.948440,59455.944267,Asia,31.829626,TRUE,3
1725,Southeastern Asia,Viet Nam,37.108916,False,25.620735,1.448394,B1,14.004083,20.283429,740419.326080,Asia,0.000000,FALSE,2
1726,Southeastern Asia,Viet Nam,37.108916,False,25.620735,1.448394,B2,33.667795,48.764229,89536.250457,Asia,37.108916,TRUE,3
1727,Southeastern Asia,Viet Nam,37.108916,False,25.620735,1.448394,B3,0.000000,0.000000,206750.484602,Asia,0.000000,FALSE,2
1728,Southeastern Asia,Viet Nam,37.108916,False,25.620735,1.448394,B4,7.040771,10.197810,149755.689826,Asia,NaN,NaN,NaN
1729,Southeastern Asia,Viet Nam,37.108916,False,25.620735,1.448394,B5,8.665035,12.550384,235119.517549,Asia,NaN,NaN,NaN
1730,Southeastern Asia,Viet Nam,37.108916,False,25.620735,1.448394,B6,NaN,NaN,0.000000,Asia,NaN,NaN,NaN
1731,Southeastern Asia,Viet Nam,37.108916,False,25.620735,1.448394,C1,75.945901,109.999580,68614.431865,Asia,NaN,NaN,NaN
1732,Southeastern Asia,Viet Nam,37.108916,False,25.620735,1.448394,C2,NaN,NaN,0.000000,Asia,NaN,NaN,NaN
1733,Southeastern Asia,Viet Nam,37.108916,False,25.620735,1.448394,C3,100.000000,144.839390,80688.023588,Asia,NaN,NaN,NaN
1734,Western Asia,Yemen,91.739130,True,46.748601,1.962393,A1,24.342186,47.768937,49329.749991,NaN,NaN,NaN,NaN
1735,Western Asia,Yemen,91.739130,True,46.748601,1.962393,A2,54.058162,106.083362,7495.464883,NaN,NaN,NaN,NaN
1736,Western Asia,Yemen,91.739130,True,46.748601,1.962393,A3,28.637529,56.198089,6020.948473,NaN,NaN,NaN,NaN
1737,Western Asia,Yemen,78.487291,False,34.267004,2.290463,B1,0.000000,0.000000,16006.024961,NaN,NaN,NaN,NaN
1738,Western Asia,Yemen,78.487291,False,34.267004,2.290463,B2,15.007817,34.374843,33953.610232,NaN,NaN,NaN,NaN
1739,Western Asia,Yemen,78.487291,False,34.267004,2.290463,B3,NaN,NaN,0.000000,NaN,NaN,NaN,NaN
1740,Western Asia,Yemen,78.487291,False,34.267004,2.290463,B4,0.000000,0.000000,22024.582593,NaN,NaN,NaN,NaN
1741,Western Asia,Yemen,78.487291,False,34.267004,2.290463,B5,NaN,NaN,0.000000,NaN,NaN,NaN,NaN
1742,Western Asia,Yemen,78.487291,False,34.267004,2.290463,B6,NaN,NaN,0.000000,NaN,NaN,NaN,NaN
1743,Western Asia,Yemen,78.487291,False,34.267004,2.290463,C1,NaN,NaN,0.000000,NaN,NaN,NaN,NaN
1744,Western Asia,Yemen,78.487291,False,34.267004,2.290463,C2,NaN,NaN,0.000000,NaN,NaN,NaN,NaN
1745,Western Asia,Yemen,78.487291,False,34.267004,2.290463,C3,100.000000,229.046258,1367.021810,NaN,NaN,NaN,NaN